[2021-01-27 20:22] ann0see commented on #14
Should this still be open?

[2021-01-28 19:09] ann0see commented on #250
To come back to the topic of this issue:

Any more opinions on this?
How visible/invisible should this be?

@mulyaj

[2021-01-28 22:39] trebmuh opened #271 "Link to be changed in Installation-for-Linux"
In https://jamulus.io/wiki/Installation-for-Linux , we've got a link to https://github.com/corrados/jamulus/issues/223 but that issue has been converted to [a discussion ](https://github.com/corrados/jamulus/discussions/914#discussioncomment-318905). I'm not changing it right with a PR since the repo will likely move from https://github.com/corrados/jamulus to https://github.com/jamulussoftware/ja

[2021-01-28 22:56] pljones commented on #250
Also...

This isn't clear -- it sounds as if making a server public on a central server broadcast audio to all clients -- whether connected to _your_ server or somewhere else!  Which, of course, it doesn't.  In fact, making a server public has no effect on where the audio goes.

More accurate:

(NOT on this page, somewhere we need to explain about official server lists, custom/private server lists

[2021-01-29 08:16] gilgongo commented on #250
To summarise:

We make the assumption that there are two distinct "phases" of starting out with Jamulus (downloading, installing and setting up audio hardware to work with it, then connecting to a server and playing with people for the first time).

If so, and because Getting Started existed before we wrote Onboarding, then we could make a decision to split some things out from one to the other.

[2021-01-29 08:43] gene96817 commented on #250
I agree that there is a "significant" risk that some people will just skip the documentation. If and when they fail, it should be possible for them to cleanly start over and read the information we provide. I expect people will be more interested in reading the information after they have failed their first try.

[2021-01-29 08:50] pljones commented on #250
I think the primary things to prevent a first time user doing that could cause them simply to bin Jamulus are:
* using their laptop mic and speakers - e.g. ASIO4ALL with all inputs and outputs enabled; can also happen on MacOS, I think
* not as immediate, using WiFi

Different people will have different experiences with their WiFi.  However everyone trying out ASIO4ALL needs to know how to set it

[2021-01-29 21:09] ann0see commented on #271
Yes. You're right. It should be changed. Furthermore, I think we should start a release process of the documentation soon with all the link changes/... @gilgongo what do you think?

[2021-01-29 21:20] gilgongo commented on #271
Yes I was wondering about that.

[2021-01-29 21:45] pljones commented on #271
See also https://github.com/jamulussoftware/jamulus/issues/908#issuecomment-770063290

[2021-01-29 22:14] dcorson-ticino-com commented on #250
I think we need to start by lowering any hesitation and showing that Jamulus is easy-> i.e. minimum needs, showing pictures of what users should expect (as is done in onboarding) and then mentioning how to upgrade.
I would also turn the "onboarding" page into "Getting Started" or "First Steps" with the program installation now in getting started as a link to "Program Installation" or such as that

[2021-01-30 08:27] gilgongo commented on #250
I would say that there's certainly a case for combining Getting Started and Onboarding, if only because the former was written first and may not sit well with the latter now perhaps.

However, @dcorson-ticino-com I think there are probably two competing approaches to the problem of getting people started with software in general:

1. Tell them what they need to do comprehensively, but as briefly a

[2021-01-30 10:53] dcorson-ticino-com commented on #250
Good thoughts.
I think the basic difference is that sites like Zoom are pure PR events.  There is no actionable information, just pretty pictures and the promise of a perfect world, you just need to click.  If you need help there is nothing (but google).

While we, of course, want to convince people to use Jamulus, we are not selling anything, we are offering good product and a helping hand to get

[2021-01-30 11:14] gilgongo commented on #250
I don't really agree that the commercial considerations of those systems are that relevant (they do in fact have very extensive documentation, should people wish to click on "help"). VLC is free. [Tor](https://www.torproject.org/) is free. They are (arguably) rather more complex in some ways than Jamulus. In fact Tor a very good example of what I mean.

I agree, but my point is a "cultural" (perha

[2021-01-30 12:04] dcorson-ticino-com commented on #265
I have seen no disadvantages in setting to automatic and leaving that setting.
Sometimes when connected to servers with flaky connections the buffering gets out of hand, but that is easily seen in the overall delay times and choosing a server with a better connection resolves things again.
I had even considered if it would be better to default to automatic (which I think is the case) and remove th

[2021-01-30 12:10] gilgongo commented on #265
Ah, by "buffer settings" are we talking about jitter buffers, audio card buffers, or both? I would imagine jitter buffers would definitely not be something we'd want to bother new users with.

[2021-01-30 14:04] dcorson-ticino-com commented on #265
Oh, yes I was talking about jitter buffer.
The interface buffer, set once and forgotten.

[2021-01-30 18:21] gene96817 commented on #250
We do have a cultural bias that makes Jamulus difficult for non-engineering musicians. A lot of our solutions require being a server administrator. That is a big barrier for many people. Of course, there are a lot of people where administering a server is a basic skill.

[2021-01-30 19:47] gilgongo commented on #250
Well, server setup and maintenance is a specialist skill (beyond simply spinning up a small public server to see if that works with some friends - that's trivial).

Fundamentally, you don't need to run a server to use Jamulus and when I wrote the server docs I was almost _trying_ to make them sound complicated for that reason. But this is a [totally separate conversation](https://github.com/jamulu

[2021-01-30 19:52] gene96817 commented on #250
"Well, server setup and maintenance is a specialist skill (beyond simply spinning up a small public server to see if that works with some friends - that's trivial)."

Apparently, I have misunderstood the frequent discussions about spinning up a (small) public server for demo/test purposes. It was never clear to me that comments on how easy it is to just run a server were not a recommended (and rou

[2021-01-30 20:10] mulyaj commented on #250
I definitely agree with this approach.

Currently, I think the content in the Getting Started page sits in a weird spot where different types of information with different values are presented to the user. For us, we know that this is pertinent information and we believe we must tell them as soon as possible, therefore we think the solution is easy: just put it at the beginning!

However, new user

[2021-01-30 20:12] mulyaj commented on #250
I do agree with @dcorson-ticino-com that "Onboarding" might be too HR. Maybe something like "Using Jamulus for the first time" would be better?

[2021-01-31 00:21] pljones commented on #250
Random thoughts...

Try this as a first time user.
1. Go to jamulus.io
2. Read the banner ... where's download?  "Advanced: download now"

Why is it "Advanced" to "download now"?  That immediately says: "TL/DR - go away"

That "Get started now" should be "Download now", to an OS-detecting link that kicks off the latest download immediately.  Then underneath it should be the "Get started with Jamul

[2021-01-31 00:35] gene96817 commented on #250
I like the direction. Regarding "appeal to the stand alone user", many musicians are being introduced (pushed?) into Jamulus because their ensemble (chorus) will use Jamulus. They need to feel reassured when they first visit jamulus.io.

[2021-01-31 00:51] pljones commented on #250
I'm being off topic still..

Another front page point should be to feature "What are people doing with Jamulus?", and encourage projects to get in touch.

[2021-01-31 06:13] vdellamea commented on #54
Since it is difficult to write a rule, what if the server requirements documentation starts with a known list of functioning configurations? Another thread is running now on Facebook with a lot of useful information, but yet is difficult to summarize.

[2021-01-31 07:43] gilgongo commented on #54
From what I can tell, the issue of server "sizing" (in any field, not just Jamulus) largely boils down to starting with some general "ball park" parameters, then refining it for your own circumstances. So we could provide general "guidelines" perhaps based on ensemble size and likely modifications (eg if you are wanting to pipe things to Zoom or whatnot)? [This page](https://jamulus.io/wiki/Networ

[2021-01-31 08:02] gilgongo commented on #250
@pljones Yes, I think this highlights the fact that the "journey" has been a bit too fragmented in its creation and your suggested modifications are good ones - if only because I have suggested some of them in the past :-).

BTW as I've just said in [another discussion](https://github.com/orgs/jamulussoftware/teams/designers/discussions/4) (there are a lot of them): do we think it might be an idea

[2021-01-31 08:22] gilgongo opened #274 "Jekyl build fails with permission issue"
Not sure what this is about but after one of my recent commits to changes branch:

[code]

[2021-01-31 09:14] gene96817 commented on #54
With the table of bandwidth requirements, it seems we can translate it into server sizing estimates. Can't we have a model that focuses on three main parts: (1) processing of N audio streams, (2) managing the networking for N destinations, and (3) Jamulus overhead and any nonlinearities of the overhead. It would be good to start with a simple linear model for (1) and (2). Then we can refine it wit

[2021-01-31 09:22] gene96817 commented on #250
I like the direction of this issue.

 When I say "reassured", I am thinking of the technically nervous musician. I just want to keep a focus on reassuring those musicians that they don't need to be a programmer or tech wiz to succeed in using Jamulus.

[2021-01-31 09:51] gilgongo commented on #250
Yes, although that's easier said than done because of the subtle issues around things like the natural tendency to want to "explain" in various ways (the diagram conversations just never end), the current limitations of Jamulus (eg it may not be possible to make it any easier to choose and configure the right audio interfaces), and "soft" issues around website design and presentation (limited reso

[2021-01-31 10:04] ann0see commented on #274
Yes. Had this issue too. No idea what the problem is. Maybe you need to chmod this file.

[2021-01-31 10:36] gilgongo commented on #54
I was thinking about things like taking audio streams out to Zoom or some such "extra" stuff (I think Worldjam uses a separate machine for that, for example).

But that's really stuff we can't help out with other than giving example configs that other people have. Ultimately, if your server's in the cloud, you can just add/subtract resources as you need once you are in the right "ballpark" I think

[2021-01-31 10:43] gilgongo commented on #274
Heh - I don't even know what server it's referring to so that I could chmod it!

[2021-01-31 10:57] gilgongo commented on #213
This issue is probably now part of https://github.com/jamulussoftware/jamuluswebsite/issues/213 Close this?

[2021-01-31 10:59] Hk1020 commented on #264
I‘d really like to know what your plans are in this regard. I can’t think of a way to use a mobile for Jamulus. Would it work with the built in mic and speakers? On the other hand having this on mobile would be huge. Though personally I‘d like to see this on iOS, I don’t have any Android stuff.

[2021-01-31 11:12] Hk1020 commented on #237
Just an unqualified comment of a Jamulus fan here. Asio4all is the greatest stumbling block on Windows. It has a really weird user interface, it reacts strangely if there are not working devices present and it doesn’t select the correct device quite frequently. The worst part is that it looks different everywhere because of different hardware. You can’t just tell people where to click you first ha

[2021-01-31 11:15] gilgongo commented on #264
I think it's really just at proof-of-concept as far as I know. At least, I can't see somebody whipping out their Huawei and joining a jam session on their ukelele without some extra hardware to handle both headphones and Ethernet.

I suppose **possibly** with 5G? I agree it would be huge though.

But on the subject of this ticket - perhaps we should look at having an Android installation page, if

[2021-01-31 11:51] pljones commented on #274
What emitted the error?

[2021-01-31 11:52] pljones commented on #213
Circular reference...

[2021-01-31 11:58] gilgongo commented on #213
Close this issue #213 I mean.

[2021-01-31 11:59] pljones commented on #237
ASIO4ALL sits on top of standard Windows WDM low latency audio any way.  All it does is provide an ASIO API that translates to the WDM API.

Work is going on to add PortAudio support to Jamulus.  This will let Jamulus take advantage of any PortAudio-provided support for newer Windows low latency audio without ASIO4ALL being required.

It should provide a _better_ user experience but won't eliminat

[2021-01-31 12:12] hoffie opened #318 "Document the list of maintainers"
I think it would be nice to see who is in charge for the Jamulus project (i.e. who can merge PRs, etc.).

Places where I would look for such a list:

- A `MAINTAINERS.md` file in the main repository
- https://github.com/orgs/jamulussoftware/people (which looks empty to me: *This organization has no public members.*)

[2021-01-31 12:16] gilgongo commented on #274
A [build script](https://github.com/jamulussoftware/jamuluswebsite/runs/1800411587?check_suite_focus=true) on Github, I assume. Is this related to the recent change to the jamulus organisation?

[2021-01-31 13:09] Hk1020 commented on #250
A comment to your guide. Add a point to ask people if they can hear any sound from YouTube or the like. Or if they can use zoom. First make sure the equipment is working. (Close Jamulus though, they don’t work at the same time). In fact, if they can use zoom (many people do in these times) they can use Jamulus. And more than once I told people to raise the normal Windows audio level when they coul

[2021-01-31 13:17] Hk1020 commented on #250
Absolutely. No 1 is out these days. People don’t read anything. I am not much different. Stuff just has to work (and Jamulus does!).

...

Correct. I am in the choir camp and there most people are afraid of computers.

[2021-01-31 13:40] gilgongo commented on #250
@Hk1020 OK so I think we are gaining agreement around PLjones's prescription in https://github.com/jamulussoftware/jamuluswebsite/issues/250#issuecomment-770302625

BTW one thing that hasn't been raised this time around is the issue of "beginners vs power users". It has been suggested in the past that we divide the docs along those lines, but I am generally opposed to that approach as I think in p

[2021-01-31 14:16] pljones commented on #274
What I mean is, can you provide a bit more context.  There's no way to investigate currently.

[2021-01-31 14:39] pljones commented on #250
There are "first time users".  I think we're all agreed that, whether they're "power users" or not, they want a very easy way to get the software actually running so they can see what it's all about.  That needs to be made as simple as possible for everyone.

Just to note on that -- it also needs to be made as simple as possible for people who are "pure MIDI", i.e. no audio in to their computer.

[2021-01-31 14:54] dcorson-ticino-com commented on #250
Hey!  I need this quick, I didn't even know there are automated checks !
I am simply using QT Creator, is that the right compiler ? build ?
I have found no info what I should be doing, but maybe I am blind.
Please point me in the right direction.

[2021-01-31 15:29] gilgongo commented on #274
1. I edited a page on the changes branch using GitHub web and commited it in the usual way.
2. Next thing I knew I had a notification email with the link above in it.

[2021-01-31 16:06] gilgongo commented on #250
@dcorson-ticino-com @pljones

The word "Contribute" is on the home page (and the footer of each page after that). It has a link to [this page](https://jamulus.io/wiki/Contribution), which I guess could be improved (in fact I think we have a version of it on a branch somewhere?)

These is also [this page](https://jamulus.io/wiki/Compiling), but I can't remember where it's linked from (which reminds

[2021-01-31 16:49] pljones commented on #274
OK, I didn't see the link...  Half asleep still today...

Hm, the previous successful runs look different....  It looks like you didn't go through a pull request, merge?  The previous ones that work appear to run the build on merge....  Maybe there's a difference for the push vs merge flows?

https://github.com/jamulussoftware/jamuluswebsite/commits/changes

[2021-01-31 16:56] pljones commented on #250
"Contribute" can means "give us money".  It's not a terribly inviting word and, as a single word, a bit stark.  And yes, it was the existing page I was suggesting could do with an overhaul, but I'm freely admitting that's out of scope here..! :)

[2021-01-31 16:58] pljones commented on #250
A separate issue, really - leadership need not be about _doing_, it can be just about _guiding_ and helping those who do, do well.

I think the spirit of openness needs to be pervasive.  There should be no feeling that people are excluded from being involved.  Perhaps the best some could do would be to triage issues - going through reported bugs to ensure they're properly documented and real, etc,

[2021-01-31 17:21] gilgongo commented on #250
That's certainly one meaning of the word. Unfortunately, all other synonyms in English have the same connotation (help out, donate, chip in...). It's sufficiently contextualized on the homepage to avoid confusion. Otherwise, I'm at a loss to come up with anything that means non-fiscal contribution of resources :-)

[2021-01-31 17:30] gilgongo commented on #250
Indeed, I make no distinction.

As to pervasion of openness, I assume (but I could be wrong) that if people know anything about FOSS then the will be in no doubt about that.

The subject of management in general is the subject of an upcoming f2f discussion though. This sounds like one for the agenda (once date and time are agreed).

[2021-01-31 19:12] jugo6 opened #276 "Gain / Input-Volume control [Feature]"
Development question on Input-Volume Control:

Problem:
I work a lot with choirmembers who just have a headset and nothing else. It works, and often sounds still reasonably ok. However controlling the input volume is quite a hassle. (esp. In windows). Wouldn't it be nice just to have a neat input slider at the left, preferably also to +12dB? It will also be helpful to a few softer mic/interface co

[2021-01-31 21:42] gene96817 commented on #250
catching up with the discussion from @Hk1020 (5 hours ago at this writing). There is another way to merge 1 and 2. In both cases, the user goes straight to installation, and then there needs to be a clear problem resolution path for any issues that arise. In this path, Jamulus must self-diagnose the problem and tell the user what needs to be done to resolve the problem.

My plan B is to take the u

[2021-02-01 06:29] ann0see commented on #318
Yes. This would be great. But I think we will have to sort this out. Yesterday I took a day off and had a few things that came up my mind (after having deleted a lot of mails from here). They are related to project management/work live balance corrados’ leaving and a successful project. I think that’s another discussion ;-) but related to this.

[2021-02-01 08:12] gilgongo commented on #274
I tried `chmod a+w /srv/jekyll/Gemfile.lock` but that didn't work.  Tried a pull request instead and it did work. Hm. I note GitHub puts "(pull request)" at the end of the script name it runs. Are there two of them?

[2021-02-01 08:18] ann0see commented on #274
Strange. There's another issue with PRs too: they don't get the result of the Jekyll checks and therefore block merging. Maybe we must re-implement the GH Actions here?

[2021-02-01 08:21] gilgongo commented on #274
Feel like it - although why exactly is unclear.

[2021-02-01 13:49] gilgongo commented on #192
How about I start creating a library of screenshots that we can use as includes?

[According to this](https://jekyllrb.com/docs/includes/), I could put them into a subfolder of `_includes` called maybe "screenshots" and then create plain text files that contain links to the relevant images? We then include them into pages like this:

`{% include_relative screenshots/someJamulusScreen.html %}`

We'

[2021-02-01 19:11] gilgongo commented on #163
The term "open source" is, for better or worse, the most widely used term to describe something under the GPL. I'd stick with that myself.

[2021-02-01 20:35] trebmuh commented on #163
I totally disagree.

[2021-02-01 20:40] ann0see commented on #163
Open Source is probably more common while Free Software is the GNU term (where the GPL came from). At least in german more people know what "Open Source" FOSS/FLOSS/Free Software is quite uncommon.

[2021-02-01 21:25] pljones commented on #163
Most people don't _care_ about the ambiguities.  But they want a familiar term not some geekspeak technojargon that will send them running.

The people who do care look at the licence.

[2021-02-02 17:28] ann0see opened #279 "Add translate as way to contribute to homepage"
Apart from that, I suggest to add this sentence in the "Contribute!" block on https://jamulus.io/:

_Originally posted by @jerogee in https://github.com/jamulussoftware/jamulus/issues/77#issuecomment-769421362_

[2021-02-02 23:35] trebmuh commented on #163
I couldn't disagree more.

I think it's never a good idea to assume that "most people don't care". Nobody can't speak on behalf of "most people".

Re: "technojargon", I don't believe at all that talking about freedom to users it talking about "technojargon". It's talking about freedom. I have been amazed numerous times how people can be interested in freedoms when you talk to them as equals and yo

[2021-02-05 06:04] nefarius2001 commented on #264
Pre-compiled APKs will be part of the autobuilds for releases.

I used Jamulus on mobile platform (tablet) with WiFi working well (in & output).

[2021-02-05 08:11] gilgongo commented on #264
@nefarius2001 Can you describe the installation process? If use on Android devices is feasible at this time, we should probably write an installation guide for it. Also, what is the reason why a tablet would work well using wifi but a desktop machine typically would not in most people's experience?

[2021-02-05 19:41] ann0see commented on #274
A bit exhausted today and I have a few other things to do. If somebody else wants to have a look at this I'd be glad. Nevertheless, I've assigned myself to this one (but I'm happy if anybody else had a look at this).

[2021-02-06 08:01] gilgongo commented on #279
Yes. Also BTW @pljones raised the issue that in English, the word "contribute" means donating money, which it can do in some contexts. Although I think it's rather doubtful anyone would actually think we want monetary contributions, perhaps we might say "Help out!" rather than "Contribute!"? Although that phrase can be used to imply monetary donation too, I think it's perhaps a bit softer.

Not su

[2021-02-06 08:28] gilgongo commented on #163
As far I as can tell, we only actually mention the Jamulus licence directly [twice](https://github.com/search?p=1&q=org%3Ajamulussoftware+open+source&type=Code): once on the website (on the home page) where we say "Jamulus is free and open source software licensed under the GPL" and once in the README.md where we just say "Jamulus is Open Source software". So we just need to change the README.md t

[2021-02-06 16:55] ignotus666 commented on #279
What about "collaborate"?

[2021-02-06 17:18] gilgongo commented on #279
Yes - and there is "participate" too. Neither of which imply  money so that's good. Although "collaboration" tends to get used as a function (so Jamulus is collaborative software - a possible ambiguity?)

[2021-02-06 19:15] mulyaj opened #284 "Change body text colour - black to dark grey (Light Mode)"
Black text against a white background can cause eye strain for readers. It is also particularly difficult for readers with dyslexia and contrast sensitivity (text will look like it's moving).

A colour I propose is Hex 333 or Hex 222.

[2021-02-06 19:41] trebmuh commented on #284
The website isn't "`Black text against a white background`" here:

![jamulus](https://user-images.githubusercontent.com/8705846/107128158-afa60c00-68bb-11eb-88d8-58699dc794c5.png)

Do you have something different?

[2021-02-06 20:16] mulyaj commented on #284
That's the dark mode version. Here it is on light mode.

![image](https://user-images.githubusercontent.com/63881221/107128750-52479600-688e-11eb-8487-bb688c42a2cd.png)

[2021-02-06 20:38] trebmuh commented on #284
Strange, I can't remember to have selected the dark mode.

[2021-02-06 20:54] #14 closed

[2021-02-06 21:52] mulyaj commented on #284
That might be your default if you have dark mode enabled on your desktop settings

[2021-02-06 23:43] nefarius2001 commented on #264
There are many instructions on the web for APK installation, and Jamulus needs no extrordinary steps. Only a link to the downloadable APK-file.
(In best case it's "klick on a download link on the mobile's browser, then click "yes" a few times". For recent Android some security permission might be necessary beforehand.
- I followed this instructions, but in german: https://www.heise.de/tipps-tricks

[2021-02-07 23:32] trebmuh commented on #284
Can't remember to have selected a desktop dark mode either.

[2021-02-08 17:16] mulyaj commented on #284
@ann0see @gilgongo Are there any objections to this?

[2021-02-08 17:40] gilgongo commented on #284
Go for it, I say :-)

[2021-02-08 19:30] ann0see commented on #284
Yeah, just open a PR

[2021-02-08 19:42] mulyaj commented on #284
I made a commit on changes: f86f6190bf627126cd64b6ca8e26bc403ce77071

Should I open a PR first next time?

[2021-02-08 19:45] ann0see commented on #284
That's no problem ;-). I'll close this then.

[2021-02-08 19:45] #284 closed, assigned to nobody

[2021-02-10 07:56] gilgongo commented on #279
I'm leaning toward "participate", although by chance the term "help out" interestingly echoes "need help?" on the home page...

Choices, choices...!

[2021-02-10 17:59] pljones commented on #279
This is what I was thinking could be "Want to get involved?"  (The exclamation mark itself makes the original an order...)

I think - reading it again - it actually meant "Got some code for us?" as something that could be contributed.  That, itself, should be mentioned.

[2021-02-10 18:27] gilgongo commented on #279
OK so if the heading is "Want to get involved?" and the body says:

"_Ideas? Found a bug? Want to contribute some code or help translating into your language? Since Jamulus is free and open source software licensed under the GPL you can help us!"_

I like "want to get involved?" because of its oblique reference to [The Chicken and the Pig](https://en.wikipedia.org/wiki/The_Chicken_and_the_Pig).

[2021-02-11 11:16] ann0see opened #287 "[Feature] Flatpak installation guide"
**Is your feature request related to a problem? Please describe.**
Installation on Linux involves/involved compilation which might not be easy. Now there are multiple ways to install Jamulus on Linux, one if via Flathub: https://github.com/jamulussoftware/jamulus/issues/803
**Describe the solution you'd like**

Maybe: an installation guide for Jamulus via Flatpak from Flathub?

[2021-02-13 11:28] gilgongo commented on #163
OK, all references to open source now say "free and open source software (FOSS) licensed under the GPL"

[2021-02-13 11:28] #163 closed, assigned to nobody

[2021-02-13 11:31] #279 closed, assigned to nobody

[2021-02-13 12:55] gilgongo commented on #192
OK I've had a look at creating a screenshot "library" and it seems to be working locally for me:

1. I've created a sub-directory `/jamuluswebsite/assets/img/screenshots` which contains the screenshot .png images.
2. And a new files in _includes/screenshot.html

[code]

So you can use a screenshot

`{% include screenshot.html file="test.png" max-width="100%" alt="This is some alt text" caption="Th

[2021-02-13 14:38] ann0see commented on #192
This sounds great! I don't know the \<screenshot\> tag. Are you sure it exists?

the loading="lazy" argument would be great on img tags.

[2021-02-13 14:45] gilgongo commented on #192
Sorry, what do you mean?

[2021-02-13 15:05] ann0see commented on #192
Argh. It seemed to remove the tag: I don't know the \<screenshot\> html tag. Are you sure it exists? I couldn't find any documentation about it. Wouldn't a picture element be better?

[2021-02-13 15:24] gegeweb commented on #192
It is not a valid HTML tag. `<figure>…</figure>` should be used instead.

[2021-02-13 15:28] gilgongo commented on #192
Ah, sorry I'll replace that with \<figure>

[2021-02-13 15:29] ann0see commented on #192
@gilgongo Same problem as with me: the \<figure\> tag doesn't show up in your comment. You'll need to escape it with a back slash

[2021-02-13 15:33] ann0see commented on #287
Link: https://github.com/flathub/io.jamulus.Jamulus

@joao-p-marques do you want to link the repo or the installation guide of the flatpak in the Jamulus documentation?

The best thing would surely be an installation guide in the upcoming community section.

[2021-02-13 16:25] gilgongo commented on #192
OK so I pushed images and the include file to [changes](https://github.com/jamulussoftware/jamuluswebsite/commit/d2d4dfb727da9204e9a8a73be0ddd33e32ea112b). Have a look at the include and if that looks good I'll start swapping out the images on the site using that.

EDIT: BTW it would be nice to have a caption text style (captions are optional though), but I don't understand how we're doing the CSS

[2021-02-13 17:27] joao-p-marques commented on #287
@ann0see yes, it would be nice, I've added some quick documentation in the README of the flathub repo, so it could be a good resource to link in the Jamulus documentation. However, it could use some polishing and improvement.
The main point of difficulty would be setting up pipewire, so it would be nice if someone could test in on other distros and provide feedback and possible improvements to the

[2021-02-13 18:47] ann0see commented on #287
I only have a Debian PC and am happy to test a guide.

[2021-02-13 20:11] DominikSchaller opened #293 "Broken link"
**Describe the bug**
The link to Simon's guide on this page is broken: https://jamulus.io/wiki/Running-a-Server

[2021-02-13 20:20] ann0see commented on #293
Do you know if there's a new link?

[2021-02-13 20:22] DominikSchaller commented on #293
https://m.facebook.com/notes/jamulus-worldjam/howto-idiots-guide-to-installing-or-upgrading-a-jamulus-server-on-amazon-aws-lig/818091045662521/

[2021-02-13 20:23] DominikSchaller commented on #293
This is the link from my mobile, best use the one from a desktop PC (without the leading m.)

[2021-02-13 20:25] ann0see commented on #293
So you mean https://www.facebook.com/notes/jamulus-worldjam/howto-idiots-guide-to-installing-or-upgrading-a-jamulus-server-on-amazon-aws-lig/818091045662521/ ?

[2021-02-13 20:32] DominikSchaller commented on #293
Yes, that link works for me. I also tried it in anonymous browser mode (to
make sure it works when I'm not logged into facebook).

[2021-02-13 20:57] ann0see commented on #293
Great. Solved via 7ad86608db7259fd24e4a057c5de5991d9c038de

The fix will be up once the translation process starts.

[2021-02-13 20:57] #293 closed, assigned to nobody

[2021-02-13 22:15] joao-p-marques commented on #287
That would be nice @ann0see Thanks!
As I said, the main "friction" point should be setting up pipewire, and I don't know what would be the correct process for your OS. If you could test it and provide some feedback it would be great!

[2021-02-14 19:04] ann0see commented on #264
I also tested the APK build and I did hear sound. It worked much better over LTE than over WIFI. Latency is high but not too bad. @nefarius2001 could you please have a look at my (small) PR #297?

[2021-02-14 21:18] ann0see commented on #319
Any updates here? @pljones or @hoffie would you like to add a SECURITY.md file?

[2021-02-14 21:44] pljones commented on #319
My understanding of how best to tackle the issue is limited.  It's something I'm aware we should document - but it's not an area I've any expertise in.

[2021-02-14 22:56] nefarius2001 commented on #264
done

[2021-02-15 07:07] ann0see commented on #319
Unfortunately me neither. Probably there's a proposal somewhere? @hoffie might know more about it?

[2021-02-15 07:10] ann0see commented on #264
Thanks

[2021-02-15 07:42] ann0see commented on #287
I installed the flatpak but I‘m still struggling with pipewire (as you told me). I hope I get this sorted out.

[2021-02-15 08:09] gilgongo commented on #274
I had a look around for other people having similar issues but I'm afraid I got nowhere because I don't understand the underlying issues with Docker and GitHub. It doesn't seem to be a common problem for other as far as I can tell though.

[2021-02-15 08:13] ann0see commented on #274
My problem here is that I have no idea either. It seems to work at the moment. Only remark-lint fails.

[2021-02-15 20:02] joao-p-marques commented on #287
https://bryanquigley.com/posts/mindshare/pipewire-it-plays.html seems to be a good guide for installing `pipewire` on Debian. Jus remember that the one needed to work with Jamulus is the `pipewire-libjack` package, not the `pipewire-pulseaudio` (currently they are separated and conflicting for some reason). Also, it is possible that you need to uninstall JACK and a few dependencies of the machine

[2021-02-15 21:56] hoffie commented on #319
I think we could start with something really simple which documents the process for reporting security vulnerabilities. I can try to come up with some text and find examples from other projects, but in the end, the decision how to handle it will probably have to be made by you? :)

As far as I know, there is no way to have secret Github issues in public projects. So the first decision would be: Do

[2021-02-15 22:00] ann0see commented on #319
This is another issue, but highly appreciated. A real technical discussion is highly appreciated. Also I had a discussion with @softins a few days ago. What's the best way to contact you personally?

[2021-02-15 22:24] pljones commented on #319
I think this is a good point.  There needs to be guidance on what to put in a public issue and when to say "Contact me \<here\> for details you may not want revealed".

[2021-02-16 07:38] hoffie commented on #319
Wanted to start a discussion topic about somewhere in the future anyway, but I lack time currently.

You can reach me at ch@hoffie.info

[2021-02-16 07:59] ann0see commented on #319
Thanks for your E-Mail address. Don't expect an E-Mail soon since you started that you don't have enough time.

[2021-02-17 08:20] ann0see opened #307 "[Feature] How should we handle binary files from Autobuild?"
**Is your feature request related to a problem? Please describe.**

Once the new build process is finished it will be possible to have direct download links to the binaries.
@nefarius2001 and me agreed that it would be great to include them in the website so that a new user doesn’t need to get in touch with another website (SourceForge). Problem: the link to the binaries will change once a new ver

[2021-02-17 17:54] pljones opened #309 "ASIO4ALL helping hand / tip"
We suggest people install ASIO4ALL if they do not have a dedicated ASIO driver for their hardware.  The people in this position are more likely to need assistance setting up so it might be a good point to also say something like "If you're installing ASIO4ALL and haven't used it before - go read ***this***" and link to something that will explain what's going on.

[2021-02-17 17:54] ann0see commented on #271
I've just pushed a big commit: https://github.com/jamulussoftware/jamuluswebsite/commit/e722462504c55d1c08a7211d549081ee3cd7aa0d

I hope, I found all the links here. Android is not changed because of #308

[2021-02-17 17:56] ann0see commented on #237
#309 is related.

[2021-02-17 17:57] ann0see commented on #9
Fixed by @gilgongo

[2021-02-17 17:57] #9 closed

[2021-02-17 18:52] gene96817 commented on #309
I have not heard anyone say "if they do not have a dedicated ASIO driver for their hardware". this bit has been lost to many (almost all) users. Do we believe Jamulus almost always works with the dedicated ASIO driver from the PC manufacturers?  It does change things if I told new users, "if your computer already has an ASIO driver, just install Jamulus."

[2021-02-17 19:06] #307 closed, assigned to nobody

[2021-02-17 19:25] pljones commented on #309
"Professional audio" hardware will have a suitable ASIO driver for Windows.  Realtek provide an ASIO driver but I've heard bad things about it - the ASIO4ALL site terms such things "consumer grade drivers".  So it's not just whether it's a "dedicated driver", it's whether it's "dedicated" hardware, rather than consumer grade.  "Hi-fi" is not professional audio - it's still consumer grade, just exp

[2021-02-17 19:45] gene96817 commented on #309
Watching PCs and drivers over 40 years, here is my working stereotype:
1- built-in drivers can be pretty bad. If the chipset vendor has a driver, it is usually helpful to install the chip vendor's driver. The PC manufacturer often breaks the chipset vendor's driver when they customize the driver.
2- the chip vendors do fix driver problems with new releases but the PC manufacturer does not have a p

[2021-02-17 20:47] gilgongo commented on #56
Now that the website is up, we're starting to see the beginnings of some traffic coming from Google:

![Screenshot 2021-02-17 at 8 43 42 PM](https://user-images.githubusercontent.com/4561747/108265608-ea802d80-7160-11eb-8077-c59c3568e0de.png)

Interesting that while overall traffic is down recently, the quality of that traffic in terms of click-though vs impressions is better.

I think we're on th

[2021-02-18 17:48] ann0see commented on #56
Yes. I'll close this now

[2021-02-18 17:48] #56 closed

[2021-02-18 17:51] ann0see commented on #149
@chrisrimple as far as I know, you're involved in the WorldJam. Maybe this ticket is something for you?

[2021-02-18 18:03] chrisrimple commented on #149
@ann0see Thanks for the heads-up, I missed this one.  Yes, I would be happy to add content for this - I've been quite busy and have a lot of new/updated content to add.  Since the move of the Wiki, I haven't figured out how to edit it now - do I have to check in/out via github?

[2021-02-18 18:12] ann0see commented on #149
No problem ;-).

Yes. That's basically it.

The next release of the documentation will have a new section called "community knowledge base". If you look at the _posts folder you'll see some example blog posts (they are mainly for stuff related to Jamulus but not necessarily part of the core functionality like the files in the wiki folder --> no translation and separate design so that users know it

[2021-02-19 07:45] #265 closed, assigned to nobody

[2021-02-19 07:47] #250 closed, assigned to nobody

[2021-02-19 07:48] #174 closed

[2021-02-19 07:48] #173 closed, assigned to nobody

[2021-02-19 07:50] gilgongo commented on #147
@ignotus666 I think this is done now? Close?

[2021-02-19 07:54] gilgongo commented on #93
I think at least some of these things have been done, and if we have further ideas we have them in Discussions, so closing.

[2021-02-19 07:54] #93 closed

[2021-02-19 08:11] gilgongo opened #314 "Re-structure and update Contributing"
As discussed here https://github.com/jamulussoftware/jamuluswebsite/discussions/294

Main website [en-Contributing.md](https://jamulus.io/wiki/Contribution) - make this a brief “overview” page for both code and non-code contribution, linking to further information here:

**Jamulus main repo**

CONTRIBUTING.md - make this the guide for engineers wishing to contribute code. Link to the above overvie

[2021-02-19 08:34] gilgongo commented on #149
But see also... #317 ??

[2021-02-19 08:39] gilgongo commented on #271
@ann0see Is this done? Close?

[2021-02-19 08:40] ann0see commented on #271
I think so.

[2021-02-19 08:40] #271 closed, assigned to nobody

[2021-02-19 10:09] gilgongo commented on #318
Just transferring this to the website repo.

[2021-02-19 10:14] gilgongo commented on #319
Hi all - just moving this to the website repo as that's where content fermentation and translation takes place.

[2021-02-19 12:35] ignotus666 commented on #147
Yeah, I'd say so.

[2021-02-19 12:50] #147 closed, assigned to nobody

[2021-02-19 14:12] gilgongo commented on #321
If anyone wants to pick this up that would be great, but the issue is ongoing maintenance and translation.

Meanwhile, moving to the website repo which is where all that gets done.

[2021-02-19 15:04] gilgongo opened #322 "Create download page"
This to be the default URL for all platform downloads at https://jamulus.io/downloads/ (or similar URL).

Some examples of different approaches:

https://www.torproject.org/download/
https://www.plex.tv/downloads/
https://ubuntu.com/download/desktop
https://www.videolan.org/vlc/#download

See also https://github.com/jamulussoftware/jamulus/discussions/1023 and https://github.com/jamulussoftware/ja

[2021-02-19 17:18] gilgongo opened #323 "Describe usage for --streamto"
Need to add this to Configuration page. Allows streaming of audio output to a service like icecast or other output supported by ffmpeg.

`--streamto "[outfile options] outfile"`

Also, I propose we write up something in Tips & Tricks with more info on it as per https://github.com/jamulussoftware/jamulus/pull/967#issuecomment-782191210

[2021-02-19 18:49] pljones commented on #322
I'll just say I prefer the Ubuntu one over the VLC one... :)

[2021-02-21 08:00] hoffie commented on #318
I can move this forward if we have consensus if/what should be done.

I have looked at the Github jamulussoftware's People tab. If we wanted to have that list populated, it seems like every organization member would have to mark their membership as public when going to https://github.com/orgs/jamulussoftware/people, clicking on their own name and choosing Membership: Public. I would be in favor of

[2021-02-21 08:03] ann0see commented on #318
Yes. That would be ok.

[2021-02-21 22:09] hoffie commented on #319
So, I'd like to move this forward. I understand that there is consesus that we do want to provide a way for responsibly disclosing security issues. I can come up with the following options:

1. **Set up a security@jamulus.io address which forwards to the main developers' private addresses.** Additionally generate a GPG key with access to the private key for all main developers.
    - I think this

[2021-02-22 06:02] ann0see commented on #319
I'd go for the rather unusual way with issues. But this would mean we'd need to share a private key probably?

[2021-02-22 07:29] hoffie commented on #319
Yes. I have clarified that in my comment above. I also added that we could add a new issue template for that to make this more accessible.

[2021-02-22 07:43] gilgongo commented on #319
I can set up email forwarding if needed. Even if we don't use if for this it might be useful for other things in the future perhaps.

[2021-02-25 07:48] gilgongo opened #330 "Change references to "Central Server""
The term "central server" isn't really descriptive of what it is any more, and has always been a bit confusing in discussions of servers. There is persistent (if vague and unsubstantiated) evidence that newcomers to Jamulus assume that running a server in some form is required for any use. Distancing the terminology ("directory" vs "central server") may help with that, and helps to make the word "

[2021-02-25 08:25] gilgongo opened #331 "Update and link user survey on onboarding page"
The user survey could do with updating and linking from the onboarding to make it a bit more visible.

[2021-02-25 13:21] Akhilesh1204 commented on #331
Can I work on this  issues. I ensure you  that i will do my best to solve this Issues

[2021-02-25 15:37] dcorson-ticino-com commented on #330
Excellent move !

[2021-02-25 16:45] gilgongo commented on #331
Hi @Akhilesh1204 thanks for offering. The main part of the work will be agreeing which questions we want to ask this time around (and which we want to keep), and how to word them. Do you have experience with questionnaire design?

[2021-02-26 08:08] duttonphilip opened #334 "How big does a server have to be to run Jamulus"
The question...
Is our server powerful enough for Jamulus? We have 1 intel Xeon Vcore CPU and 1024 MB of RAM and a bandwidth of 100 GB.

The background....
We have rented a cloud based server in our city, installed Jamulus and have managed some singing rehearsals with about 25 people. The latency is excellent for some and a bit difficult for others but understand that this all to do with the clien

[2021-02-26 09:27] 38github commented on #334
Oh, yes it will be enough. I ran a Jamulus server on a laptop using Ubuntu 20.04 server installed on a USB where the fifteen year old Celeron cpu only get 300 point in passmark benchmarks (really slow). It handled at least ten clients without any issue at all and the RAM usage was between 100-150 MiB in idle and I can't remember that it ever used more than 300 MiB.

My experience is that using Jam

[2021-02-26 10:32] ann0see commented on #334
Hi! Thanks for this question. I think we should have a bit more discussion about this because I‘d say this must be documented somewhere on the website. I‘ll therefore move it to a discussion on the website.

[2021-02-26 10:33] #334 closed, assigned to nobody

[2021-02-26 10:35] ann0see commented on #54
See https://github.com/jamulussoftware/jamuluswebsite/discussions/335

[2021-02-26 12:20] gilgongo commented on #54
This is now duplicating https://github.com/jamulussoftware/jamuluswebsite/discussions/335 so I'll close this issue and we can then raise an agreed spec for the work (or someone can do it once agreed on the discussion and raise a PR).

[2021-02-26 12:20] #54 closed

[2021-02-26 16:35] Akhilesh1204 commented on #331
Not very much but I have little knowledge of Questionnaire design.

[2021-02-26 21:05] hoffie opened #337 "[Bug] http://explorer.jamulus.io should be https"
**URL**
[code]

**Describe the bug**
Not submitting as a PR yet because it will likely lead to conflicts after translations have been merged.

`find -name '*.md' -exec sed -re 's#http(://explorer.jamulus.io)#https\1#g' -i {}` should fix it.

[2021-02-26 21:57] mulyaj commented on #322
Would this use the wiki layout?

[2021-02-26 22:26] gilgongo commented on #322
Only if we can't work out anther way :-)

[2021-02-27 04:47] Akhilesh1204 commented on #331
Yes! I have quite  a good Knowledge of Questionnaire design.

[2021-02-27 08:29] gilgongo commented on #331
OK good. Have a look at the current one and do a cut of a new one an we can maybe get a discussion going on the questions.

I was thinking this time (assuming we can branch the questionnaire in some way - I was thinking of using crowdsignal.com this time which does) that we'd try to structure it per "demographic", so maybe by skill level and/or the use cases: jamming, rehearsing (ie private), serv

[2021-02-27 13:46] gilgongo opened #338 "Make documentation clearer re. separate client instances per voice / instrument"
Make the documentation clearer that it's preferable to have separate client instances per voice / instrument (since each client can be given its own ini file) and that you cause others problems by using the built in mono pair to stereo mixer.

See this issue here for background: https://github.com/jamulussoftware/jamulus/issues/723#

[2021-02-27 13:59] gilgongo opened #339 "Standardising Style and Tone"
Use/copy a guide that we like and refer to that in order to resolve questions when writing documentation. Add our own bits and pieces along the way (eg BE spelling/grammar, how to refer to "open source", and whatever)

[2021-02-28 09:54] Akhilesh1204 commented on #331
Ok Fine will do.

[2021-03-02 20:40] hoffie opened #340 "Document administrative and development processes"
I think there are some administration-, development- and process-related things which we should document for the whole Jamulus project (code, website, assets).
@gilgongo thankfully already [created](https://github.com/jamulussoftware/jamuluswebsite/commit/8b4a6e5b3aef586a6de2f37c7a87822bde98ce9a#diff-db1c7c4abd90eefb0f054470035c8c2ce84b5e251dbf067a6d1483f0bb5469ae) a placeholder page for that.

I

[2021-03-02 21:40] ann0see commented on #340
Just self assigned this too.

Could you please ping me once you open the PR?

Maybe @ignotus666 also knows some more of the process here.

Also related to gilgongo's work with the clarification of the contribution process.

[2021-03-02 21:45] hoffie commented on #340
Sure, if you get to it earlier, feel free to, but please comment here so that we don't have clashing PRs :)

[2021-03-03 08:27] ann0see commented on #340
Just to briefly document some steps here.
- Release process
  - Soft code freeze (no larger changes, nothing translation-related) **(does not seem to exist yet; once we merge the changes from the changes branch to translate, the translate branch is just the state of the changes branch at this time).**
  - Hard freeze (no code changes at all) **(this is done after everything is merged to the transl

[2021-03-03 08:30] ann0see commented on #319
I think we should close this. There's already a discussion on the main repo with roughly the same topic: https://github.com/jamulussoftware/jamulus/discussions/916 and we could continue discussion there.

[2021-03-03 09:08] hoffie commented on #340
Thanks! I have clarified the initial issue that the scope is meant to be global -- it should cover both code and website things as they will be identical or at least related in many cases. I just opened the issue in the website repo as that's where the documentation should land.

[2021-03-03 19:45] ann0see opened #344 "Breadcrumb missing on installation on android page"
While going through the wiki page, I saw that the Installation for Android page doesn't have a breadcrumb. Not sure if we can add this during the translation process?

[2021-03-03 20:04] ann0see opened #345 "Remove reference to SourceForge on footer"
Currently the [footer](https://github.com/jamulussoftware/jamuluswebsite/blob/5271c43ee108818634e7071b48098d04180a633f/_includes/footer.html#L14) links to SourceForge. Shouldn't we link the GitHub discussions forum there?

[2021-03-03 20:54] mulyaj commented on #322
Made a mockup. Thoughts?

![Jamulus Download Mockup 1](https://user-images.githubusercontent.com/63881221/109870939-aac54580-7c38-11eb-9236-7d1f3c63a963.png)

[2021-03-03 21:59] pljones commented on #322
My _only_ reaction: there's a bit too much whitespace vertically - it's more 4x3 than 16x9...  (It may even be taller than wide...)  Looks great other than that!  Should be the jamulus.io front page.

[2021-03-04 05:20] josecollado commented on #345
Which GitHub discussions?

[2021-03-04 06:15] ann0see commented on #345
Hi @josecollado

it‘s this link: https://github.com/jamulussoftware/jamulus/discussions

I‘d say that also another icon (maybe a speech bubble or question mark should  be displayed. An icon from FontAwesome would be great.

[2021-03-04 07:24] gilgongo commented on #322
That works! The problem of course is actually working out the CSS to do it :-) My knowledge of the [framework we're using](http://fox-css.com/documents/) is almost nil I'm afraid.

[2021-03-04 17:05] mulyaj commented on #322
@pljones The page includes scroll, so that explains the height, I'll try to reduce the whitespace.

@gilgongo I'll try to figure something out.

[2021-03-04 17:35] gilgongo commented on #322
@mulyaj as part of https://github.com/jamulussoftware/jamuluswebsite/issues/192 (which I have in a branch but was waiting until things settled down a bit) I'm putting optional floats on images, but apart from that, I have no real idea how to go about any structural stuff on the site. It would be great if we we could get that top nav you have in that mockup, for example!

[2021-03-04 17:58] mulyaj commented on #322
@ann0see Would you have any thoughts on how we would integrate a new page?

What I was thinking is that it could just be its own standalone HTML and CSS. Would it need a layout and a corresponding .md?

[2021-03-04 18:03] gilgongo commented on #322
Well, we're using Jekyll to do the translations (and other bits and pieces). And we'd want the download page to be multi-lingual like the rest of the site.

But Jekyll is as far as I know independent of Fox CSS, so if we could work out a way of getting the best of both that would good. @ann0see Did the main work for the website though so should know more.

[2021-03-04 18:04] ann0see commented on #322
Actually, the current homepage (index.html) is also mostly html + css. It should be quite easy to edit the file + layout. I like your proposal but would add more information about what Jamulus is/... if that becomes our new homepage.

[2021-03-04 18:07] ann0see commented on #322
I'd avoid floats if possible (personal preference).

The framework uses flex which should make it easy to design a layout like that.

[2021-03-04 18:08] mulyaj commented on #322
I would probably leave the homepage as is, with the download page as its own thing.

[2021-03-04 18:11] ann0see commented on #322
Ok. But what's the point of having a site which has a different layout then? Wouldn't that be confusing?

[2021-03-04 18:18] gilgongo commented on #322
@ann0see the floats are only on the images, so that we can wrap text around them. But see below...

@mulyaj  good point! If we can come up with some page templates and consistent top nav that would be ideal. I'll have a think on some based on what we have content-wise. Dunno what the overall possibilities are though.

[2021-03-04 18:20] mulyaj commented on #322
Well the value of the homepage is that we can have content that gives a broad overview of what Jamulus is, and does (which I think it does a decent job at).

I'm not too fond of presenting a user with a huge download button right from the get-go.

[2021-03-04 18:21] ann0see commented on #322
Should be possible. But you'll need to think about mobile devices too. What would they show in the top nav?

[2021-03-04 18:24] mulyaj commented on #322
I think for mobile devices, we can leave the nav button as is - and have desktop screens show the various page links on the right (downloads, wiki, getting started, etc).

[2021-03-04 18:28] gilgongo commented on #322
BTW the term "wiki" here is pretty confusing, so best not surface it in public :-)

[2021-03-05 12:30] ann0see opened #348 "Broken links for r3_7_0"
Doesn't seem to be bad this time.

http://127.0.0.1:4000/de/kb/2020/03/28/Server-Rpi.html
- (241:7) 'Get the ..' => http://127.0.0.1:4000/de/wiki/Installation-for-Linux#get-jamulus-sources (HTTP 200 but missing anchor)
- (241:102) 'dependen..' => http://127.0.0.1:4000/de/wiki/Installation-for-Linux#install-dependencies (HTTP 200 but missing anchor)
- (244:164) 'default ..' => http://127.0.0.1:4000

[2021-03-05 12:30] #348 closed

[2021-03-05 17:49] pljones commented on #322
So it doesn't get lost (in my memory and general stream of consciousness)...

The landing page for the download should both tell a user where they are - "This is Jamulus: Play music online. With friends. For free." and say where to get it (i.e. just add the banner with the catchphrase to the initial idea and trim the vertical spacing...).

[2021-03-05 18:20] mulyaj commented on #322
@pljones something like this? (the tagline is a bit blurry in this picture, but otherwise it's clear)

edit: I'm playing around with using a different font (Arial seems very "default" to me). Here I'm using Lato.

![Jamulus Download Mockup 2](https://user-images.githubusercontent.com/63881221/110156761-5bf0ea80-7db5-11eb-90d2-195b490881a6.png)

[2021-03-05 19:29] gilgongo commented on #322
# Looks good!

**Random thought 1**

On the breadcrumb, the ones I put in on the changes branch were very "conservative" in the sense that they would only show at the second level downwards. So for example, the [Windows installation page](https://jamulus.io/wiki/Installation-for-Windows), which is a child of Getting Started, which is a child of Using Jamulus:

[code]
So that page has:

Using Jamul

[2021-03-05 20:00] mulyaj commented on #322
Hm, I see. I'm curious if there really is a point in adding a breadcrumb? It seems like the side-nav already serves the purpose of locating the user.

For this button, I was thinking it would have a dropdown similar to the one on [VLC](https://www.videolan.org/vlc/#download), to let you select your OS. For Linux, maybe that could be omitted from the main download button and be given a separate blu

[2021-03-05 22:55] gilgongo commented on #322
When things are in the nav, it's signalled, yes (although weakly, there's not a strong visual convention for navs). It just means we can handle "orphans" like [this](https://jamulus.io/wiki/Hardware-Setup) and [this](https://jamulus.io/wiki/Running-a-Private-Server), which aren't on the nav. An alternative being to put them there, and have a rather large nav as a consequence :-) Some sites have "s

[2021-03-06 06:35] mulyaj opened #349 "New Header (Top navbar)"
This is semi-related to #322. I think we should have a new consistent header throughout with links to important pages like download, setup, and docs.

I have this design at the moment:
![image](https://user-images.githubusercontent.com/63881221/110197731-90978d00-7e1b-11eb-9ed5-bd773d6dc310.png)

If we were to keep these links - setup (or installation, as it is now) would either need to link to th

[2021-03-06 06:55] mulyaj commented on #322
Right, I totally forgot about those pages. Off-topic, but for some "orphans" they're really only accessible on certain pages Plus, with the fact that they're mostly inline links, they can be easily missed. We can probably discuss this elsewhere.

Anyways, I won't include a breadcrumb for now.

[2021-03-06 07:25] gilgongo commented on #322
Yes, this is sort of deliberate in some cases. If we put pages [like this](https://jamulus.io/wiki/Central-Servers) on the nav it would make Jamulus look too daunting for new users if they thought they would need to read all that stuff. We also have them in line so that we can make sure, for example, you read [this](https://jamulus.io/wiki/Running-a-Server) before you read [this](https://jamulus.i

[2021-03-06 14:25] pljones commented on #322
I think having an "Ubuntu Linux (Full)" link and an "More..." link in the drop down would be better than mentioning "Compile from source".

I think Ubuntu's probably common enough and we provide an installer - double-click on the downloaded .deb should work.

"Other" would take you to the place where everything got explained in full - it should be only a small number of people who'd be expected to

[2021-03-08 19:45] ann0see commented on #349
From my first impression, this looks much better then the current one. How would the homepage look like?

I think jamulus.io/wiki/Getting-Started is the page we usually link if we refer to the documentation

[2021-03-08 19:53] ann0see opened #350 "Wrong link on the contributing page to website discussions"
**URL**
https://github.com/jamulussoftware/jamuluswebsite/blob/translate3_7_0/wiki/en/en-Contribution.md#jamulus-website

We should link this to the main discussion forum.

[2021-03-08 20:05] ann0see commented on #345
Do you want to do it or should I? This will probably have to wait until the next release is out.

[2021-03-09 17:44] 96RadhikaJadhav commented on #350
@ann0see  Can I work on it?

[2021-03-09 17:48] ann0see commented on #350
Yes sure, you can open a PR to the translate3_7_0 branch which fixes this for all pages in all languages! The files are in /wiki/[languagecode]/ as far as I know.

Thank you very much!

[2021-03-09 17:49] ann0see commented on #350
German should already be ok.

[2021-03-10 19:36] trebmuh commented on #334
@ann0see is that one "locked" on purpose?

[2021-03-10 19:37] ann0see commented on #334
Yes. There's a discussion somewhere on GH discussions on in the main forum.

[2021-03-10 19:45] trebmuh commented on #334
OK, it might be this one I guess:
https://github.com/jamulussoftware/jamulus/discussions/1133

[2021-03-10 19:46] ann0see commented on #334
Yes. Probably

[2021-03-12 19:01] ve3meo commented on #54
The link https://github.com/jamulussoftware/jamuluswebsite/discussions/335 gives a 404

[2021-03-12 20:47] ann0see commented on #54
Yes. You're right. I couldn't find the real discussion either.

[2021-03-12 21:32] #350 closed, assigned to 96RadhikaJadhav

[2021-03-12 23:06] ann0see commented on #54
@ve3meo https://github.com/jamulussoftware/jamulus/discussions/1133 might be the correct one

[2021-03-13 02:39] ve3meo commented on #54
@ann0see That discussion links back to this one so I'm getting dizzy...

[2021-03-13 09:15] gilgongo opened #355 "Create dedicated "Team" page"
As per this discussion, viewing team members on GH may be problematic if you don't have a login, and doesn't give us freedom on how we format or describe ourselves.

If we have a page on the website we can maintain names, bios etc, as we want.

_Originally posted by @trebmuh in https://github.com/jamulussoftware/jamulus/pull/1223#r592191314_

[2021-03-13 09:29] gilgongo commented on #318
@hoffie Is this a duplicate? https://github.com/jamulussoftware/jamuluswebsite/issues/355

[2021-03-13 09:37] gilgongo commented on #349
Yes this is much better!

A download page is in the works of course, but what about the other links?

What do we think about making Documentation https://jamulus.io/wiki/Software-Manual?  I ask because there is this https://github.com/jamulussoftware/jamulus/discussions/1134 which is about how Getting Started and Onboading may now overlap too much I think. The result of this discussion could be a

[2021-03-13 09:41] gilgongo commented on #344
What's the preferred way of doing something like this? Can we add it to main now that translations have been done?

[2021-03-13 09:44] gilgongo commented on #340
Some of this I think overlaps with what I've been doing on https://github.com/jamulussoftware/jamuluswebsite/issues/314

I was waiting for the RC to go out before I made the PR though.

[2021-03-13 09:45] ann0see commented on #344
Not sure. I'd add it to release after the new version is out (every translated page if possible)

[2021-03-13 09:51] hoffie commented on #318
More or less. The decision we reached here was about publishing organization membership. Some have done that, I think @softins hasn't yet. I'd say we can close this ticket as it is superseded by #355 which is more generic and structured, yet more actionable. Feel free to close if you agree.

[2021-03-13 10:12] softins commented on #318
Sorry, I missed that. I'll do it now.

[2021-03-13 10:24] gilgongo commented on #318
OK cool - lets look at #355 instead.

[2021-03-13 10:24] #318 closed, assigned to hoffie

[2021-03-13 13:19] gilgongo commented on #54
Sorry, it was removed when we shut down the separate website discussions area. It was a duplicate so we didn't move it across.

https://github.com/jamulussoftware/jamulus/discussions/1133 is where it's at. I'll lock this now for that reason.

[2021-03-13 13:46] gilgongo commented on #319
@hoffie  This is a bit meta, but can we test the idea here of you taking what you wrote https://github.com/jamulussoftware/jamuluswebsite/issues/319#issuecomment-782936296 and replacing the main "ticket" (that is https://github.com/jamulussoftware/jamuluswebsite/issues/319#issue-811891513) with that text?

This so that we have an Issue that has been resolved with an action without people (er, like

[2021-03-13 19:32] #264 closed, assigned to nobody

[2021-03-13 19:33] ann0see commented on #264
Closed since the installation page is already written.

[2021-03-13 19:36] ann0see commented on #192
Can we close this?

[2021-03-13 19:40] ann0see opened #358 "Link new ASIO4ALL version"
ASIO4ALL just got updated with important bug fixes: https://www.asio4all.org/

I think we should link the new version on the website as soon as possible (better include it in the upcoming release). I have the feeling that v2.15 fixes many annoying bugs so it should be linked as soon as possible.

[2021-03-13 19:41] ann0see commented on #358
Also, the manual has been published online now: https://www.asio4all.org/index.php/instruction-manual/

[2021-03-13 20:22] mulyaj commented on #322
Ok, here's a preview of the page with html/css - I decided not to use the dropdown as I don't think it's entirely necessary for just 3 options.

![image](https://user-images.githubusercontent.com/63881221/111043023-321b7180-840e-11eb-8603-eb0a534a967c.png)
![image](https://user-images.githubusercontent.com/63881221/111043034-4bbcb900-840e-11eb-890f-6df34b8f5565.png)
<img src="https://user-images.g

[2021-03-13 23:21] hoffie opened #359 "Add Download links for 3.7.0"
`Download now for [Windows](https://github.com/jamulussoftware/jamulus/releases/download/r3_7_0/jamulus_3.7.0_win.exe), [Mac](https://github.com/jamulussoftware/jamulus/releases/download/r3_7_0/jamulus_3.7.0_mac.dmg), [Debian/Ubuntu](https://github.com/jamulussoftware/jamulus/releases/download/r3_7_0/jamulus_3.7.0_ubuntu_amd64.deb) or [other platforms](https://github.com/jamulussoftware/jamulus/re

[2021-03-14 09:36] gilgongo commented on #322
Yes, that's better than a drop-down (which of course "hides" the options). The convention is to use the OS icons to draw the eye, but it's not big deal.

Super-tiny thing: I'd say "Download" (as in the verb) not "Downloads" as that former is more common.

Otherwise, looks good to me! We do we need to resolve where exactly all the links are going but maybe do that later?

Also BTW how does the nav

[2021-03-14 09:54] gilgongo commented on #192
There's a big bunch of changes that I will need to make to implement it all which I've been waiting to do once this release is over (thinking also I might do some of it with Jekyll variables as well and just have screenshots as includes maybe).

But OK I'll raise a PR for all that now that the main issue is at least clear.

[2021-03-14 09:54] #192 closed, assigned to gilgongo

[2021-03-14 11:21] gilgongo commented on #359
I assume we can do the change to the release branch, and maybe for each lang just paste in the English - don't want to delay the release for that really.

[2021-03-14 15:36] mulyaj commented on #322
Here's how the nav looks on the home page:
edit: the double navbar is a screenshot bug
![image](https://user-images.githubusercontent.com/63881221/111074477-80d21580-84b9-11eb-9461-a6efa484b08e.png)

[2021-03-14 15:45] mulyaj commented on #322
Yeah, I think [as you mentioned here](https://github.com/jamulussoftware/jamuluswebsite/issues/349#issuecomment-798033204) the nav links will need their own hub pages - maybe start a new issue once this is merged?

The icons that I used also need to be attributed to the author - do they have to be attributed on the same page they're used? If we make have a team page, I was thinking we could put it

[2021-03-14 17:17] ann0see commented on #192
Ok. Great!

[2021-03-14 17:18] gilgongo commented on #322
Attributions can go anywhere logical really, so yes maybe on the Team page (seeing as we're also thinking of creating that too now https://github.com/jamulussoftware/jamuluswebsite/issues/355) or even just in the main repo readme.md would be OK (there is a general licence credits section already).

EDIT: Home page looks much better now too!

[2021-03-14 21:35] gilgongo commented on #309
This seems to be a dupe now of #237. Closing.

[2021-03-14 21:35] #309 closed, assigned to nobody

[2021-03-14 21:37] #213 closed, assigned to nobody

[2021-03-14 21:38] gilgongo commented on #168
Done as part of #286

[2021-03-14 21:38] #168 closed, assigned to nobody

[2021-03-14 21:40] gilgongo commented on #50
Moving to discussion until we can get a resolution on this.

EDIT: Doesn't seem to be available for some reason. Closing instead.

[2021-03-14 21:42] #50 closed

[2021-03-14 21:44] gilgongo commented on #237
Done with https://github.com/jamulussoftware/jamuluswebsite/pull/242

[2021-03-14 21:44] #237 closed, assigned to nobody

[2021-03-14 23:06] pljones commented on #322
Is "Linux" appropriate to every distribution?  The deb files will only be of interest to Debian/Ubuntu/derivative distributions.

[2021-03-14 23:17] mulyaj commented on #322
I'm not too familiar with Linux - would it be "Download for Ubuntu Linux"?

[2021-03-15 08:18] gilgongo commented on #322
I think we imply that we would either have to have **another** hub page for the (less than 5% of our) audience that use Linux, so that we can tell them about .debs, compling, PPAs, repos, flatpaks and god knows what else might come along. Or just take them to [this page](https://jamulus.io/wiki/Installation-for-Linux) for now. It's less than 5% after all - and the page has been updated to be _much

[2021-03-15 08:27] pljones commented on #322
Unfortunately, that's out of date, because we _do_ provide a better mechanism than installing from source for Debian/Ubuntu distributions -- the .deb files.  I'd rather not route to anything suggesting that the best way is from source, if there's an alternative.  The .deb files should get most users to the same point that the Windows installer does.

[2021-03-15 18:44] gilgongo commented on #322
Fine by me. So if we assume it's .deb for the download page then that makes it all much simpler!  And one day, we can relegate the compilation instructions to a repo .md file where they rightfully belong (along with [this page](https://jamulus.io/wiki/Compiling) which has always irked me)

[2021-03-15 18:54] pljones commented on #322
...
I'd make the "Downloads" link on the top bar highlighted some way -- I struggled to find it.  There's a _lot_ of text on that page to work through if all you're looking for is the downloads.

[2021-03-15 19:51] gilgongo commented on #322
It's the Main Nav :-) If that's not prominent enough for you, then nothing will be (also don't forget that unless your'e running at something bigger than 4K UHD you probably won't see half of that text in the screenshot).

[2021-03-15 20:47] pljones commented on #322
It doesn't look like "Nav" very much.  There's nothing indicating the words on the right are click-able links to anywhere.  Button-ish styling might help?

[2021-03-15 21:15] mulyaj commented on #322
I think the purpose of the top nav is clear - it's a fairly common practice to layout a nav like that.  Don't forget that the links will have hover stylings too.

Edit: I could add a border styling to the download button

As @gilgongo mentioned as well, the navbar is a lot more prominent when actually viewed on a screen.

I could run a few usability tests to verify if necessary.

[2021-03-15 22:26] gilgongo commented on #322
While it's not what you mean exactly, there should be a convention of "you are here" styling, so the top nav item for "Download" highlights in some way when you're on the download page". It's actually required for assistive tech think?

EDIT: It's there on the other shots I see.

Also BTW we can always take some of that verbiage on the main page out. It was pretty much the first draft I came up wi

[2021-03-16 08:53] pljones commented on #322
Well, getting to the download page makes creating one worthwhile :)

[2021-03-16 21:45] mulyaj commented on #322
Added some stylings to the nav, have a look.

I'm not entirely sure how to best implement the "you are here" highlighted link (my JS isn't too good, I could hardcode it in the css but I'm not sure if that's a good idea)

https://streamable.com/vqr0m1

[2021-03-16 21:49] mulyaj commented on #349
Yeah that works - you mean changing the link names like this right?

![image](https://user-images.githubusercontent.com/63881221/111384465-ea9c1c00-867f-11eb-8fe2-83c173c9ad08.png)

[2021-03-16 22:40] gilgongo commented on #349
Sorry, I meant keep the wording but have them link to those places. We don't really have an exact matches for "Documentation",  but I think it would be an expected thing in the header so linking it to Getting-Started would be sort of OK. Long term, I think we should have the current Software Manual page as the "Documentation hub" and perhaps only have the right nav on those pages (and not on Downl

[2021-03-16 23:23] josecollado commented on #345
Hi @ann0see You can assign it to me, i could send a PR by tomorrow if that works.

Also, would one of these work?
** only the first two i can choose without paying **
<img width="1059" alt="Screen Shot 2021-03-16 at 7 22 23 PM" src="https://user-images.githubusercontent.com/37092658/111392464-035efe80-868d-11eb-993f-24d4fe7b95e6.png">

[2021-03-17 00:22] Snayler opened #361 "Update Central Server addresses to jamulus.io"
The [Central Servers list](https://jamulus.io/wiki/Central-Servers) needs to be updated to add all the new genres and change the domain to jamulus.io.

[2021-03-17 00:24] Snayler commented on #361
Sorry, I didn't notice this was already done, but not pushed yet into the website.

[2021-03-17 00:24] #361 closed, assigned to nobody

[2021-03-17 06:18] ann0see commented on #345
If you have to pay, I wouldn't choose any of them. Can you find some here: https://icongr.am/fontawesome ?

[2021-03-17 08:23] pljones commented on #322
That also makes the top nav more noticeable in general, which is good.  Just enough to draw attention without looking too pushy :).

[2021-03-17 17:27] hoffie commented on #337
Most of this had already been fixed, I've been doing the remaining one (fr) in #333.

[2021-03-17 17:32] hoffie commented on #337
No http links left, closing.

[2021-03-17 17:32] #337 closed, assigned to hoffie

[2021-03-17 18:01] hoffie opened #362 "[Bug] Branches "release" and "changes" are out-of-sync"
I've just merged #333 to the `release` branch. Afterwards, I've received an email `[jamulussoftware/jamuluswebsite] Sync release to changes workflow run`, linking to https://github.com/jamulussoftware/jamuluswebsite/runs/2133076952?check_suite_focus=true

The main problem is the cherry-picking my commit (0a147d015b9872bc34c743a0a80f529aafb4def2) or merging `release` into `changes` leads to conflic

[2021-03-17 18:14] gilgongo commented on #362
Is that automated? If so I didn't realise any Github action was doing that.

Also, I was under the impression that I could commit to changes any time. But what you imply is that unless there was some automation to keep the branches in sync, we'd need to have a "changes freeze" once the translation branch was started, is that right? If so I'm fine with that if it's easier (we can even put locks on

[2021-03-17 19:55] hoffie commented on #362
Based on the mail and action failure I got, I think so. Seems to be configured here:
https://github.com/jamulussoftware/jamuluswebsite/blob/changes/.github/workflows/sync.yml

Looks like it's supposed to do its work on each push and it looks like it has been failing since 20 days:
https://github.com/jamulussoftware/jamuluswebsite/actions/workflows/sync.yml

[2021-03-17 19:56] hoffie commented on #362
I think it might be OK to continue working on changes in specific cases (e.g. English-only). When this is guaranteed, there should be no conflicts. We should merge from `release` to `changes` regularly to verify this and solve if necessary. This should happen via that action.

[2021-03-17 20:14] ann0see commented on #362
Yes, your analysis is correct. Unfortunately the merge of the docs also broke the download links which obviously don't exist yet. But that's not a big issue since we're releasing today anyway.

I just merged release into changes and fixed the conflict.

If we want to avoid conflicts, yes. But I'd say that we can always deal with them? That's why I suggested we could always work on changes.

Yes. T

[2021-03-17 20:18] hoffie commented on #362
Ah, didn't think of it when @gilgongo asked in the chat.

I agree, but what happened here was that there were conflicts in non-English files. I don't think this should happen if we adhere to the process. This will also be hard to solve for us without translators.

So I'm still wondering what went wrong in this case and what to avoid in the future?

[2021-03-17 20:20] ann0see commented on #362
I just did another test. GH actions suggests it's because the changes branch is a protected branch and therefore it can't commit to it.

[2021-03-17 20:24] hoffie commented on #362
This looks very good, thanks! There is still a diff between `changes` and `release` which shouldn't be there, I think:
https://github.com/jamulussoftware/jamuluswebsite/compare/changes...release

It looks like `changes` is missing the ASIO4ALL 2.15 beta update and a spacing fix for Spanish.

Edit: In fact, it seems to be just e655312693a23e493aa34df02cc8dd89f8e7eb2b which is missing as it was just

[2021-03-17 20:27] ann0see commented on #362
Yes. That was to check the GH Action. I'll disable the protection for changes.

[2021-03-17 20:39] hoffie commented on #362
Then I think everything is solved and the culprit was most likely the missing merges by the Github action due to the branch protection. Thanks!

[2021-03-17 20:39] #362 closed, assigned to ann0see

[2021-03-17 20:42] ann0see commented on #362
I hope so.

[2021-03-17 22:50] #359 closed, assigned to hoffie

[2021-03-17 23:40] josecollado commented on #345
Sent a PR for the changes

[2021-03-18 06:51] ann0see commented on #345
Great! Thank you.

[2021-03-18 07:03] #358 closed, assigned to nobody

[2021-03-18 08:33] jerogee opened #371 "Merge redundant linux install scripts"
There are separate install scripts for different Linux distro's.

[code]
I suggest to:
(1) auto-detect the distro (remove hardcoding)
(2) merge them, as they are 99% identical and mostly redundant, each containing already statements for all 3 distro's:

[code]

(3) if none of the 3 are detected, offer the user to install for one of the 3 anyway (with warning) or cancel the installation (default)

[2021-03-18 09:44] pieterbos opened #372 "Presonus studio 24c"
To add to the list of known good devices:

- Focusrite scarlett tested to works very well on several different macs (so 'should' can be removed)
- An older focusrite FireWire clarett works well on Mac

Presonus studio 24c works:
- on Windows with the provided ASIO driver, provides the absolute best USB audio interface round trip latency we have seen, tested to have 4.1ms at 48khz, 64 samples
- wor

[2021-03-18 10:05] hoffie opened #373 "[Bug] Jekyll build for Spanish was broken"
**URL**
https://jamulus.io/es/

**Describe the bug**
@ignotus666 noticed that https://jamulus.io/es/ and all sub-pages returned a 404, apparently after I had merged this PR #369 at 8:41 CET.
- I don't see anything strange in the PR.
- The [Github Jekyll action for `release`](https://github.com/jamulussoftware/jamuluswebsite/runs/2137624265?check_suite_focus=true) was listed as green (did not find

[2021-03-18 10:41] ann0see opened #374 "Link installation scripts"
Related to https://github.com/jamulussoftware/installscripts/issues/1

The website should link a quick download to the installation scripts which are being removed from the main repo.

[2021-03-18 10:53] ann0see opened #375 "[Bug] Rename alt text in footer: Remove Source Forge reference"
**URL**
https://jamulus.io/
https://github.com/jamulussoftware/jamuluswebsite/blob/97544de8ac776af71b525ff0e2e6e75275e871e5/_data/en/general.yml#L6

**Describe the bug**
The alt text linking to the GH Forum is wrong. Since it needs translation, I'm not sure what to do here.

[2021-03-18 12:57] Robert53844 opened #376 "Audio devices known to work with Jamulus"
Audio Device 1:
**ZOOM LiveTrak L-8**
Using "L-8 Driver" (ASIO, 07/02/2020) from https://zoomcorp.com/
Latency: 19 ms (measured with local server with ping time of 0 ms)

Audio Device 2:
**ZOOM H2N**
Using "Stereo ASIO Driver" (06/02/2020) from https://zoomcorp.com/
Latency: 26 ms (measured with local server with ping time of 0 ms)

Both devices works great with **Jamulus 3.6.2** and **Jamulus 3.7

[2021-03-18 19:59] ann0see commented on #376
Thank you for your report!

[2021-03-18 20:14] ann0see commented on #376
I've just opened a pull request (#377) for you which adds these devices. Could you please verify if everything is ok and if possible add direct driver download links: https://github.com/jamulussoftware/jamuluswebsite/pull/377/files

[2021-03-18 20:34] hoffie commented on #376
Sorry, I only read your comment after I had merged that PR already. :(
If we find driver links we would probably have to open a new PR.

[2021-03-19 07:00] Robert53844 commented on #376
Driver for ZOOM LiveTrak L-8: https://zoomcorp.com/documents/186/L-8_Driver_Win_v1.0.0_E.zip
Driver for ZOOM H2N: https://zoomcorp.com/documents/10/H_and_F-Series_ASIO_v4.0.0_E_2_3_0.zip
Of course, both links may change for updated versions.

[2021-03-19 08:20] gilgongo commented on #374
This should be part of (yet another) re-write of the install docs for Linux I think. Now that we have our .deb, everything to do with compilation (including [here](https://jamulus.io/wiki/Compiling)) should I think be moved off the site and into the compiling.md in the repo where such things usually live by convention.

Normal people don't compile (I'm joking, but you know what I mean) :-)

BTW st

[2021-03-19 11:57] ann0see commented on #374
Yes. That sounds good.

[2021-03-19 17:44] Robert53844 opened #378 "Audio devices known to work with Jamulus"
**ZOOM H2** (the "older one" - not the successor **H2N**, which works as well)
Description: https://zoomcorp.com/en/us/handheld-recorders/handheld-recorders/h2/
(Click "Support & Downloads" on this page for navigation to driver download page.)

The **Stereo ASIO Driver** (06/02/2020) for H2N and Windows 7/8/8.1/10 works as well for H2:
https://zoomcorp.com/documents/10/H_and_F-Series_ASIO_v4.0.0_E

[2021-03-19 19:59] ann0see commented on #376
Great! Thank you. Maybe it's better to link an overview page then (if they update the links). BTW: You can try to edit this file yourself: https://github.com/jamulussoftware/jamuluswebsite/blob/release/_posts/2021-01-05-Jamulus-Sound-Devices.md

and add your tested devices/links if you want.

[2021-03-21 11:36] henkdegroot opened #380 "Windows powershell run instruction update [Bug]"
https://jamulus.io/wiki/Compiling

I have compiled the source on my windows machine and believe a minor change is needed in the compile instructions.

Under the "Compling and building installer" topic step 5 mentions to run the powershell command with the C:\Qt\QtVersion argument. I believe this is no longer required and does not seem to make a difference when you do provide this argument.

[2021-03-21 21:06] hoffie commented on #319
Yes, I added the text to the issue description. I do not feel good with replacing the initial text as it would make the first replies look odd.

Now that mail infrastructure seems to be in the process of being set up, I think we should go with the more common option (email) and will move on with that.

[2021-03-21 21:32] gene96817 commented on #319
We would need a shared GPG key for the main developers as well.

I don't know if I interpreted this correctly. It would be a bad idea for more than one user to have the secret part of a GPG key. If one user is compromised, then the whole system is compromised. I think the repository should have a GPG key. All messages would go from repository to developer. If there are N developers, that means the

[2021-03-21 22:31] gilgongo commented on #319
@gene96817 I assume we're saying `gpg --encrypt --recipient alice@example.com --recipient bob@example.com doc.txt`

Although that does assume the sender knows the list of which keys to use. Maybe there is such a thing as a "wrapper" key? Dunno.

[2021-03-21 22:47] gene96817 commented on #319
I have used GPG for years. Each user has a key pair registered to their email address. The (my) mail client knows to apply the recipient's public key to encrypt the mail. If I send mail to a list, each recipient receives mail encrypted with their public key. It is really no additional work on my part. In this scheme, if you reply to my email, I will receive your reply encrypted with my public key.

[2021-03-21 23:06] hoffie commented on #319
I'm not sure if I understand. What do you mean by "the repository should have a GPG key"?
If I interpret this as: For the [option 1](https://github.com/jamulussoftware/jamuluswebsite/issues/319#issuecomment-782936296), which I plan to move forward with, this would mean having some infrastructure which takes messages encrypted for the published public key, decrypt them (thus needs the private key),

[2021-03-21 23:27] gene96817 commented on #319
@hoffie   I apologize for my loose language.
1- sharing a private key should not be used. Every developer should have their own public/private key pair.
2- publishing a single mail address is helpful. That mail address should have its own public/private key pair.
     this implies mail sent to this address will be redistributed to developers using each developer's key.
3- If a developer leaves, th

[2021-03-22 00:22] gene96817 commented on #319
@hoffie  I have reread your message.

I agree with your first paragraph, except that, no keys needed to be changed if a team member leaves.

Publishing a list of developers (e.g. Apache) has the disadvantage that there is no single log of all mail sent about a topic.

I agree.

Technically you don't need to do this when a developer leaves. BUT, you do need to do this if a person who manages the "s

[2021-03-22 07:20] henkdegroot opened #382 "Update Compilation Documentation"
Page url:
https://jamulus.io/wiki/Compiling#download-jamulus-source-code

The issue with spaces (issue 864) has been resolved now, so the text on this page (see below) can removed now.

Make sure that there are no spaces in the directory you move the jamulus directory to since it might break the Jamulus installer

[2021-03-22 08:13] gilgongo commented on #380
We need to re-vamp the Linux installation page now that we have the binary installer, and move the compilation instructions for all platforms to one place as part of that. I'll link this and other compilation issues to a master ticket on that.

See also:
https://github.com/jamulussoftware/jamuluswebsite/issues/382

[2021-03-22 08:15] gilgongo commented on #382
Let's turn this into a master ticket for re-jigging the Linux installation as well so that compilation for all platforms is in one place. The UX of installing for Linux is now with the binary.

[2021-03-23 06:15] ann0see commented on #378
Thanks. Just a short question: can you edit the Sound devices page yourself: https://github.com/jamulussoftware/jamuluswebsite/edit/release/_posts/2021-01-05-Jamulus-Sound-Devices.md ?

[2021-03-23 07:20] Robert53844 commented on #378
I've tried to do it (see pull request #383). Hope everything is ok; it was my first time using Git.

[2021-03-23 14:15] tackin opened #384 "USB-Hub causing some trouble with ASIO-driver only in jamulus"
**URL**
https://jamulus.io/de/wiki/Client-Troubleshooting

**Describe the bug**
Not a bug but a highly recommended info should be added. I run in to an unspecified error telling me during the "connect to server" that I have "a problem with my soundcard".
I use a ZOOM H4pro connected via USB over a USB-Hub to my PC Win8 (Generic ASIO-driver) and it works great so far. But Jamulus refused work in cl

[2021-03-23 17:31] #378 closed, assigned to nobody

[2021-03-23 17:31] ann0see commented on #378
I think you did everything right ;-)

[2021-03-23 22:13] ann0see commented on #344
Ok. Anybody who wants can add them in the release branch for every language.

[2021-03-23 22:14] #17 closed

[2021-03-23 22:15] #91 closed

[2021-03-23 22:16] ann0see commented on #91
Closing since it's not an issue. More of a guideline for the contribution pages.

[2021-03-23 22:17] ann0see commented on #372
Sorry, just saw this... the focusrite should already be on the page as far as I know?

Not sure about the presonus devices. Can you edit this file: https://github.com/jamulussoftware/jamuluswebsite/blob/release/_posts/2021-01-05-Jamulus-Sound-Devices.md ?

[2021-03-23 22:21] ann0see opened #385 "Document contribution process"
I think @gilgongo already worked on restructuring the contribution pages?

We can discuss the documentation of the new process here

Possibly Related https://github.com/jamulussoftware/jamuluswebsite/issues/91

[2021-03-23 22:30] ann0see commented on #384
Hmm. I always use my docking station and my Interfaxe works with it. Can you add content to the troubleshooting page: https://github.com/jamulussoftware/jamuluswebsite/edit/changes/wiki/en/en-Client-Troubleshooting.md

[2021-03-23 22:34] gilgongo commented on #385
Yes. https://github.com/jamulussoftware/jamuluswebsite/issues/314

[2021-03-24 06:01] ann0see commented on #385
Ok. Closing this then

[2021-03-24 06:01] #385 closed, assigned to nobody

[2021-03-24 15:27] pieterbos commented on #372
Yes, but the Scarlett has a 'should work great', that can be 'works great', and the clarett firewire can be added next to the thunderbolt one. And the presonus is not on the list. I'll edit the file soon!

[2021-03-24 17:10] ann0see commented on #372
Ok. Great!

[2021-03-24 17:10] #274 closed, assigned to ann0see

[2021-03-24 17:11] ann0see commented on #274
Closed this since I think it doesn't come up anymore.

[2021-03-24 18:56] tackin commented on #384
Of course. Done.

[2021-03-24 18:59] ann0see commented on #384
Thanks (Danke).

[2021-03-25 10:46] #384 closed, assigned to nobody

[2021-03-25 12:03] DominikSchaller opened #388 "MaxNumChannel is wrong"
https://jamulus.io/wiki/Command-Line-Options

Is says MaxNumChannel is 50, but it really is 150

[2021-03-25 18:15] ann0see commented on #388
Ok thank you. Can you update it on the [release branch (wiki folder)](https://github.com/jamulussoftware/jamuluswebsite/tree/release/wiki) for every language on the command-line-options page?

[2021-03-25 19:33] ann0see opened #389 "Document delay panning"
The short description can be:
--delaypan       Switches the server to 'delay panning' mode instead of the default 'volume panning' mode.

A bit more detailed description (elsewhere) can be:
When using a Jamulus server in 'delay panning' mode, the musicians listening under their head­phones can hear each other outside of their heads like in a physical meeting. The heard directions to the others can

[2021-03-26 12:46] ann0see opened #395 "Privacy: Clarify that audio is sent without encryption"
Sonobus clearly states that it's sending audio without encryption. I think we should also clarify this on the privacy page for Jamulus since users deserve to know that.

This should *not* turn into a discussion of implementing encryption. If we want to discuss this topic, please open an issue on the main repo.

[2021-03-26 16:59] gilgongo commented on #395
This is just adding a line in the privacy statement, is that right?

[2021-03-26 21:38] ann0see commented on #395
Yes. Probably

[2021-03-27 10:09] #388 closed, assigned to nobody

[2021-03-27 14:20] pljones commented on #330
Ah good, I thought we had this.  I wanted to mention some thoughts...

Tagging @gegeweb as an interested party.

### Definition of terms

#### Directory server
A _role_ performed by some servers.  Directory servers do not _register_ with another server but support clients connecting for jams.  However, their distinguishing feature is that other servers may _register_ with them and clients may retr

[2021-03-27 16:37] gilgongo commented on #330
I've not got any opinion either way since I'm not in the code, but are things like `<widget class="QLabel" name="lblCentralServerAddress">` and `SRS_CENTRAL_SVR_FULL` going to change as part of this ticket or are we just talking about the docs here?

[2021-03-27 20:08] gene96817 commented on #330
@pljones   Thank you for the definitions. I had trouble understanding a few details.

I think you mean the list of public directory servers and their locations are provided in the Jamulus client and server.

A directory server added by the Jamulus client or server user.

I think  part of this is "information about custom directory servers must be added by the user to the Jamulus client or server"

[2021-03-27 22:40] pljones commented on #330
"built in" - the ones in the source code - but only the Public ones.  We _may_ add Private ones to the server.  So not equally client and server.  So I was a little vague :).

Yes, I just phrased it as a definition, rather than an instruction.

As above - I've suggested having the server have a built in list of one or two "Private Directory servers" - not custom ones (and not exactly "private serv

[2021-03-27 23:21] gene96817 commented on #330
It is interesting that "community" to me is a collection of individuals with similar interests but not organized. If it is organized, then it would have an organization name. ...  It would be good to have an agreed way to refer to all the Jamulus users (ad hoc) and the mostly invisible users clustered around private servers.

[2021-03-28 17:34] gilgongo commented on #395
OK I put a line in "Please note that all audio and text data is sent and received between the Jamulus server and client without encryption."

[2021-03-28 17:34] #395 closed, assigned to gilgongo

[2021-03-28 17:56] gilgongo commented on #389
Presumably we can put this into the "What's this?" tooltip as well as the server docs. I'd suggest something more like:

"Delay panning uses small differences in sound arrival time between the two ears. It produces a stereo effect similar to natural human hearing when compared to normal "volume" panning. Note that to achieve the effect, all clients should be set to 'mono in / stereo out' (or to 's

[2021-03-28 17:59] gilgongo commented on #287
This wold be better as a Knowledge Base page. Feel free to open a PR on that.

[2021-03-28 17:59] #287 closed, assigned to nobody

[2021-03-29 05:55] ann0see commented on #389
Yep

Or stereo ;-).

[2021-03-29 08:08] DetlefHennings commented on #389
I would prefer to avoid 'psycho-acoustics' because this may not explain anything to poeple, who are not familiar with this term.
... and please have in mind that setting a client to 'stereo' only works well with delay panning, if this client transmits a stereo signal (from stereo microphones or from another stereo source).
We could write something like this:
"Delay panning means using small differ

[2021-03-30 08:16] ann0see opened #404 "Add sound devices from pianojoe"
@pianojoe I know we talked about adding an USB mic to the sound devices page a few months ago.

Do you want to add some (maybe the ones from your website):
https://www.pianojoe.de/welches-zubehoer-fuer-jamulus

You can edit the page here: https://github.com/jamulussoftware/jamuluswebsite/edit/release/_posts/2021-01-05-Jamulus-Sound-Devices.md

[2021-03-31 16:28] #376 closed, assigned to ann0see

[2021-03-31 16:29] ann0see commented on #372
Not sure about the status of this issue? Did you already edit the page?

[2021-04-02 10:17] pieterbos commented on #372
Sorry about the delay, I had been a bit busy. I opened a pull request for the changes.

[2021-04-02 11:12] ann0see commented on #372
Thanks

[2021-04-02 17:23] jujudusud opened #413 "[Translate] Screen shots languages !"
# Language you want to translate to
Fr and all others
# Description
There is a 'jamuluswebsite/assets/img/en-screenshots/' directory.
Isn't it more interesting to create also fr-screenshots directory (and all other languages) in order to have all the images stored at the same place ?

[2021-04-03 07:15] gilgongo commented on #413
Yes, the intention of the "en-screenshots" directory is so that there can be an "es-" "de-" and other directories if/when translators want to do that. Not sure what you mean by "interesting" though?

If you want to create "fr-screenshots" and use them on the French translations, feel free to do so. BTW we have a new CSS style to handle screenshots with captions. Not sure when that will be released

[2021-04-03 08:09] jujudusud commented on #413
`Not sure what you mean by "interesting" though?`
I mean something like:

- identical to 'en- ' workflow and organisation of the website files,
- upgradable with new screenshots only by replacing images by the new file with the same name
(no need to change the txt file of a page),
- centralized because it is possible to update all screenshots in one action without having to search for them one by

[2021-04-03 08:50] gilgongo commented on #413
Yes, that's the idea. I've also got a task to convert all the images that are currently using `user-images.githubusercontent.com` to being img tags hosted from the repo for this reason. We'll do that in the English version first on the changes branch.

The new style will allow you to use the `<figure>` and `<figcaption>` HTML tags. But not yet until that's live - so when you say _"I will first cre

[2021-04-04 09:39] gilgongo commented on #380
Just looking at this now but since I don't have a Windows build environment I can't verify that removing step 5 will be OK. Can anyone confirm?

[2021-04-04 12:03] henkdegroot commented on #380
@gilgongo step 5 is still required, just the part to specify the qt folder is not.

[2021-04-05 08:32] #372 closed, assigned to nobody

[2021-04-05 08:44] gilgongo opened #416 "Merge "Getting Started" with "Onboarding" for new "Setup" page"
As per discussions on: https://github.com/jamulussoftware/jamuluswebsite/pull/396

The current "Getting Started" and "Onboarding" pages overlap conceptually, have overlapping/duplicated information between them and the various platform-specific installation pages (which may give rise to documentation bugs) and have other problems. We need to link to just one "Setup" page from the nav, so creating

[2021-04-10 08:01] #344 closed, assigned to nobody

[2021-04-10 09:51] gilgongo commented on #375
@ann0see Can you explain what you mean? There doesn't appear to be a link to the GH Forum.

[2021-04-10 10:18] ann0see commented on #375
Yes there is: if you click the question mark in the footer, you'll be redirected to the GitHub Discussions forum.

What needs to be done:

1. change the variable name
2. change the variable content

Afterwards:

* remove the reference to sourceforge on the privacy page (if that hasn't been done already)
* Have a look at the graphics of the question mark. The color doesn'tseem to be right

[2021-04-11 08:32] gilgongo commented on #389
Done. Not sure why this wasn't close automatically on the merge though. Hm.

[2021-04-11 08:32] #389 closed, assigned to nobody

[2021-04-11 08:37] ann0see commented on #389
Maybe it wasn't linked?

[2021-04-11 08:47] gilgongo commented on #389
It was (well, is), but I think the project automation doesn't have a condition for "if PR on linked to issue closes, move issue to done". For some reason I thought it did (and the wording on the link above says "Successfully merging a pull request may close this issue." - weird). I guess maybe that would be problematic if more than on PR was linked?

[2021-04-11 08:52] ann0see commented on #389
Could be.

[2021-04-11 15:58] #319 closed, assigned to hoffie

[2021-04-12 20:19] #404 closed, assigned to nobody

[2021-04-14 18:39] mulyaj opened #426 "Localise Screenshots"
As discussed with @gilgongo, screenshots will be replaced from github URL to the local assets/img/screenshots path.

This is also semi-related to #413.

[2021-04-14 20:05] gilgongo commented on #426
I put all the current shots on the site in `assets/img/en-screenshots` in anticipation of this. If translators want to do localised screenshots too, they should create the relevant directory for those.

[2021-04-14 20:08] gilgongo commented on #426
Assuming we also add `site.url` to `_config.yml` then we can call all images like this I think?

[code]

or

[code]

[2021-04-14 20:30] mulyaj commented on #426
Currently, I have the figure tag like this:

[code]

I've also applied @gilgongo's css suggestions with some changes:

[code]

[2021-04-18 18:55] ann0see commented on #149
@chrisrimple Just added a basic page (#432) based on https://github.com/jamulussoftware/jamulus/discussions/1456#discussioncomment-625852 and a few experiences I had. Feel free to edit the page as you want.

[2021-04-19 06:14] #149 closed, assigned to nobody

[2021-04-24 20:28] ann0see opened #439 "ASIO4ALL has been updated"
**URL**
https://jamulus.io/wiki/Installation-for-Windows#asio

**Describe the bug**
ASIO4ALL 2.15 Beta 2 has been released. We should update it on the website.

Todo:

- [x] Push the binaries to the assets repo
- [x] Update the links for every language

To discuss: Should we still link beta 1? Did anyone test beta 2?

[2021-04-29 17:41] mulyaj commented on #339
Here's a [draft I've made](https://docs.google.com/document/d/12-QJXRskXhiJ9F5HCl216h53OtGkXhReMnm2wrbtQpk/edit?usp=sharing). Let me know your thoughts!

[2021-04-30 10:23] blaueente opened #447 "Recommendation for Focusrite on Linux questionable?"
https://jamulus.io/kb/2021/01/05/Jamulus-Sound-Devices.html

While researching the Focusrite Scarlett range, I found complaints that newer devices (starting with 3rd gen) have removed hardware switches, and have those functions only usable with their driver software. However that software comes for Windows and Mac only, which makes the devices hard to use with Linux.

Can someone who actually uses

[2021-04-30 18:56] #374 closed, assigned to nobody

[2021-04-30 18:59] #382 closed, assigned to gilgongo

[2021-04-30 19:00] #380 closed, assigned to gilgongo

[2021-04-30 19:02] gilgongo commented on #447
Hi @blaueente - good question, although it may get more eyeballs in the Discussion (and on Facebook) rather than here. I'll move this to the former.

[2021-04-30 20:55] #314 closed, assigned to gilgongo

[2021-05-02 07:40] #416 closed, assigned to gilgongo

[2021-05-02 07:42] #330 closed, assigned to gilgongo

[2021-05-02 07:43] #345 closed, assigned to nobody

[2021-05-02 08:04] gilgongo commented on #373
Not sure how to reproduce this. I guess monitoring would be a first step?

[2021-05-02 08:07] pljones commented on #330
"User base" would be a commonly used expression, I suppose.

[2021-05-02 08:40] gilgongo commented on #339
Thinking about where to put this on the site, if we create wiki/en/en-Style-Guide.md and link to it [from here](https://github.com/jamulussoftware/jamuluswebsite/blob/changes/README.md) that would work I think?

[2021-05-02 09:57] hoffie commented on #339
Could we add an additional word of context? `wiki/en/en-Language-Style-Guide.md`? `wiki/en/en-Doc-Style-Guide.md`?
I'm asking because there is also the topic of Code Style Guide (although I'm not saying that there will be such a document for that shortly).

[2021-05-02 10:00] hoffie commented on #373
Yes. I'm planning to set this up in my private monitoring infrastructure. If wanted, I can forward any alerts to team@.

BTW, I think there has been another breakage event recently which @ann0see fixed by forcing a rebuild.

[2021-05-02 10:24] #426 closed, assigned to mulyaj

[2021-05-02 10:27] gilgongo commented on #413
Now that we've got the screenshot markup in the changes branch I'll close this because translators will be able to create their own directory in `assets/img/[lang]-screenshots/` now.

[2021-05-02 10:27] #413 closed, assigned to nobody

[2021-05-02 10:30] gilgongo commented on #322
Closing this as it now pretty much duplicates https://github.com/jamulussoftware/jamuluswebsite/issues/349 and is on the same PR anyway.

[2021-05-02 10:43] #375 closed, assigned to nobody

[2021-05-02 11:03] gilgongo commented on #373
Interesting. Maybe this means we have to check all changes locally? From time to time we (well, I) make changes via Github and just trust the build scripts.

[2021-05-02 14:06] hoffie commented on #373
I rather suspect that this might be a temporary problem with the CI? So that would be hard to spot locally. All those cases I've spotted were fixed by starting a rebuild in some way (sometimes by pushing another change, sometimes by restarting the CI job).

[2021-05-02 19:56] mulyaj commented on #339
We could probably add a link to it from ``Contribution.md``.

[2021-05-04 18:35] hoffie opened #456 "Update de web translation for 3.8.0"
Hi @Helondeth, @ewarning,

We are getting ready for the 3.8.0 release and have created the [translate3_8_0](https://github.com/jamulussoftware/jamuluswebsite/tree/translate3_8_0) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..translate3_8_0)).

Because the English is still going through large changes, we are not expecting translations of anything other than

[2021-05-04 18:41] hoffie opened #457 "Update es web translation for 3.8.0"
Hi @ignotus666,

We are getting ready for the 3.8.0 release and have created the [translate3_8_0](https://github.com/jamulussoftware/jamuluswebsite/tree/translate3_8_0) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..translate3_8_0)).

Because the English is still going through large changes, we are not expecting translations of anything other than the follow

[2021-05-04 18:41] hoffie opened #458 "Update fr web translation for 3.8.0"
Hi @jujudusud, @trebmuh,

We are getting ready for the 3.8.0 release and have created the [translate3_8_0](https://github.com/jamulussoftware/jamuluswebsite/tree/translate3_8_0) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..translate3_8_0)).

Because the English is still going through large changes, we are not expecting translations of anything other than t

[2021-05-04 18:41] hoffie opened #459 "Update it web translation for 3.8.0"
Hi @dzpex,

We are getting ready for the 3.8.0 release and have created the [translate3_8_0](https://github.com/jamulussoftware/jamuluswebsite/tree/translate3_8_0) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..translate3_8_0)).

Because the English is still going through large changes, we are not expecting translations of anything other than the following p

[2021-05-04 19:52] jujudusud commented on #458
Translate FR done:
- [x] 1-fr-index.html
- [x] data/fr/general.yml
- [x] data/fr/navigation.yml
- [x] wiki/fr/fr-Choosing-a-Server-Type.md
- [x] wiki/fr/fr-Client-Troubleshooting.md
- [x] wiki/fr/fr-Command-Line-Options.md
- [x] wiki/fr/fr-Compiling.md **-> suppress <-**
- [x] wiki/fr/fr-Contribution.md
- [x] wiki/fr/fr-Demos.md
- [x] wiki/fr/fr-Directory-Servers.md
- [x] wiki/fr/fr-Getting-Starte

[2021-05-04 20:49] dzpex commented on #459
thats ok! i will try to respect the data

[2021-05-05 20:14] ewarning commented on #456
Hello @hoffie,
I’ve never contributed with GitHub before, I’m trying to figure out where do I have to upload the files, and how should they be named. Maybe you can help me on this. Let’s say for instance, I’ll start with Installation for Mac. Is it under

translate_3_8_0 / jamuluswebsite / wiki / de /

- de-Installation-for-Macintosh.md / Documentation release v3.7.0 (#341)

??

Thanks!

[2021-05-05 20:43] jujudusud commented on #456
Hi @ewarning .
The first thing to do is reading the new README.md file in the changes branch : [https://github.com/jamulussoftware/jamuluswebsite/tree/changes](url)
After that if your are familiar with `git`, you should just use it as usual.

The files to translate are located in the translate3_8_0 branch in your language directory (and some others are in data or root directory).
Those files have

[2021-05-05 20:52] ewarning commented on #456
@jujudusud Many thanks!

[2021-05-05 21:05] hoffie opened #461 "Update de web translation for 3.8.0"
Hi @Helondeth, @ewarning,

We are getting ready for the 3.8.0 release and have created the [translate3_8_0](https://github.com/jamulussoftware/jamuluswebsite/tree/translate3_8_0) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..translate3_8_0)).

Because the English is still going through large changes, we are not expecting translations of anything other than

[2021-05-05 21:05] hoffie opened #462 "Update es web translation for 3.8.0"
Hi @ignotus666,

We are getting ready for the 3.8.0 release and have created the [translate3_8_0](https://github.com/jamulussoftware/jamuluswebsite/tree/translate3_8_0) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..translate3_8_0)).

Because the English is still going through large changes, we are not expecting translations of anything other than the follow

[2021-05-06 06:38] jujudusud commented on #456
Don't hesitate if you have any other questions about the process.

[2021-05-06 21:01] ewarning commented on #456
Okay, it was no easy task but I managed to put things together! Questions:

- Why can’t I tag @Helondeth here, who is also doing the german translation?
- When commiting changes to my own fork before pulling, is there a naming convention? I see for example
Documentation release v3.7.0 (jamulussoftware#341)

Thanks for now, more questions will probably appear

[2021-05-06 21:16] hoffie commented on #456
Cool! :)

What do you mean by tag? By mentioning him with the @ syntax he should get a notification.

If you mean the branch name, it doesn't matter too much. You could call it translate3_8_0_german for example.
If you mean the commit message, it would be helpful to use something like this:

[code]

You can and should use the same text when opening the Pull Request. This will automatically link it

[2021-05-07 12:52] ewarning commented on #456
Thanks again @hoffie,

okay, I was confused, because when I type @H his name does not appear in the dropdown.

@Helondeth: I started working on the Setup and on Installation on macOS if you don’t mind.

[2021-05-08 12:25] gilgongo commented on #458
Wonder why this didn't close when we merged the linked PR? It says "a pull request that will close this issue".

[2021-05-08 16:17] jujudusud commented on #456
Hi all, I have this image for the screenshots :
![german-verification-mac](https://user-images.githubusercontent.com/12748768/117546221-a4cd5580-b029-11eb-92e2-5a164fbd9aa4.png)

[2021-05-08 16:19] jujudusud commented on #459
Hi here, I have this image if you wanted to translate screenshots :
![italian-verification-mac](https://user-images.githubusercontent.com/12748768/117546290-fbd32a80-b029-11eb-9213-5f6190798223.png)

[2021-05-08 16:43] ewarning commented on #456
@jujudusud Thanks. Another question, how do you guys work, here in the website or with the GitHub software? What would be best in terms of productivity?

[2021-05-08 19:37] hoffie commented on #458
Seems like the explanation is in the [docs](https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword):

I wasn't aware of that though. :(

Maybe that's why the UI says "Successfully merging a pull request **may** close this issue."

[2021-05-08 22:52] jujudusud commented on #456
I'm working with `git` because I can have a local "copy" of the repository and work offline with my ordinary tools (nano for the text, pinta for images ... etc). Because I use my ordinary tools, I am more productive than with another stranger tool.
But, I you feel good with web UI of github, it's great and powerfull.
The only things that I do with Github web UI are forking a repository, fetching m

[2021-05-09 11:08] gilgongo commented on #458
OK so closing manually then.

[2021-05-09 11:08] #458 closed, assigned to trebmuh, jujudusud

[2021-05-09 11:08] #457 closed, assigned to ignotus666

[2021-05-09 19:04] ewarning commented on #456
Hello,
I just did the first pull request, I don’t know if I did it right, everything is a bit confuse for me. Please tell me if it is okay, I’ll try to submit more translations between today and tomorrow.

[2021-05-09 20:01] gilgongo commented on #439
I see that Beta 2 supports Windows 10 only.

[2021-05-09 20:08] ewarning opened #468 "[Bug] Getting started or Setup?"
**URL**
https://github.com/jamulussoftware/jamuluswebsite/blob/translate3_8_0/wiki/en/en-Installation-for-Macintosh.md

**Describe the bug**
I’m doing the translation to german, and I was told „Getting started“ should be renamed to „Setup“. On the page above says Getting Started though.

Sorry if I’m missing something, I’m quite new both here in team and in GitHub as well.

[2021-05-09 20:13] gilgongo commented on #468
Sorry for the confusion. The file "Getting-Started.md" will still exist but will redirect to "Setup.md". I should have just changed the content of "Getting Started" and not created a new page... :-( Too late now.

Links to "Getting Started" can stay as they are I think as the meaning is almost the same. The reason the English used "Setup" is that it's shorter - easier to use in navigation.

[2021-05-09 20:38] ewarning commented on #456
Should I pull request everytime when I have a file done, or just once at the end when everything is ready?

[2021-05-09 21:12] hoffie commented on #456
Thanks, this looks good! Haven't had a look at the actual content yet, but will do in the coming days.

I think it is enough to do one Pull Request. If you are still adding commits to your existing PR, it would be good to convert it to a draft to avoid accidential merges. There is a small "Convert to Draft" link in the upper right for that.

[2021-05-09 22:45] ewarning opened #469 "Update pt web translation for 3.8.0"
# Language you want to translate to
Portuguese

# Description
As I’m already doing the german translation, I could also in a fly do portuguese as well, if desired. Let me know.

[2021-05-09 23:02] ewarning opened #470 "[Question] Installation for Linux - no more compilation instructions?"
Sorry if I’m annoying you guys with thousand questions.

I’m translating the Installation for Linux now, and I noticed (as a Linux user myself), that the instructions for compiling the source code are no longer there. Is it intended to be that way?

[2021-05-10 09:36] jujudusud commented on #470
It is intenses.
Compiling informations are often at the same place as sources. Si, now it is here :
https://github.com/jamulussoftware/jamulus/blob/gilgongo-compiling/COMPILING.md

[2021-05-10 19:28] hoffie commented on #470
@ewarning Does @jujudusud's reply answer that for you? If so, please close this issue. Thanks :)

[2021-05-10 19:30] hoffie commented on #469
I guess it would be welcomed by those readers :)
@gilgongo @melcon @Snayler What do you think?

[2021-05-10 19:58] #470 closed, assigned to nobody

[2021-05-10 20:01] ewarning commented on #469
Okay, I’ll work on that, already commited two pages. Is there away to link my PR to this issue and the german one at the same time?

[2021-05-10 21:29] hoffie commented on #373
What I have done now is:
- Run a quick & dirty link checker (`wget`, see below) once per hour (because it causes some traffic)
- Check index pages for all languages for status 200 code once per minute

Both alerts currently onyl reach me directly. Let me know if I should add specific people or team@.

I do not see any chance to find the root cause for the initial issue right now, so I'll close thi

[2021-05-10 21:29] #373 closed, assigned to hoffie

[2021-05-10 21:56] gilgongo commented on #469
Bear in mind that there will be (yet another) quite large set of changes in the next release as we come out with a User Manual and Server Admin Manual, and re-adjust some other stuff around that (also perhaps a new web site layout/navigation). So you will re-doing some of this ... :-(

[2021-05-10 22:01] melcon commented on #469
Welcome aboard @ewarning.

I'll fix my fork first then will start looking at pt_BR web as well.

[2021-05-10 23:54] Snayler commented on #469
I'm ok with that, I never got the time to do the website translation

[2021-05-11 06:38] gilgongo commented on #456
Oops I merged it - were you going to do some more @ewarning ?

[2021-05-11 17:09] gilgongo commented on #468
@ewarning Is that OK can now? Can we close this?

[2021-05-11 17:35] jujudusud commented on #468
I have translated all the `Getting Started` By `Setup` in french.

[2021-05-11 17:54] gilgongo commented on #468
Yes, in English they are very similar terms.

[2021-05-11 19:52] #468 closed, assigned to nobody

[2021-05-11 19:55] ewarning commented on #456
I did what @hoffie told me at the original post: Home page, Setup and Installation Windows, Mac and Linux.
Tonight I’ll do the rest for portuguese and open a PR for that language. As soon as the other textes are ready I can go on with the translations.

[2021-05-18 09:02] reneknuvers opened #480 "DOC: onboarding information outdated"
In the onboarding section of the documentation there is the following information:

`
The buffer delay setting is a fundamental setting of the Jamulus software. This setting has an influence on many connection properties. Three buffer sizes are supported:

64 samples: The preferred setting. Provides the lowest latency but does not work with all sound cards.
128 samples: Should work for most availa

[2021-05-18 09:17] ann0see commented on #480
Hi @reneknuvers I've just transferred this issue to the documentation repository.

Do you mean the Software Manual page: https://jamulus.io/wiki/Software-Manual#buffer-delay there are multiple outdated screenshots and I think either @gilgongo or @jujudusud are working on them for the next release. If you want, you can help them, but I think the new release of the website will fix some of these iss

[2021-05-18 10:01] jujudusud commented on #480
Will be updated with the 3.8.0 release of the app.

[2021-05-18 14:02] #480 closed, assigned to nobody

[2021-05-19 17:28] ann0see commented on #321
Closing this due to inactivity

[2021-05-19 17:28] #321 closed

[2021-05-21 20:30] ann0see commented on #339
Just found the Google Doc again. https://docs.google.com/document/d/12-QJXRskXhiJ9F5HCl216h53OtGkXhReMnm2wrbtQpk/edit

Will link it on my PR.

[2021-05-24 15:12] ann0see commented on #439
Yes. But the same is for the other Beta. Do you think we should update it now?

[2021-05-25 09:36] ignotus666 opened #484 "Formatting in Tips-Tricks-More.md"
I know you're busy at the moment with the release - this isn't a pressing issue, but it'd be great if someone with some knowledge of formatting in markdown files could help me out here because nothing I do seems to work.

When converting .md files to .po, all the formatting has to be transferred too, and it works fine for every single file except the one in the title. It contains a few scripts wra

[2021-05-25 10:18] hoffie commented on #439
It would be good to have at least one Jamulus dev or user provide feedback that it works, I think? Especially considering that we are linking to beta releases...?

[2021-05-25 10:35] ann0see commented on #439
I used beta 2 and it works a lot better than the stable release.

[2021-05-25 10:52] hoffie commented on #439
Cool! Then maybe replace the beta1 link with beta2?

[2021-05-25 10:58] ann0see commented on #439
Yep

[2021-05-25 11:01] ann0see commented on #484
Hmm. I think there’s also another way to format code: use three \` instead of \~. Maybe this solves the problem?

[2021-05-25 11:08] ignotus666 commented on #484
Tried that - it didn't work. It doesn't cause a problem for the first script so it must be something else. I think it's some kind of line break that I can't identify.

It's the \n¶ at the end of each line, but with some version of \n that does the same and is hidden. That's my uninformed hypothesis anyway...

[2021-05-25 12:23] ann0see commented on #484
You could have a look at it with an ASCII editor? Linux & Mac vs Windows line breaks maybe?

[2021-05-25 13:32] ignotus666 commented on #484
Fixed it. I found someone having a similar problem with Kicad/po4a. It was a matter of inserting a space before the start of each line. I don't know if it's a bug or po4a is following some kind of formatting rule too strictly, but it's a minor issue - this is the only doc it happened with.

[2021-05-25 13:32] #484 closed, assigned to nobody

[2021-05-27 11:21] ann0see opened #488 "Use button for installation guides"
Is there any reason why the buttons for the installation guides have been removed in the upcoming website release and are now just "invisible" links? I think we should still make them prominent on the Setup page to make the workflow easy.

[2021-05-27 11:29] ann0see commented on #331
@Akhilesh1204 any updates here?

[2021-05-27 15:19] ann0see opened #489 "[Knowledge Base] Alternative Linux install methods"
Although it's not an official way to obtain Jamulus, tormodvolden seems to host Jamulus for Ubuntu: https://launchpad.net/~tormodvolden/+archive/ubuntu/jam/+packages

There are also various other methods out there (and see also https://github.com/jamulussoftware/jamulus/discussions/2133)

We might link it somewhere on the linux installation page?

[2021-05-29 07:16] gilgongo commented on #489
OK, but for every external thing we link to like this it's more content for us to maintain over time. Also, I would think explaining how to set up a PPA is more complicated than the installation instructions we have now (unless we literally just link to it I guess).

[2021-05-29 07:34] gilgongo commented on #488
The reason is that I would think most people can probably skip that section since they'll have already installed Jamulus by the time they're on that page. So it doesn't need to heavily called out. In fact once we have a more prominent "Download" link on the new nav with a single download page explaining the basics, I was thinking of removing that section anyway.

[2021-05-31 07:22] ann0see commented on #488
Ok. But this is only true as soon as the downloads page exists

[2021-05-31 07:26] ann0see commented on #489
A ppa is much more convenient and more "the Ubuntu way". It allows automatic upgrades and a standard way of maintaining software installs/updates/removal. So it’s a one time setup.

We might need to explain the user that there are multiple ways to obtain Jamulus:

1. Get Jamulus from the official distribution repo
2. Get the official .deb
3. Use an unofficial PPA for automatic upgrades
4. Use Flat

[2021-05-31 08:22] gilgongo commented on #489
Yes, but point about the repo is that we don't maintain it, so without regular checks we don't know if it's up to date.

As to the rest of the options, my general view is that more content = more work = more potential for problems. Most other multi-platform software out there (eg VLC, Gimp, others) have a single supported way of installing their Linux stuff for that reason I think. And ours is (cu

[2021-05-31 08:26] gilgongo commented on #488
OK sure.

[2021-05-31 18:07] ann0see commented on #489
Yes probably. I think we could move the Flatpak there. But this would need some one who knows Pipewire... I tested  pw on Debian 11 with the normal build of Jamulus and it performed worse than native JACK. Maybe some people get it run probably...

official distribution repo = repository of the linux distribution you are using. We are in [Debian Buster backports now ](https://packages.debian.org/de

[2021-05-31 18:09] ann0see commented on #488
So I would suggest to add the buttons for now to make the guides more visible

[2021-05-31 18:37] gilgongo commented on #489
When this was all discussed, I understood that the .deb file download and install was the official method for now because we're not fully in control of what releases go into other repos. But perhaps others can clarify that.

[2021-05-31 19:06] hoffie commented on #489
I'd say it is, yes.

And we may never be and that would be totally acceptable, IMO.

Not all Linux distros ship Jamulus and most may not ship the latest version, especially those distributions which backport bugfixes only for a given release (*EL, Debian, ...).

The PPA is somewhere in-between -- it's neither officially by us nor officially by the distro. It's obviously a benefit for users (downlo

[2021-06-01 06:30] gilgongo commented on #489
My assumption is that just like the other platforms, if we support Linux (5% of the users base), then we have a duty to ensure that "download the latest, supported, correct version" does just that. If people want to maintain lists of alternative methods controlled by others, I'd say that's one for the KB really.

[2021-06-01 08:56] ann0see opened #501 "Link legacy macOS build on website"
We now provide two builds for macOS: legacy and the normal one. We should link both on the macOS page.

[2021-06-01 09:05] gilgongo commented on #501
What's the reason? I've not been following the macOS stuff.

[2021-06-01 09:06] ann0see commented on #489
Ok. So we should then create a KB page ;-)!

[2021-06-01 09:12] ann0see commented on #501
The new build with Qt 5.15.2 supports macOS Big Sur without UI glitches and multiple small bugs but breaks compatibility to old versions of macOS. See: https://github.com/jamulussoftware/jamulus/pull/1687 and especially https://github.com/jamulussoftware/jamulus/pull/1768

[2021-06-01 16:08] gilgongo commented on #501
Oh OK, so it's just a straight OS version split on the download page. I assume we therefore maintain two versions of 3.8.0+ from now on?

Just trying to work out what impact this has on what we say on the website.

[2021-06-01 16:24] ann0see commented on #501
Yes. I think we could just link the legacy build from the macOS page the same as for the SourceForge mirror

[2021-06-01 16:44] jujudusud commented on #469
Hi ewarning,
do you plan to create the necessary screenshots for the website based on the EN screenshots ?

[2021-06-01 17:10] gilgongo commented on #501
How does that work with the links exactly then? Do we have two `{{ site.download_file_names.mac }}` variables and change the SF link to point to the versions directory instead or something?

[2021-06-01 18:59] ann0see commented on #501
I think something like this would be enough:

![macOS](https://user-images.githubusercontent.com/20726856/120376426-2d36d180-c31c-11eb-9e8a-abdcdcba63b4.png)

[2021-06-01 19:05] gilgongo commented on #501
So will we need to update these links for each release (until we abandon support for anything lower than macOS 11)?

[2021-06-01 19:08] ann0see commented on #501
Unfortunately yes.

But it's all in _config.yml

[2021-06-01 19:25] ann0see commented on #501
Ok. Just pushed this change to translate

[2021-06-01 19:28] ann0see commented on #501
@ignotus666 @jujudusud I also added the legacy link to your translations. You can translate them later on

[2021-06-01 19:42] #501 closed, assigned to nobody

[2021-06-01 20:13] jujudusud commented on #501
Done for FR, to be merged.

[2021-06-02 18:31] ann0see commented on #439
Done

[2021-06-02 19:10] #459 closed, assigned to dzpex

[2021-06-02 19:10] ann0see commented on #469
@ewarning once the site is released, could you please check if everything is ok for PT and German (especially that everything is in sync with en)?

[2021-06-02 19:15] #439 closed, assigned to nobody

[2021-06-02 19:18] #456 closed, assigned to nobody

[2021-06-02 19:18] #469 closed, assigned to nobody

[2021-06-02 20:26] henkdegroot opened #508 "Anchor link at Server-Linux page not correct"
**URL**
https://jamulus.io/wiki/Server-Linux

https://jamulus.io/wiki/Tips-Tricks-More

**Describe the bug**
In the Recording section at the bottom the following text is written:

See [this information](https://jamulus.io/wiki/Tips-Tricks-More#controlling-recording-on-linux-headless-servers) on controlling recordings on headless servers.

The url used for "this information" is: https://jamulus.io/

[2021-06-02 21:09] ignotus666 opened #509 "Create po4a branch for changes/corrections to EN and translations"
As you know I've been setting up a branch using po4a to see if a better workflow can be implemented for translations. A key part of getting the branch ready is keeping all the wiki documents and their .po counterparts level with the "official" website docs. Right now they are at this state, but every time someone adds something to a document, I have to manually edit a number of files on my branch

[2021-06-02 21:30] ann0see commented on #509
Yes. Moving to the process now would be the best move, I think.

If the branch can be deployed right now (and is in sync with the state on the Release branch, I would strongly suggest to:

1. Freeze release and changes
2. Merge your work to release (this will make the process easier in the mid term but dangerous for the short term; we can however always revert problematic commits)
3. This would re

[2021-06-02 21:31] ann0see commented on #509
I think there are some questions regarding the process; I‘m sure we’ll sort them out soon.

e.g. Can we edit a translation on the release branch if there’s a typo?

[2021-06-02 21:35] ignotus666 commented on #509
It's not fully in sync with anything though - it was based on 'translate' from about a week ago and diverged from there. What's in sync are the wiki documents, but not the rest. The transition would involve manually adding the files I listed above.

Yes. You edit the typo in the corresponding .po file and run po4a-create-all-targets.sh

[2021-06-02 21:44] ignotus666 commented on #509
More problematic are typos in EN files. A correction to EN and then running po4a-update-templates.sh will cause the whole paragraph to appear as untranslated in all the .po files. They will insert a fuzzy match (if its 80% or more, which a typo correction will always be) but it has to be validated manually. This means all EN documents will have to be thoroughly proofread before running the script

[2021-06-02 21:46] ann0see commented on #509
Sorry, should have written „as soon as“ instead of if (Could be a typical mistake for German speakers).

Could you please create a branch on your repo based on release, add the folders, commit & push it and then open a pull request to release?

You can have a look at https://github.com/jamulussoftware/jamulus/blob/master/TRANSLATING.md#command-line-git-tools

and

https://github.com/jamulussoftwar

[2021-06-02 21:53] ignotus666 commented on #509
Ok, I'll do it tomorrow morning.

[2021-06-02 22:19] hoffie commented on #509
I agree, several parts in the process did not work out as expected for very different reasons, so I fully understand that feeling.

The work you've done, the scripts you've written and the process as planned sound really good to me. I have to admit though that I haven't had a look in detail yet (and can't promise when I will). In general, I would be in favor of doing the change and doing it now.
H

[2021-06-02 22:37] jujudusud commented on #509
Ok from my side.
I will test the process with linguist certainly tomorrow. I will let you know how it is going for me.

[2021-06-03 06:39] gilgongo commented on #509
BTW can we tell p04a to exempt certain paragraphs from translations? I'm thinking markdown code blocks mainly, but if for example if there's a paragraph with a file name in it or something and that needs updating (but not translating)?

[2021-06-03 06:46] ignotus666 commented on #509
If you update something, by default, without intervention by translators, the English paragraph will be shown, so in that case it's no problem.

[2021-06-03 06:52] gilgongo commented on #509
Sorry I meant a change like this along with making changes to some other paras that do need translation. How does po4a-update-templates.sh know not to mark that paragraph as now only partially translated and then knock it all back to the English?

[2021-06-03 06:52] ignotus666 commented on #509
Of course their input is necessary, but their workflow will barely change at all. Editing/adding content will continue as up until now, on .md files.

This would work but I'm not sure if editing every raw .po file for every language by hand (.po editors won't let you change source segments) is any easier than just opening them with an editor and validating the inserted fuzzy matches.

[2021-06-03 06:59] ignotus666 commented on #509
Paragraphs that have changed by more than 20% will appear as empty segments, those by less will have a fuzzy match inserted - in the editor. But without intervention, all of them will display the untranslated English version in the final document. Fuzzy match insertion is just to make the translator's work easier, as it's assumed you'll be able to "recycle" much of it.

Don't know if that answers

[2021-06-03 09:46] ignotus666 commented on #508
This has been fixed in PR #510.
Same anchor was missing in FR.

[2021-06-04 11:03] ann0see opened #511 "[Knowledge Base] Connecting to JACK"
Just documenting this for anybody who wants to take it up:

_Originally posted by @pljones in https://github.com/jamulussoftware/jamulus/pull/1732#r637373198_

[2021-06-04 21:47] ewarning commented on #469
Sorry, I’ve been busy I’ll do the ss right now.

[2021-06-04 22:08] ewarning commented on #469
I’m not sure I’m doing it right. I uploaded the pics to my rep on the branch translate_3_8_0 and created a PR as I did before. But all my changes and commit are showing up there, is it supposed to be like that?

[2021-06-05 07:28] jujudusud commented on #508
Is it ok now ?

[2021-06-05 07:30] ann0see commented on #469
Since the new website is out, you‘ll need to have a look at the release branch. Let me first merge @ignotus666 pr

[2021-06-05 07:32] #509 closed, assigned to nobody

[2021-06-05 07:45] ignotus666 commented on #508
Yes, they should be all fixed in #510

[2021-06-05 11:45] pljones commented on #511
I take it we'd want to cover all platforms, not just Linux, with this.

[2021-06-05 12:43] pljones opened #514 "Server registration - illegal characters"
The server registration requirements are not clearly documented - semicolon and newline should not be allowed.

See https://github.com/jamulussoftware/jamulus/pull/1803 and https://github.com/jamulussoftware/jamulus/pull/1804

This should form part of the server administrator's guide.

[2021-06-05 14:23] jujudusud commented on #508
@henkdegroot if you are ok, we can close this issue since de PR is now merged. ;-)

[2021-06-05 16:36] henkdegroot commented on #508
Working fine now.

[2021-06-05 16:36] #508 closed, assigned to nobody

[2021-06-06 07:13] tenorix opened #516 "Viewing the logs doesn't work as specified (wiki/en/Server-Linux.md)"
https://jamulus.io/wiki/Server-Linux
wiki/en/Server-Linux.md

Error in Section "Viewing the Logs".

Currently, the shown commands for viewing the logs refer to systemd unit `jamulus` (e.g. `journalctl -u jamulus`).
It should be `jamulus-headless` - otherwise it won't work.

--
Note: This is my first issue on github :)

[2021-06-06 13:50] ann0see opened #519 "Exclude translator_files from being pushed to gh-pages"
Currently the translator_files folder and both scripts are pushed to the gh-pages branch. Since they are not needed there, we could probably somehow exclude them.

[2021-06-06 17:35] chrisrimple opened #520 "[Bug] Command-Line-Options lacks options such as --server, --multithreading"
Describe the bug
There appear to be valid command line options missing from the list at https://jamulus.io/wiki/Command-Line-Options

To Reproduce
I'm doing a clean install of 3.8.0, building it myself without a *.deb file. I'm creating the *.service file manually. For 3.7.0, my ExecStart was:

ExecStart=/usr/local/bin/Jamulus
--server
--nogui
--serverinfo "School of Rock WS;Seattle, WA;225"
--wel

[2021-06-06 17:40] jujudusud commented on #520
Waiting for the other members of the website team.
My point of view is that the website have to list all the available options in command line.

[2021-06-06 20:49] ann0see commented on #349
Renamed this issue to focus on the header only

[2021-06-07 08:41] ann0see commented on #516
Hi @tenorix! Thanks for raising this issue. Probably that's outdated information ;-). I'm not exactly sure if we can change this in the live version (asking @ignotus666 here) but I'm quite sure that we can fix this for the next release. I've tagged it to the 3.8.1 Milestone.

[2021-06-07 08:44] ann0see commented on #520
True. I assume this page is being reordered by @gilgongo?

Yes. But we'll move over to the server manual soon and I think this site will then be less important (and should then document all features [including --analyzerconsole -L etc.])

[2021-06-07 09:22] ignotus666 commented on #516
I think we could. Correct it in EN, run po4a-update-templates.sh, validate that segment in ES and FR (.po files) and run po4a_create-all-targets.sh - it shouldn't need translator input as it would be inserted as a fuzzy match.

[2021-06-07 09:29] ignotus666 opened #521 "Timestamp changes in .po and .pot files pollute commits"
When the po4a-update-templates.sh script is run, the timestamp changes in all .po and .pot files. GH interprets this as a modification and lists all those files (almost 200) as having been modified, when this modification is inconsequential. This means an endless list of edits is shown, polluting the commit history and making it hard to pick out relevant changes. There must be a way to tell GH to

[2021-06-07 09:35] ignotus666 commented on #516
I can do it if you want.

[2021-06-07 09:52] ignotus666 commented on #516
Added to PR #517. I edited the .po .pot and .md files directly to avoid the deluge of modified files and it works.

[2021-06-07 10:37] #516 closed, assigned to nobody

[2021-06-07 10:38] ann0see commented on #516
Ok. Thanks for working on this @ignotus666 and thanks @tenorix for mentioning it! It should be fixed soon.

[2021-06-08 06:37] gilgongo commented on #520
That's a bit strange those are missing! I seem to remember there was a merge conflict at one point. Maybe they got lost in that? I was trying to reconcile some differences between the output of `-h` and what we had on the website.

Thanks for spotting though.

[2021-06-08 06:46] gilgongo commented on #511
Connecting to JACK is a requirement to run Jamulus under Linux so it's on the website itself ([I assume](https://jamulus.io/wiki/Installation-for-Linux#configure-jack-with-qjackctl)). For other platforms, it's an option so would qualify for either the KB or T&T I think.

Just so I'm clear, what's the primary advantage of using JACK on other platforms? If it's not just a minority interest (routing?

[2021-06-08 07:11] pljones commented on #511
Allegedly better overall latency than ASIO4ALL - but I can't corroborate.  Plus routing and multi-client, etc, that you'd need some other set up (e.g. ReaRoute/Reaper on Windows) to achieve.

The reason I think it would be good if it were clearly documented in one place is that it's pretty much the same set up process for Jamulus, regardless of platform, with JACK.  (Setting up JACK is a per-platf

[2021-06-08 17:22] ann0see commented on #511
It’s not only related to Linux of course. Once https://github.com/jamulussoftware/jamulus/pull/1829 is merged, it could be equally applied to Windows. Also https://jamulus.io/kb/2021/04/18/Jamulus-Video.html could benefit from a link?

[2021-06-10 17:37] ann0see opened #525 "Tracking outdated information"
This issue is to track outdated information on the website (as requested by @jujudusud)
 **This only tracks and should track the english version**
- [x] 1. Jamulus main window screenshot doesn't show the latest changes
- [x] 2. Main window screenshot is outdated
- [x] 3. Commands on the Choosing-a-Server-Type should be jamulus (lower case), not Jamulus (upper case)
- [x] 4. Client-Troubleshooting:

[2021-06-10 19:39] jujudusud commented on #525
Commenting for now only:
Why did jamulus should be lower case ?
Yes we should put "Jamulus Demos" in KB
FAQ Diagrams you can use FR screenshots images (with translation work in EN) (the public one needs to be identical to private in the client screen)

[2021-06-10 19:54] ann0see commented on #525
since the .deb file installs the binary as `jamulus` not `Jamulus`

[2021-06-10 23:01] jujudusud commented on #525
Ok, but it is not the standard build option. Anyway ... I'm ok with this explanation. Disapointed but ok ...
Is Jamulus also with lower case in Windows and macOS ? In Archlinux it is using the Jamulus standard upper case since 3.5.6 release. Do I have to revert this to go with lower case ?

[2021-06-11 04:59] ann0see commented on #525
In Windows it‘s upper case. Not sure about macOS

[2021-06-11 05:51] gegeweb commented on #525
Windows and macOS do not work like linux.
Windows file system is case insensitive.
macOS too by default.

Under macOS the binaries are in the *.app (Jamulus.app and JamulusServer.app, it is uppercase).

I agree about the missing compilation information for Linux (information was in the previous version of the doc…).
I use Jamulus (server and client) on a Rpi4 and there is no *.deb for armhf or arc

[2021-06-11 06:03] gegeweb commented on #525
About choosing server type page, I still think that it is necessary to explain the context of use of the different types of servers.
Including a central server.

In order to answer :
Do I need a server?
What do I need it for? Private use for my group or public use for jamming with others?

For the central server it can be useful for an organization (music schools, online events...).

[2021-06-12 11:07] ann0see commented on #525
Agree. Can you make a proposal PR to the next-release branch?

[2021-06-12 11:57] jujudusud commented on #525
@gegeweb -> Isn't it already here ? https://jamulus.io/wiki/Running-a-Server

[2021-06-13 12:52] gilgongo commented on #525
11 is covered in my Monster PR From Hell here https://github.com/jamulussoftware/jamuluswebsite/pull/527

On point 8, I was going to do a separate PR for that as it now overlaps on some information in Setup and elsewhere, and may not in fact be very useful now. It's based on a very old text Volker wrote on the SF website in fact.

[2021-06-13 12:54] gilgongo commented on #525
@gegeweb I incorporated suggestions made in https://github.com/jamulussoftware/jamuluswebsite/issues/45 in #527

[2021-06-13 12:58] gilgongo commented on #525
Although it doesn't count as "outdated" I'd also like to have a screenshot of the main window on the home page, replacing the cloud image, as I think that's perhaps a bit more "engaging".

[2021-06-13 13:13] gilgongo commented on #525
On point 10, we're trying to get people to use binary packages so we can support them better. We also shouldn't imply we maintain things for other distros (most of which are very out of date as far as I can tell). And anyone who has any interest in compiling will just git clone and read COMPILING.md.

So I think expanding that page may cause problems over the longer term. The fact that we don't ha

[2021-06-13 13:26] jujudusud commented on #525
My point of view is that we should provide a Raspberry Pi os arm package since it is nearly the same as Debian x86_64.
Convince users to use binaries and not changing the help pages since compiling info are on the repository.
Another thing is that we don't want anyone to run a server since there are hundreds of theme available.

[2021-06-13 15:08] gilgongo commented on #525
BTW is this ticket a (partial) duplicate? https://github.com/jamulussoftware/jamulus/issues/1779

[2021-06-13 15:32] gilgongo commented on #525
@jujudusud In fact I see there is this re. ARM: https://github.com/jamulussoftware/jamulus/issues/1452

[2021-06-15 17:43] gilgongo commented on #525
@DavidSavinkoff Was it you that found some issue with port forwarding of public servers? I was wondering what the second sentence in this item in the server troubleshooting was all about:

https://jamulus.io/wiki/Server-Troubleshooting#can-i-convert-my-private-server-to-being-a-public-one

[2021-06-15 17:45] ann0see commented on #525
Kind of. However there’s also some stuff not in sync the other way round. Especially concerning our language guide

[2021-06-15 18:23] ghost commented on #525
The information here is Not mine:
https://jamulus.io/wiki/Server-Troubleshooting#can-i-convert-my-private-server-to-being-a-public-one

No.

I don't know because this in Not my comment.

The information here Is mine:
https://jamulus.io/wiki/Tips-Tricks-More#converting-a-public-server-to-a-private-one-on-the-fly

[2021-06-15 18:41] gilgongo commented on #525
@DavidSavinkoff OK thanks, sorry to bother you.

[2021-06-16 15:16] ann0see commented on #514
Since you're now using Base64 encoding, I'll close this one.

[2021-06-16 15:16] #514 closed, assigned to nobody

[2021-06-16 20:51] reinhardwh opened #530 "[Bug]"
**URL**
Please provide the url of the page in question.
https://jamulus.io/wiki/Command-Line-Options

**Describe the bug**
Language problem, typo, confusion, misleading thing, device formatting, accessiblity issue ... let us know.

Hello
Important parameter like

-T Multi Threading
-s Servermode (mandatory for service file)

are not mentioned

If you agree those should be added

Thanks!

[2021-06-17 21:44] ann0see commented on #530
I think that’s already a known issue and will be fixed in the next cycle.

See https://github.com/jamulussoftware/jamuluswebsite/pull/527

[2021-06-17 21:44] #530 closed, assigned to nobody

[2021-06-19 12:49] ann0see commented on #339
Closing since we now have a style guide on the website: https://jamulus.io/contribute/Style-and-Tone

[2021-06-19 12:49] #339 closed, assigned to nobody

[2021-06-23 06:55] FredNor78 opened #543 "Typo in the page: https://jamulus.io/fr/wiki/Installation-for-Android"
Hi everybody!

Could someone please correct the awful grammar typo in the French version of the page.

The existing sentence "Bien que vous pouvez installer Jamulus sur des appareils Android (et entendre du son), "

should be rewritten as "Bien que vous puissiez installer Jamulus sur des appareils Android (et entendre du son), "

Many thanks for all you do for the benefit of the community, and kee

[2021-06-23 08:40] jujudusud commented on #543
Bonjour @FredNor78, je m'en occupe. Merci pour l'information.

Hi @FredNor78, I will do that. Thanks for the advice.

@gilgongo Can you assign me ?

[2021-06-23 10:31] gilgongo commented on #543
Ooh I think we're still refining the new po4a process so I'm not sure about that right now (other than you need to edit the .pot file and then you (or somebody else) run the po4a update and then doing a PR to release?). Tagging @ignotus666 ...

[2021-06-23 11:11] ignotus666 commented on #543
@jujudusud wait until [this PR](https://github.com/jamulussoftware/jamuluswebsite/pull/533) gets merged (or not) and then:

- Make the correction to `translator-files/po/Installation-for-Android.po`
- Next, you can either run `po4a-create-all-targets.sh` locally yourself (you need to install po4a version >= 0.63), or do the correction manually in `/wiki/fr/Installation-for-Android.md` (it's what t

[2021-06-23 19:07] gilgongo commented on #520
Fixed with https://github.com/jamulussoftware/jamuluswebsite/pull/527

[2021-06-23 19:07] #520 closed, assigned to nobody

[2021-06-23 19:08] gilgongo commented on #488
Fixed with https://github.com/jamulussoftware/jamuluswebsite/pull/524

[2021-06-23 19:08] #488 closed, assigned to nobody

[2021-06-23 19:10] gilgongo commented on #338
Fixed with https://github.com/jamulussoftware/jamuluswebsite/pull/527

[2021-06-23 19:10] #338 closed, assigned to nobody

[2021-06-23 19:10] gilgongo commented on #45
Fixed with https://github.com/jamulussoftware/jamuluswebsite/pull/527

[2021-06-23 19:10] #45 closed

[2021-06-23 19:15] gilgongo commented on #340
Now out on https://jamulus.io/contribute/Administration

[2021-06-23 19:15] #340 closed, assigned to hoffie

[2021-06-23 19:38] jujudusud commented on #543
Done by # 539 in jamulus website repo

[2021-06-25 07:46] jujudusud commented on #543
Fixed since the PR was merged.

[2021-06-27 08:05] ann0see commented on #525
We still use Central Server: https://jamulus.io/de/wiki/Server-Win-Mac#other-options

[2021-06-27 08:18] ann0see opened #541 "Use colours for proposed sound devices"
The KB page https://jamulus.io/de/kb/2021/01/05/Jamulus-Sound-Devices.html shows devices which do not work that well on e.g. Windows since they need ASIO4ALL. I‘d suggest to color the OS name in green/red/yellow depending on OS support.

We should use a css class to add the missing colours.

[2021-06-27 08:19] gilgongo commented on #525
I've added that as no. 14 in the list.  EDIT: actually that page is going as per the Server Admin Manual changes, so got updated with that.

[2021-06-27 12:33] gilgongo commented on #541
Symbols or some non-colour device would also need to be added for accessiblity.

[2021-06-27 14:16] ann0see commented on #541
What about ❌ and ✅

[2021-06-27 14:58] gilgongo commented on #541
That would be good! :-)

[2021-06-28 19:06] #543 closed, assigned to nobody

[2021-06-29 15:52] jujudusud opened #545 "According to the website [software manual](https://jamulus.io/wiki/Software-Manual), 64 samples is the preferred setting to use for the Buffer."
According to the website [software manual](https://jamulus.io/wiki/Software-Manual), 64 samples is the preferred setting to use for the Buffer.
However the text in the GUI dialog indicates 128 samples is the preferred option.

Which is the correct one?

One of them should change....

_Originally posted by @henkdegroot in https://github.com/jamulussoftware/jamulus/discussions/1895_

[2021-06-29 15:57] jujudusud commented on #545
According to Jamulus application, 128 samples is the preferred is option.
I will open a PR as soon as possible to change that in the online website.

[2021-06-29 17:06] gilgongo commented on #545
I've updated this in next-release so feel free to translate it.

[2021-06-29 22:20] jujudusud commented on #545
I will translate in next-release instead.

[2021-06-29 22:20] #545 closed, assigned to nobody

[2021-06-30 07:01] gilgongo commented on #525
@ann0see re. no.5 what's missing?

[2021-06-30 07:32] ann0see commented on #525
You can check by looking at main.cpp starting here: https://github.com/jamulussoftware/jamulus/blob/e0cac75ee0d5ef0a6f85f6b88367abab9b659853/src/main.cpp#L113

Since It’s not yet live, we‘d need to check the page based on next-release.

[2021-06-30 11:33] gilgongo commented on #525
Sorry, I meant I can't see anything missing from there after I added the missing stuff reported here https://github.com/jamulussoftware/jamulus/issues/1837. ~~Does your "outdated info" list refer to stuff that's currenly on release or next-release?~~ You say "a lot of things are undocumented; we're already aware of that"

[2021-06-30 11:44] ann0see commented on #525
Yes, I think it referred to release and the PR you mentioned

[2021-07-01 20:44] ignotus666 opened #553 "Run po4a scripts via gh actions"
As commented elsewhere, it would be good to automate running the po4a scripts via a gh action. I did some initial tests and created a couple of .yml files that can be found [here](https://github.com/ignotus666/jamuluswebsite/tree/GH_actions_test/.github/workflows) (targets.yml and templates.yml). What they do:

- po4a-update-templates.sh only gets triggered when edits are pushed to files in wiki/e

[2021-07-02 11:18] ignotus666 commented on #553
I managed to combine both .yml scripts into one. Depending on what files have been edited (en/*.md or po/**.po), the corresponding po4a script is run. See the script [here](https://github.com/ignotus666/jamuluswebsite/blob/GH_actions_test2/.github/workflows/po4a.yml). It's made possible using the [Paths Changes Filter](https://github.com/marketplace/actions/paths-changes-filter).

[2021-07-02 20:52] ann0see commented on #553
Added to my todo list; once I find time, I‘lll look at code and give some thoughts on this.

[2021-07-02 21:08] ann0see opened #554 "Documentation repository might grow due to new image library"
The new way of adding images results in all versions of images being saved by git. As time goes, the repo will get larger and larger (since the old images are still there.)

After thinking a bit more, I now remember why I created the assets repo: "assets" should contain all the binary data which might make a repo bigger and bigger.

I‘d suggest moving the pictures over to the assets repo.

Once in

[2021-07-03 06:39] gilgongo commented on #554
Seems a fairly simople change. Although it would still mean that clones of that assets repo may still get huge, but at least it doesn't affect everyone.

Would an alternative be to host them from sourceforge on https://images.jamulus.io in some way? Maybe that would be inconvenient in other ways.

We could go back to the old "userimages" method, but I think I'm right in saying we lose some formatt

[2021-07-03 07:10] ann0see commented on #554
not necessarily: if we use a variable instead of a direct URL we can just drop the link in there and use this variable as Link for the src attribute. —> workflow would be comparable.

[2021-07-03 07:44] gilgongo commented on #554
OK so that may be the better way if we have a bunch of variables with URLs like `https://user-images.githubusercontent.com/4561747/124347037-0e0cb780-dbda-11eb-898b-1xxxxxx.png`

Would mean quite a lot of variables though as they are for each language in many cases. Would replacing the image files with include files containing the userimage URLs be any easier for translators I wonder?

[2021-07-03 09:46] ann0see commented on #554
Tagging @jujudusud and @ignotus666 for

[2021-07-03 09:47] ann0see commented on #554
I’d go for the variables in a separate .yaml file (which might even be translated. This allows might even allow us to include the images in the translation process.

The images could be similar to the navigation: https://github.com/jamulussoftware/jamuluswebsite/blob/release/_data/fr/navigation.yml

[2021-07-03 10:08] gilgongo commented on #554
OK that sounds good then.

[2021-07-03 10:15] ann0see commented on #554
Todo:
- [ ] Add an images.yml file to _data folder
- [ ] Update all occurrences from the old picture links on the whole website
- [ ] Remove all images from the website and upload it to GH userimages
- [ ] Update the README.md file to reflect the changes

Feel free to add more

[2021-07-03 11:35] jujudusud commented on #554
I don't really understand what is going on here. :-)
Please keep it simple as we just done with language directories and same images names...

[2021-07-03 11:47] ann0see commented on #554
Unfortunately we can’t. The repo will get bigger and bigger with the current approach.

If you have any other ideas on image hosting feel free to suggest another approach.

[2021-07-03 12:18] gilgongo commented on #554
I think "upload it to GH userimages" is:

1. Open Issue or PR on GH web.
2. Upload images to it.
3. Copy URLs generated.
4. Discard Issue/PR.
5. Paste URLs into images.yml

Is that right? Some room for mistakes there, but no much we can do :-)

[2021-07-03 13:25] ann0see commented on #554
Yes. I think so?

[2021-07-03 20:07] ignotus666 commented on #554
Could [this](https://git-lfs.github.com/) be of any use?

[2021-07-03 20:30] ann0see commented on #554
Yes. This looks interesting and not too difficult to set up.

[2021-07-03 20:53] ann0see commented on #554
@ignotus666 #556 just some basic tests with LFS. I added .po files for now since they change often. We'll probably need to change the GH actions scripts (checkout step) to ensure that the page gets deployed correctly.

[2021-07-03 21:03] ignotus666 commented on #554
I suggested it as I kind of intuited that it addressed the problem, but... I don't entirely grasp what it actually does. So, are the files that match the patterns in .gitattributes stored elsewhere and substituted here with a kind of placeholder file? If the .po and all those other files are gone from the repo, when I clone it I assume they are retrieved from wherever they are being stored?

[2021-07-03 21:09] ann0see commented on #554
Yes. That's what I understand...

[2021-07-03 21:16] ignotus666 commented on #554
I just cloned your feature-lfs branch and... none of the affected files are actually there, just the 'placeholders'.

Edit: maybe I need to install LFS?

[2021-07-03 21:19] ann0see commented on #554
Yes. You need to install lfs

[2021-07-03 21:34] ignotus666 commented on #554
Ok got it, seems to work fine. Will this solve the annoying issue with the timestamps in .po files, I wonder? Or are changes to these files still tracked and shown in commits as normal?

[2021-07-03 21:44] ann0see commented on #554
I doubt it will solve that. If that’s possible we‘d need to tell po4a not to create time stamps or just git add the actually changed files. But that’s another issue.

[2021-07-03 21:50] ignotus666 commented on #554
Oh, never mind, I thought that maybe changes to files in lfs weren't shown. We can't tell po4a to not create timestamps as it uses them internally for... something I can't remember right now. But anyway yes, there's an issue open for that.

[2021-07-03 21:54] ann0see commented on #553
Ok. So your scripts basically install all dependencies, run the scripts and then push everything?

The best thing which could happen would be to only create the .md files in the wiki folder right before Jekyll runs via CI. We’d
 not even add them to the live repo. This removes the possibility to edit .md files on the live site accidentally entirely.

[2021-07-03 21:58] ann0see opened #557 "Show up to date translation status in repo"
The idea was to offer an up-to-date overview of the status without having to load the files anywhere or run a script. If it can be shown elsewhere (and in a more visually appealing way) I'm all for it.

_Originally posted by @ignotus666 in https://github.com/jamulussoftware/jamuluswebsite/pull/550#discussion_r661704253_

[2021-07-03 21:59] ann0see commented on #557
Unsubscribed from this issue; if you need me just ping me.

[2021-07-03 22:25] ignotus666 commented on #553
Yeah.

So you mean run the create targets script as a step in the creation of the Jekyll site?

[2021-07-04 15:25] ann0see commented on #553
Yes. Basically we could implement a similar workflow to the main repo CI process.

[2021-07-05 11:21] ignotus666 commented on #557
I updated the statistics script so it creates a markdown file that's not as unpleasant to read (it used to create a plain text file). See [here](https://github.com/ignotus666/jamuluswebsite/blob/GH_actions_test3/_translator-files/statistics.md). I don't know if the use of LFS will change anything, but hopefully this can be included in some shape or form so translators can easily see what the statu

[2021-07-06 06:51] ignotus666 opened #559 "Move EN files that don't need translation"
There are a significant number of files in wiki/en that don't require translation. As po4a can't tell them apart from files that do, it creates .po files for them - in every language. This leads to unnecessary clutter and means translators need to know what to translate and what to leave be. I moved all the EN files that don't need translating to a separate "en-no-translate" folder in wiki/, remov

[2021-07-07 14:29] ignotus666 commented on #553
Giving this further thought, I'm not sure it's a good idea to only create the .md files just before they get deployed. Even if someone managed to mistakenly edit a doc in the wiki folder, it's solvable simply by running the 'create targets' script again - it will delete all the files and re-create them based on the "correct" .po versions. There will inevitably be mistakes made when translating (fo

[2021-07-07 20:51] ignotus666 commented on #519
Put the scripts in a folder and prepend it (and translator-files) with an underscore? I tested that and it seems to work.

[2021-07-07 21:15] ann0see commented on #519
Argh yes this should work. I should have known that.

[2021-07-08 09:06] ignotus666 commented on #519
Paths in the scripts have to be changed accordingly, too. [This](https://github.com/ignotus666/jamuluswebsite/tree/GH_actions_test2) branch has "excluded" folders for the scripts and po4a .deb package ("po4a-tools") and "translator-files". The paths in these scripts have been modified. Putting the scripts in a folder caused them to not work via GH actions (they did locally) due to how paths are es

[2021-07-08 14:15] ann0see commented on #553
I think, in theory it should be possible. At least once you enable GitHub actions in your repo. See https://github.com/jamulussoftware/jamuluswebsite/pull/515 which could even generate .html files.

[2021-07-08 15:53] ignotus666 commented on #553
Yes, if you actively enable them, they can all be run (if they are not limited to a specific branch). I just was wondering if they could be enabled by default without the "forker" explicitly having to.

I had a look at that and ran it on my branch, but I wasn't sure how to actually view the zipped website. I downloaded the .zip file, unzipped it, _unzipped the extracted .zip file_, then CD'd into

[2021-07-08 16:49] ann0see commented on #553
You don’t need to run Jekyll serve. Just double-klick the index.html file

[2021-07-08 19:20] henkdegroot opened #561 "Duplicate text/incorrect placement of image?"
**URL**
https://jamulus.io/wiki/Server-Win-Mac

**Describe the bug**
The Server Installation page seem to contain duplicate text. See image:
![server-webpage](https://user-images.githubusercontent.com/13550012/124978399-01e98580-e032-11eb-95aa-e6fd724c085e.png)

Also not sure why the text is place in brackets.
Perhaps the image should be place below the first text line? But then still it is almost

[2021-07-08 19:51] ignotus666 commented on #553
I'd tried that and did so again - it won't work for me. I get the index page in the browser but none of the links work. Jekyll serve however does work nicely.

[2021-07-08 20:30] ann0see commented on #553
Hmm. Probably the document root is wrong then.

[2021-07-08 20:46] ignotus666 commented on #553
Yes, I think it's a paths issue. The browser wants an absolute path but the links in index.html only provide relative paths. That's what I think is happening anyway. Also - no images or anything, just text.

[2021-07-09 12:24] ignotus666 commented on #553
I didn't really understand whether I couldn't view the zipped website because of my own incompetence or not, but assuming it's easily done, I've been doing some tests with all the translated .md files removed from /wiki as @ann0see suggested. I created a workflow that does the following:

- If changes to docs in wiki/en are pushed, this triggers the po4a-update-templates script. The results of run

[2021-07-09 18:28] ann0see commented on #525
According to https://github.com/jamulussoftware/jamulus/discussions/1903#discussioncomment-986273 -s is missing on the live site. Since it’s an important option, how should we proceed? Add it to the live page?

[2021-07-10 06:57] gilgongo commented on #561
Yes, this was corrected as part of https://github.com/jamulussoftware/jamuluswebsite/pull/527

[2021-07-10 07:03] gilgongo commented on #525
We should add it for the sake of completeness in the list of command line options, although until now I don't think anyone's noticed since it's part of the server setup instructions, and so is effectively documented that way. Maybe just add it to the admin manual in https://github.com/jamulussoftware/jamuluswebsite/pull/527 and wait for it to be translated.

[2021-07-10 07:05] gilgongo commented on #525
-s is in the new Server Manual. There were a number of small errors and ommissions I fixed in that.

[2021-07-10 13:10] henkdegroot commented on #561
It would be nice if #527 would be merged so that the "public" can see the improvements.....:)

[2021-07-10 20:53] ann0see commented on #525
Ok. Just waiting on the next release then?

[2021-07-10 20:55] ann0see commented on #561
That would mean a new release and translation process. Are we there yet? Closing this issue since it’s fixed on next-release probably

[2021-07-10 20:55] #561 closed, assigned to nobody

[2021-07-11 06:56] gilgongo commented on #525
I think so.

[2021-07-11 18:04] ann0see opened #562 "Document persistent server lists PR"
Related to: https://github.com/jamulussoftware/jamulus/pull/1867 (once it's merged).

In https://github.com/jamulussoftware/jamuluswebsite/blob/next-release/wiki/en/Running-a-Server.md#command-line-options we need to document the new `--directoryfile` option for server list persistence.

Proposal:
`--directoryfile` Enables directories to remember registered servers even if the directory is restart

[2021-07-11 19:22] #541 closed, assigned to nobody

[2021-07-12 06:47] #559 closed, assigned to nobody

[2021-07-15 08:45] ignotus666 commented on #525
I'd be in favour of doing a translation update before the next release, even if it's limited to a couple of languages, for a couple of reasons. First, so that at least the EN (and ES + FR?) documentation is up to date with the current state of the application and not a step behind. And second, to test the new translation workflow and see how it works out in practice, instead of waiting until the n

[2021-07-15 09:22] ann0see commented on #525
@jamulussoftware/maindevelopers what do you think?

Actually I had a similar thought

[2021-07-15 15:24] ignotus666 commented on #553
This is a comparison between what (I think) current GH actions do and what the ones I propose would do:

| Trigger | Current | Proposed |
|------------|------------|------------|
| PR to 'next-release' **Case 1** | jekyll.yml runs, test building the site. | The same, but if the PR contains edits to EN .md files, the update-templates po4a script runs to include the changes in the build (but doesn't

[2021-07-17 19:33] ann0see commented on #553
Hmm. To me - from a first glance - it looks ok like that.

As far as I know, that's already kind of the case on the main code repo: Autobuild builds twice (once for PR, once for merge).
If the po4a scripts get run twice we must ensure that this doesn't clutter the commit history. We might want to check if anything changed (check md5 hash of each .po file?).

[2021-07-18 21:13] ignotus666 commented on #553
Yes, that's how it'll work here too, but what I mean is that, on merge (not a PR) to release, I don't see the point of running both jekyll.yml and main.yml. Shouldn't main.yml be enough?

[2021-07-19 07:40] ann0see commented on #553
Yes, running main.yml would be enough.

[2021-07-20 13:23] ignotus666 commented on #553
Ok, so I've got a working version of the scripts in #568, which behave as in the table above:
- jekyll.yml runs on PR and push to 'next-release', and on PR to 'release'.
- main.yml runs on push to release.

[2021-07-23 09:51] #519 closed, assigned to nobody

[2021-08-01 14:15] #557 closed, assigned to nobody

[2021-08-01 18:12] ann0see opened #574 "Remove edit button from wiki layout file"
That’s an issue for newcomers! Feel free to work on it, if you want to.

**Context**

https://github.com/jamulussoftware/jamuluswebsite/blob/084aeaba2aee8f456d07bbe5e8f531a304298a13/_layouts/wiki.html#L18
**Background**
Since the new process will no longer have .md files the repo, there’s no need to have an edit button on the page. Also I doubt many people are using it anyway.

**Todo**
—> Remove

[2021-08-03 19:22] #574 closed, assigned to nobody

[2021-08-03 20:57] ann0see opened #580 "DRY-RUN: Test release process for r3.8.0 po4a and smaller changes #579"
As proposed by @ignotus666 we're doing a test translation round for the po4a workflow. This issue should focus on all the discussion around the process.

[2021-08-03 21:19] ann0see commented on #580
@ignotus666 commenting here

Translations get merged into next-release; next-release is frozen until this one is merged. But I think we still need an OK by @gilgongo to ensure nothing unfinished/for r3.8.1 gets released

[2021-08-03 21:21] ignotus666 commented on #580
Ok, I get it.

[2021-08-03 21:26] gilgongo commented on #580
Not sure how I would determine that though. The docs I did for the next release I don't think had anything that would relate to [anything here](https://github.com/orgs/jamulussoftware/projects/2?card_filter_query=milestone%3A%22release+3.8.1%22 ) is that what you mean?

[2021-08-03 21:29] ann0see commented on #580
Yes. If we added content for 3.8.1 this should be removed. If not, we can start the process. See https://github.com/jamulussoftware/jamulus/milestone/4

[2021-08-03 21:36] gilgongo commented on #580
What about these? https://github.com/jamulussoftware/jamuluswebsite/milestone/3

[2021-08-03 21:40] ann0see commented on #580
I think the current status of them is ok too.

[2021-08-04 06:44] ignotus666 commented on #580
If possible, I'd go through the different processes to see if they work (create a checklist?) and to get familiar with them.

Preferably in this order to avoid disrupting any potential translation process:

- Edit/add EN content in wiki/en/ (next-release). Check that it shows up in the .po files.
- Make a correction to an EN doc in release and validate the corresponding segment in (translated; no

[2021-08-04 07:16] #553 closed, assigned to ann0see

[2021-08-04 09:15] ann0see commented on #580
Yes. You should document the process somewhere ;-). I‘ve already opened #579 which will show  all the differences between next-release and release. Later on this will need to be merged to put all stuff live.

Concerning the new language, maybe try to go through the process yourself and later remove the language.

[2021-08-04 09:18] ann0see commented on #580
CC: @jamulussoftware/translators

You might want to monitor this issue since it‘s related to translation. There’s no need to start the translation process now, however I think it’s good if you’re aware that we try to test the new po4a translation workflow.

[2021-08-04 09:24] ignotus666 commented on #580
Well, from the point of view of editing EN content, not much has changed. However, it is documented in /wiki/README. The translation process is documented in _translator-files/README.

Is there a particular reason why we need to see the differences? It's not needed by translators in any event.

[2021-08-04 09:39] ignotus666 commented on #580
At least not anything in /wiki/en/. Changes to other documents not covered by po4a that need translation, e.g. in _data, 1-index.html etc. will need to be documented somewhere so translators are aware they need to update their translations. A future enhancement might be to somehow process these files with po4a too.

[2021-08-04 09:50] ignotus666 opened #581 "Add Basque language [eu]"
Adding the "new language" label should trigger the creation of a new language folder  (`_translator-files/po/eu`) containing the corresponding .po files.

[2021-08-04 09:54] ignotus666 commented on #581
Success! Will remove the test files now.

[2021-08-04 10:02] #581 closed, assigned to nobody

[2021-08-04 10:41] ann0see commented on #581
Great!

Actually, I think the GH actions commit message should say AUTO: add new language (eu)

and if possible link #581. But that’s just a minor enhancement

[2021-08-04 12:28] ignotus666 commented on #581
Done. See #582

[2021-08-04 12:49] ann0see opened #583 "Add fake language [uk_CO]"
# Language you want to translate to

# Description

[2021-08-04 12:52] #583 closed, assigned to nobody

[2021-08-04 13:02] ann0see commented on #580
Yes. By documentation I mean the process we‘re doing to release the repo should be part of a checklist:
- [ ] Open a pull request from release to next-release and set it to draft
- [ ] Mention all translators and point them to changes not part of the .po files
- [ ] Wait until translations arrive
- [ ] Review each translation PR
etc. Similar to the release checklist by hoffie: https://github.com/j

[2021-08-04 13:04] ann0see commented on #580
No, but at one point we need to merge next-release into release. If a draft PR is already open, reviewing is easier. At one point once we click on merge, the site goes online.

[2021-08-05 09:48] ignotus666 commented on #580
I think I've figured out how to also process with po4a the files in _data and _includes, and also the index.html files, using symlinks. It would mean the status for all translatable docs could be in the "Statistics" file for consultation, removing the need to document changes to these files.

[2021-08-06 06:31] ignotus666 commented on #580
I've decided against it. Po4a does a sloppy job of segmenting these files (1 or 2 giant segments in most cases), and any change in their EN counterparts causing the templates to update would wipe out practically the entire translation -> not good.

[2021-08-06 07:14] ignotus666 commented on #580
What I will be doing is getting rid of the wrapping in the .po files - it causes an utter mess in PRs every time someone opens them in a different editor and it doesn't offer any benefits other than just looking tidier when reading the raw .po file. It's also been mentioned as a cause of git conflicts, so it's going (with the `--wrap-po no` option). This means translations shouldn't start yet as i

[2021-08-06 20:59] ignotus666 opened #586 "Limit jekyll site zip uploads to PR"
I was wondering whether it might make sense to only zip and upload the site on pull request - to make it available to download and check - and just build the site as a check (no zipping and uploading) when the same PR is merged. Currently it's uploading 2 basically identical artifacts for every PR/merge.

[2021-08-08 15:53] ann0see opened #588 "Document location of configuration files of Jamulus"
I will probably not work on this, but I think it needs to be done (and is not that difficult). Therefore I assume, It could be a good first issue (for people with at least some background knowledge of Jamulus).

Related to: https://github.com/jamulussoftware/jamulus/discussions/1939

Todo:
- [x] Find the file locations of the Jamulus configuration files (Jamulus.ini and JamulusServer.ini)  and doc

[2021-08-09 08:30] ann0see commented on #586
Yes. That would make a lot of sense. If the code is exactly the same, there’s no need to run the check twice.
BTW: https://github.com/jamulussoftware/jamulus/pull/1921#issuecomment-890499912 is related

[2021-08-09 08:58] ignotus666 commented on #586
Shall I leave out only the site zipping and uploading or the build too? I suppose both - we could bundle them in a separate job with `needs:` and only trigger that job if on: pull_request.

Edit: no, a separate job won't work as it needs to build and zip the output of the previous steps, which haven't been merged anywhere... Adding `if: ${{ github.event_name == 'pull_request' }}` to the last three

[2021-08-09 10:57] ann0see commented on #586
Yes:

[code]

…but with paths-ignore: and without the !.

So the build would not run if these files were changed. However, Peter disliked my proposal in the mentioned PR. I just linked it for your reference

[2021-08-09 11:17] ann0see commented on #586
Avoid as much as possible ;-).

[2021-08-09 11:20] ignotus666 commented on #586
Will do.

Yeah I know, hence why I wasn't going to showcase my ignorance there :)

[2021-08-09 15:46] ignotus666 commented on #586
Looking at how to optimise which steps are run and when, I scribbled down a table to visualise it better. I can't be bothered to make a pretty one in markdown so a photo will have to do:

![IMG_20210809_172430](https://user-images.githubusercontent.com/4263412/128731798-16025f3b-6076-49fe-8443-448dae407084.jpg)

For PRs and merges, there are basically three scenarios for each: changes to EN .md fi

[2021-08-09 18:59] henkdegroot commented on #588
macOS:
I located the Jamulus.ini at the following path:

/Users/user/.config/Jamulus

This contains both the Jamulus.ini and Jamulusserver.ini. Note the "user" in the above is the name of the user. Guessing the /Users/user part is some environment variable.

[2021-08-09 20:08] ignotus666 commented on #586
As usual I was overthinking this... it's much simpler than I thought, though the table did help quite a lot. #589 makes it behave as in the table above.

[2021-08-09 20:11] ann0see commented on #586
Ok. Trying to get understand and go through the table.

if there's a change to the English .md files and we are in a PR:

* We need to get the cache content or create it (that's clear)
* We need to run "update templates" to update the .po files for all languages. However, according to the table, you don't push it, but just build it and create the zip file. Reason you don't push it: de-clutter the

[2021-08-09 20:26] ignotus666 commented on #586
Yes, I think you've got it right. I'll try and address a few of the things you raise:

We could do that, but it would require the user enabling GH actions in their repo, wouldn't it? That was my assumption anyway.

Well, since a .md file has changed, the filter gets triggered and the templates get updated, etc. - the same as if the picture hadn't been involved. But since we're talking about a PR,

[2021-08-10 12:51] ignotus666 commented on #586
I think one thing that leads to confusion could be the use of the term "templates". Strictly speaking, the templates were the .pot files that were actually removed, but the term still stuck as in my mind the .po files are also a form of template (they're exact copies of what the .pot files were). But it might be clearer to just say ".po files" instead. I'd leave "targets" though as it is descripti

[2021-08-11 08:51] ignotus666 commented on #586
A document explaining the po4a setup has been added to #589.

[2021-08-11 18:38] ignotus666 commented on #521
Using sed to delete the timestamp line in the header right after the .po files are processed by `po4a-update-templates.sh`, this problem goes away. I was under the mistaken impression that po4a needed the timestamps for some purpose, but it turns out it's a different kind of timestamp that can be optionally generated - and is not applicable here. Did some testing and didn't notice any negative con

[2021-08-19 16:31] ann0see commented on #586
Great! Thanks for this.

Not sure about that. But I think if the action runs on the PR, and the user did not disable write access to maintainers, it might be possible to push directly.

That’s what you think happens. But did you test it? See the mentioned PR and comment by @pljones from above. I assume it’s different since we’re using another GH action here.

[2021-08-20 14:11] ignotus666 commented on #586
True. We could test to see if it that works, editing the script and making a PR. If it can be done, I think it'd be good because that way contributors can see what their translation looks like in .md format.

Yes, it's been tested and works as it should.

[2021-08-25 18:01] #580 closed, assigned to ignotus666

[2021-08-25 18:30] #562 closed, assigned to nobody

[2021-08-25 18:41] #521 closed, assigned to nobody

[2021-09-01 12:40] ignotus666 commented on #586
I've been having a go at this and couldn't get it to work, even with write access enabled. It will push to a branch from the same repo, but not to a remote branch. I think a PAT or something like that is required, which isn't feasible. There may be another way to do it - I've tried a bunch of things - but I can't make it work.

Also - I said it would enable contributors to see their translated fil

[2021-09-01 19:38] ann0see commented on #586
Ok. So probably not worth it then

[2021-09-07 06:07] ignotus666 opened #598 "Contribution.md/CONTRIBUTING.md"
I was looking at where to link the translation stats file and noticed this: the `wiki/en/contribution.md` file on the 'next-release' branch links to a 'CONTRIBUTING.md' file on 'release'. Fine. But 'next-release' doesn't contain this file. When 'next-release' is merged into 'release', wouldn't that mean CONTRIBUTING.md disappears?

[2021-09-07 07:46] ignotus666 commented on #598
There's stuff I'd like to modify in both of these files: add link to stats and edit references to translation/adding languages. Both files basically repeat the same information about translating.

So should I make a PR against 'next-release' and toss 'CONTRIBUTING.md' back in again?

Edit: Maybe removing CONTRIBUTING.md was a deliberate decision? I see that the current README.md in the root direct

[2021-09-07 08:57] gilgongo commented on #598
Yes @ann0see moved all the contrib stuff to the website so I think it'll now all be in `wiki/en/contribution.md`?

[2021-09-07 09:33] ignotus666 commented on #598
Ok, then it makes sense that CONTRIBUTING.md won't exist any more. Opened #599 so `wiki/en/contribution.md` points to the right places.

[2021-09-07 19:41] #598 closed, assigned to nobody

[2021-09-08 08:48] gilgongo commented on #554
What's the status of this ticket? I think on balance LFS adds a bit too much complexity/fragility for the benefit, seeing as we can just put images in separate repo instead (and if it got too big we could just delete and start again?)

**EDIT**: Come to think of it, I think @ann0see and I thought that we could just modify the existing "image library" system to have links to the gh-images as includ

[2021-09-08 21:07] #525 closed, assigned to nobody

[2021-09-09 11:29] gilgongo commented on #511
Possibly naive quesition since I've never used JACK outside of Linux, but seeing as so many Windows users have issues with ASIO, if JACK helps  that situation would we consider preferring JACK to ASIO in the docs?

[2021-09-09 12:36] ann0see commented on #511
No. Better give a hint at it but nothing specific. You‘d still need ASIO. JACK adds too much complexity - especially for ASIO4ALL users.

[2021-09-09 16:34] pljones commented on #511
Yep, on Linux, you've three or four different audio stacks but generally the user is well-protected from them because they co-operate fairly nicely.  On Windows there are... well, lots of audio stacks and none of them co-operate with the others particularly well.  JACK isn't, itself, an audio stack, it's just an audio router - it still needs an audio stack to connect to.  (It uses PortAudio on Win

[2021-09-09 16:51] gilgongo commented on #511
Oh OK. So it makes sense to have it in the KB only then.

[2021-09-11 09:54] jujudusud commented on #511
Since "Jack on windows" is available from the official Windows installer, it is a good idea to document more precisely a sort of "how to" use it.

[2021-09-11 21:46] Burnhaven opened #607 "Add Mackie Mixer to list of audio interfaces that work with Jamulus"
My Mackie ProFx6 v3 works fine with it's ASIO driver.

[2021-09-13 07:52] #586 closed, assigned to nobody

[2021-09-13 16:10] gilgongo opened #608 "Possible broken links clean up prior to next release"
As part of the release process https://github.com/jamulussoftware/jamulus/issues/1972, checking the current build if next-release produces this report:

https://pastebin.com/yJxNzQ4G

Most I think are not significant (or false positives) - are any we think we should fix? BTW Kowlege Base stuff is optional.

[2021-09-13 17:06] gilgongo commented on #608
@ignotus666  says _"the 'Statistics.md' file errors are most likely because that file doesn't exist unless the 'po4a-create-all-targets.sh' script is run (which triggers the creation of the stats file). And 'po4a-Setup-Explained.md' is an internal document that only contains a single (working) link."_

Seems like the others (internal at least) are ignorable though. if I use:

`--ignore-url=/contri

[2021-09-13 17:37] #608 closed, assigned to nobody

[2021-09-13 19:28] ann0see commented on #607
Thank you! Can you add it to https://jamulus.io/kb/2021/01/05/Jamulus-Sound-Devices.html yourself to receive the credit?

[2021-09-15 13:52] gilgongo opened #611 "Update de web translation for 3.8.1"
Hi @Helondeth, @ewarning,

We are getting ready for the 3.8.1 release and have created the [next-release](https://github.com/jamulussoftware/jamuluswebsite/tree/next-release) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..next-release)).

We would be happy if you updated the translations for **de** by **2021-09-30**.

Please

- Start your work in your fork o

[2021-09-15 13:52] gilgongo opened #612 "Update es web translation for 3.8.1"
Hi @ignotus666,

We are getting ready for the 3.8.1 release and have created the [next-release](https://github.com/jamulussoftware/jamuluswebsite/tree/next-release) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..next-release)).

We would be happy if you updated the translations for **es** by **2021-09-30**.

Please

- Start your work in your fork on a branch

[2021-09-15 13:52] gilgongo opened #613 "Update fr web translation for 3.8.1"
Hi @jujudusud, @trebmuh,

We are getting ready for the 3.8.1 release and have created the [next-release](https://github.com/jamulussoftware/jamuluswebsite/tree/next-release) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..next-release)).

We would be happy if you updated the translations for **fr** by **2021-09-30**.

Please

- Start your work in your fork on

[2021-09-15 13:53] gilgongo opened #614 "Update it web translation for 3.8.1"
Hi @dzpex,

We are getting ready for the 3.8.1 release and have created the [next-release](https://github.com/jamulussoftware/jamuluswebsite/tree/next-release) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..next-release)).

We would be happy if you updated the translations for **it** by **2021-09-30**.

Please

- Start your work in your fork on a branch base

[2021-09-15 14:02] gilgongo opened #615 "Update pt web translation for 3.8.1"
Hi @Snayler, @melcon, @ewarning,

We are getting ready for the 3.8.1 release and have created the [next-release](https://github.com/jamulussoftware/jamuluswebsite/tree/next-release) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..next-release)).

We would be happy if you updated the translations for **pt** by **2021-09-30**.

Please

- Start your work in your

[2021-09-16 07:50] ignotus666 opened #616 "Test issue - IGNORE [IG]"
Test.

[2021-09-16 09:11] gilgongo opened #619 "Add reference to recording recovery script from #750"
As per https://github.com/jamulussoftware/jamulus/issues/750#issuecomment-919772868 a link + some explanation needs to be added to the Server Admin Manual.

[2021-09-16 09:42] #616 closed, assigned to nobody

[2021-09-20 04:23] gilgongo commented on #607
Added

[2021-09-20 04:23] #607 closed, assigned to nobody

[2021-09-23 10:22] ewarning commented on #611
I’m sorry guys, due to professional obligations, I won’t be able to work on this until 24.11. After that you can count on me again.

[2021-10-01 17:04] gilgongo commented on #612
Merged

[2021-10-01 17:04] #612 closed, assigned to ignotus666

[2021-10-01 17:04] gilgongo commented on #613
Merged

[2021-10-01 17:04] #613 closed, assigned to jujudusud

[2021-10-24 12:04] hoffie opened #628 "/contribute/Statistics: Broken "get involved" link in footer"
https://jamulus.io/contribute/Statistics contains a relative link to "Contribution" (in the "get involved" text in the footer). For regular pages, this is correctly resolved to /wiki/Contribution. For the Statistics page, it is not as it lives within a different directory.

Should probably be linked to `/wiki/Contribution` explicitly, but haven't confirmed that it doesn't break anything else.
Seem

[2021-10-24 12:34] ignotus666 commented on #628
Thanks for pointing this out!

This won't work - the link then resolves to `/wiki/wiki/Contribution` (just tried it). Maybe a solution could be to just move `Statistics.md` to `/wiki/en/`. It's a file that only gets created when the site is deployed via a GH action (and therefore doesn't 'live' on the repo), so I don't think it should matter much where it gets created. I'll have time tonight to lo

[2021-10-24 17:58] #615 closed, assigned to melcon, ewarning, Snayler

[2021-10-24 17:58] #614 closed, assigned to dzpex

[2021-10-24 17:58] #611 closed, assigned to ewarning

[2021-10-24 20:02] ignotus666 commented on #628
Ok, so if we tell the po4a-stats script to create `Statistics.md` in `/wiki/`, changing the permalink in its header accordingly (and the link in `Contribution.md`), the link works as it should. Since it's a "non-repo resident" file like the target translation files, I don't see any harm in letting it be created there.

[2021-10-26 20:38] ignotus666 opened #629 "TEST add fake language [xx_YY]"

[2021-10-26 21:01] #629 closed, assigned to nobody

[2021-10-29 07:36] gilgongo opened #632 "[Bug] Can't link to macOS signed binary"
The way we do the variables for downloads doesn't let us have a link outside our repo. As of 3.8.1 the macOS signed binary is on [emlynmac's fork](https://github.com/emlynmac/jamulus/releases/download/r3_8_1/jamulus_3.8.1_mac.dmg).

**Note**: Once this issue is fixed, we can remove the section about unverified developer here: https://jamulus.io/wiki/Installation-for-Macintosh#jamulus-cant-be-opene

[2021-10-30 16:52] gilgongo commented on #554
OK I've done a proof of concept but I'm not sure if it's the best way.

If you look at my fork on this branch https://github.com/gilgongo/jamuluswebsite/tree/img-includes

I've done the following:

1. Symlinked `assets/img` into `_includes`
2. Created a file `assets/img/en-screenshots/bandwidth-diagram.inc` which contains a GH user-images link to `bandwidth-diagram.png`
3. Called that include file

[2021-10-31 15:01] #628 closed, assigned to nobody

[2021-11-01 18:41] gilgongo commented on #588
If we're going to document this, we need to be clear why :-) The following points probably need to be considered:

1. Upgrades of ini files are never backwards compatible.  So if you want to roll back to an older version of Jamulus, you also need to restore the ini file(s) for that version (so knowing the location of the ini file might be useful).

1. Manually editing ini files is not normally nec

[2021-11-01 20:25] ann0see commented on #632
@emlynmac @gilgongo it's not that difficult to edit the release ;-): https://github.com/jamulussoftware/jamulus/releases/edit/r3_8_1 I just uploaded the signed binary (although ofc we should verify it first).

[2021-11-01 21:48] gilgongo commented on #632
Ok so similar to how we upload the released binaries to SF, we can do that for the macOS signed binary to GH. That'll work for the moment I guess.

Also need to add this step to the release process.

[2021-11-06 09:41] gilgongo commented on #632
OK I've verified that the signed version works OK. I've updated the release to-do list. Have update the link on the download page (and in the announcement on GH, but FB doesn't let me edit it).

Will edit the statement about unsigned warning on the website, but realise we can't remove it as it will come up with legacy build.

[2021-11-06 10:30] #632 closed, assigned to nobody

[2021-11-06 11:07] gilgongo commented on #511
Yes, but from what I understand, the use cases for Windows JACK version seem to be pretty specialised (mainly around doing what you might do with Voicemeeter, only without the latency issue?).

[2021-11-06 12:16] pljones commented on #511
People use Voicemeeter for a couple of main reasons:
* connecting multiple physical interfaces to audio applications without ASIO contention (i.e. "You can only open one ASIO device driver")
* connecting many kinds of audio applications to each other (WinMME, WDM, DirectSound, WASAPI push, WASAPI event, ASIO -- although probably not all of them...).

The first point has an alternative in ASIO4ALL,

[2021-11-06 12:48] softins commented on #588
* For Windows, the ini files are stored within `%APPDATA%\Jamulus`, which is usually `C:\Users\username\AppData\Roaming\Jamulus` (or maybe on `D:` instead)
* For macOS, as Henk mentioned, they are stored within `$HOME/.config/Jamulus`, which is usually `/Users/username/.config/Jamulus`
* For Linux, such as Ubuntu and RPi, they are also stored within `$HOME/.config/Jamulus`, but in this case that i

[2021-11-06 12:56] softins commented on #588
Note also that if specifying a simple filename or relative path with `-i`, such as `-i jamtest.ini`, the file will be created in the current directory, not the default directory above. So it is necessary to give the complete path, such as by saying `-i $HOME/.config/Jamulus/jamtest.ini`

[2021-11-07 09:01] gilgongo commented on #619
Added to Tips & Tricks for now. May split out T&T into subsections of the server and client manuals one day though.

[2021-11-07 09:01] #619 closed, assigned to nobody

[2021-11-07 09:05] gilgongo commented on #588
Done.

[2021-11-07 09:05] #588 closed, assigned to nobody

[2021-11-26 14:48] ignotus666 opened #642 "QoS not linked to anywhere"
'QOS-Windows.md' was originally created as an include for use in multiple places, but currently it's only mentioned in 'Running-a-Server.md', albeit without a link to it ("To enable it, see section below"... but there's nothing below). If it's only going to be mentioned in one place it doesn't make sense for it to be an include. Not sure if there were any plans for QoS though - move it elsewhere a

[2021-11-26 17:10] pljones commented on #642
It should be mentioned from both client and server manuals, as it applies to both.

[2021-11-26 17:15] ignotus666 commented on #642
Actually, it's mentioned in 'Shared-Commands.md' (I was looking at the website and didn't realise), but the point still stands that QoS is not actually linked to.

[2021-11-28 16:45] gilgongo commented on #642
I think it's because it applies to both client and server, and doesn't need to be a stand-alone page. I guess we should re-name it according to the new format - I forgot about it when we did that.

[2021-11-28 20:19] ignotus666 commented on #642
Yes, but the thing is that it's not actually linked to in Shared-Commands.md (or Include-Shared-Commands.md as it is named on next-release). There's currently no way to access the QoS information on the website.

[2021-11-28 20:41] gilgongo commented on #642
Ah ok. It used to be included as a section after the CLI options. Must have removed it by mistake.

[2021-11-28 20:59] ignotus666 commented on #642
So here's the thing: AFAICT, QoS is only mentioned in Shared-Commands.md, so instead of being a separate include file -unless the intention is to link to it in other parts of the documentation- it would make sense to just do away with the QoS doc and paste its content into Shared-Commands.md. OTOH, I think that Shared-Commands.md will have to be modified separately on release and next-release as t

[2021-11-28 21:48] gilgongo commented on #642
Yes we could do that I suppose, but it was originally a separate file so that we could include it as a separate section.  I'm not sure it fits into shared-commands.md very well does it, content wise I mean.

By the way the use of the command line that affects QoS is in the docs.

[2021-11-29 07:17] ignotus666 commented on #642
True, it's kind of out of place to have a concise list of command line options and then that whole slab of text on QoS whenever Shared-Commands.md is included. The other option would be to make it a stand-alone doc and link to it when required.

[2021-11-29 07:41] gilgongo commented on #642
Can't we do what we originally did and include it as a separate section after the CLI (and before the Troubleshooting in the Server Manual's case)? I'd prefer to keep things in one ToC-enabled and browser-searchable page, unless they're long and of minority interest.

[2021-11-29 07:46] ignotus666 commented on #642
Yeah; I'm just getting a bit muddled... so it'd be removed from Shared-Commands.md as an include then?

[2021-11-29 08:03] gilgongo commented on #642
Yes. The Shared Commands content and the QoS content are two separate pieces of content, and special in the sense that they need to be displayed in two places, hence the includes for them.

I think it's just a matter of adding the QoS section back in as an include. I can re-name QOS-Windows.md to Include-QOS-Windows.md and do that for the Client and Server manuals (in next-release) if you like. No

[2021-11-29 08:23] gilgongo commented on #642
OK I've done that. With it re-named to Include-QOS-Windows.md, will the po4a script handle it OK?

[2021-11-29 08:52] ignotus666 commented on #642
Yeah, no problem.

[2021-11-29 14:49] ignotus666 commented on #642
Wait - so what happens with '(Include-)Shared-Commands.md'? Regarding QoS, it still says "To enable it, see section below", and there's nothing below. Do we get rid of this sentence?

It should also be fixed on 'release'.

[2021-11-29 18:03] gilgongo commented on #642
Oh sorry, the "see section below" refers to the H2 (or is it H3) that is provided by that section below the CLUI options section.

Happy to fix it on release if Include-QOS-Windows.md has been translated - for some reason I assumed it hadn't.

[2021-11-29 18:07] ignotus666 commented on #642
It's translated into Spanish and French. I'll update those on 'next-release' because with the change of file name the translation isn't carried over.

[2021-12-11 11:29] gilgongo commented on #642
I think we're OK to close now as per https://github.com/jamulussoftware/jamuluswebsite/commit/322dfb9049a9abce6af8ab4beb1c02482b77fcc9

[2021-12-11 11:29] #642 closed, assigned to nobody

[2021-12-12 18:23] henkdegroot opened #646 "Add Dutch [nl]"
# Language you want to translate to
Dutch

# Description
I would like to add Dutch translation to the Jamulus web-site

[2021-12-12 21:03] ignotus666 commented on #646
Hi @henkdegroot, thanks for volunteering! As per the above message, the files for Dutch are now ready for translation. If you have any questions about the process, please don't hesitate to ask.

[2021-12-12 21:04] henkdegroot commented on #646
Many thanks, I will start working the translation.

Does this mean that the Dutch text will only appear with the next Jamulus version or can it be that the web-site be updated before  that?

[2021-12-12 21:12] ignotus666 commented on #646
It would be published with the next release. The way it's set up, translations happen on the 'next-release' branch, which gradually moves ahead of the 'release' branch as changes are made and the app release approaches. Edits/corrections can be made to existing languages on 'release', but unfortunately adding a new language to it is not currently "supported" - I'm not 100% sure but I think it coul

[2021-12-12 21:15] henkdegroot commented on #646
No problem, thanks for clarifying. At least that sounds like I have a bit of time to complete the translation.