[2021-12-12 21:19] ignotus666 commented on #646
Also: from now until there is a new release, things will inevitably change, meaning that some parts of translations done now will become obsolete - in order to avoid this, it might be best to wait until the freeze period starts a few weeks before the release. There's nothing stopping you from starting now if you prefer to give yourself more time, but be aware that there will be changes. Typically

[2021-12-12 21:26] henkdegroot commented on #646
Sure things will change, but many will remain the same as well. So won't be wasting time and it is a good learning exercise.
I am familiarizing myself with OmegaT, which seems to work very nice. Just had a bit a pain setting up all prerequisites on the machine I use for this. Also finding some minor issues while I am working on this and am checking already if they have been addressed or not (befor

[2021-12-13 07:01] henkdegroot opened #647 "User Manual requires update to match 3.8.1"
**URL**
[User Manual](https://jamulus.io/wiki/Software-Manual) https://jamulus.io/wiki/Software-Manual

**Describe the bug**

_Delay and Buffers LEDs section_
Delay and Buffers LEDs section requires updating to match the current software. The Buffer LED is not named Buffer, there is only LED for Jitter.
The Delay details can be enhanced to include text about the calculation of the ms value being d

[2021-12-13 07:27] henkdegroot opened #648 "html element appearing in ES translated page for Server Admin"
**URL**
https://jamulus.io/es/wiki/Running-a-Server

**Describe the bug**
An html element appears below the bandwidth picture. This only occurs in the ES translation.

See this screenshot:
![es-text-server-manual](https://user-images.githubusercontent.com/13550012/145769795-1d244e50-af58-42e4-9d33-f335de462ab4.PNG)

[2021-12-19 10:46] henkdegroot opened #651 "Server Troubleshooting page links improvement to refer to paragraphs"
**URL**
https://jamulus.io/wiki/Server-Troubleshooting

**Describe the bug**
_Improvement 1:_
At the first question, _Why doesn’t my server show up in the list? Why isn’t it registering?_, the following line is included. (The **text in bold** refers to another page).

If you are seeing a message that says the server is full, please **see this note** on Directory Servers.

The bold text links to th

[2021-12-19 10:50] henkdegroot opened #652 "Incorrect text in"
**URL**
https://jamulus.io/wiki/Running-a-Server

**Describe the bug**
The following text, in one of the bullets before the Server Types section, contains twice the same server type.

Running a **Private Server** at home will require you to port forward on your router. When running a **Private Server**, port forwarding should not be necessary in most cases, but it’s advisable to do so because some

[2021-12-19 11:20] gilgongo commented on #652
Fixed in next-release

[2021-12-19 11:26] henkdegroot opened #653 ""shell" text appearing in translate webpages"
**URL**
https://jamulus.io/fr/wiki/Running-a-Server

**Describe the bug**
French as an example here, but is applies to all languages.
The "how to use command line options" section shows a "shell" text for the windows version.
![shell-text-server-page](https://user-images.githubusercontent.com/13550012/146673100-33861f55-6c81-4857-b5ca-c7ac42db3a1c.png)

This is caused by a missing "space" before t

[2021-12-19 11:31] gilgongo commented on #651
Thanks for spotting! Fixed in release.

[2021-12-19 11:57] #651 closed, assigned to nobody

[2021-12-19 11:58] #652 closed, assigned to nobody

[2021-12-19 15:42] henkdegroot opened #654 "Improvement reference link to Running a Server page"
**URL**
https://jamulus.io/wiki/Server-Troubleshooting

**Describe the bug**
The last paragraph contains a referring link to **port forwarding**. However when you click the link, you get the main page which contains details, instead jumping direct the section on port forwarding.

(Running-a-Private-Server#port-forwarding) should be changed into (Running-a-Server#port-forwarding) to resolve this.

[2021-12-19 15:51] gilgongo commented on #654
Thanks - fixed on release.

[2021-12-19 16:02] #654 closed, assigned to nobody

[2021-12-20 08:11] #647 closed, assigned to gilgongo

[2021-12-20 09:17] #653 closed, assigned to nobody

[2021-12-20 09:17] #648 closed, assigned to nobody

[2021-12-20 09:18] #646 closed, assigned to nobody

[2021-12-21 11:22] ignotus666 opened #661 "Bugfix update (website) for 3.8.1"
Since a number of documentation issues applicable to 3.8.1 have been fixed and a complete Dutch translation has been added, we thought it would be nice to update the live website to include these changes, as the next application release probably won't be out for a long time still. The NL and ES translations have been updated to reflect the edits to the English documentation and it would be great i

[2021-12-21 21:48] ann0see commented on #661
@jamulussoftware/translators as Ignotus mentioned in this issue, we are planning a bug fix translation round for the website. Please note that this is *not* a new release but follows basically the same procedure as for a new release. Please update your languages until 30.12.2021.

[2021-12-24 09:42] jujudusud commented on #661
I will do the update as soon as possible for the FR langage.

[2021-12-30 12:14] ann0see commented on #661
I know I'm late, but ASIO4ALL got updated: https://www.asio4all.org/ we should also upload the new version to the assets repo

[2021-12-30 12:36] ignotus666 commented on #661
If you update 'Installation-for-Windows.md' on next-release I can take care of updating the .po files for all languages. Not sure if @jujudusud is finally going to update FR.

[2021-12-31 18:40] #661 closed, assigned to jujudusud

[2021-12-31 21:20] jujudusud commented on #661
It's already done. FR is up to date.
Commited directly in the main repository and the next release branch. @ignotus666

[2021-12-31 23:52] ignotus666 commented on #661
@jujudusud if you run `po4a-create-all-targets.sh` in ./po4a-tools, a Statistics.md file is created in ./wiki. There you can see what is missing. You can also see it in Poedit (instructions in the readme in ./_translator-files).

[2022-01-01 11:14] henkdegroot opened #672 "Text alignment below images not matching"
**URL**
https://jamulus.io/wiki/Getting-Started
https://jamulus.io/wiki/Software-Manual

**Describe the bug**
All images in the Getting Started page, include a figure caption.
The first image in the Software-Manual page contains a figure caption.

These captions are not aligned with the image. This can be best seen at the images which are a narrow.
Here an example:

![website-settings](https://use

[2022-01-01 11:16] henkdegroot opened #673 "Not all image in the Software Manual page have a border"
**URL**
https://jamulus.io/wiki/Software-Manual

**Describe the bug**
Musician profile image and Input/Output channel mapping image do not have borders, while all other images (except the diagram) do have border applied.

It would be nice to have borders around these two images.

[2022-01-02 09:48] henkdegroot opened #674 "Operationsystem in Main page seems outdated"
**URL**
https://jamulus.io/

**Describe the bug**
OperatingSystem element seems outdated:

      "name": "Jamulus",
      "applicationCategory": "{{ page.ldjAppCategory }}",
      "operatingSystem": "Windows 10, macOS 10.11, Linux",
      "discussionUrl": "https://github.com/jamulussoftware/jamulus/discussions/",
      "license": "GPLv2",

Not sure if updating this makes any difference, but it wou

[2022-01-02 12:03] ann0see commented on #674
In theory yes. Android and iOS are experimental

[2022-01-02 13:27] henkdegroot commented on #674
And what about windows 11 or a later macOS?
Or is the intention of this element minimum supported version?

I did not even consider Android and iOS, since both are not available through the website.

[2022-01-02 13:34] ann0see commented on #674
I think that’s the minimum version? Not sure what the official interpretation of the structured data is

[2022-01-02 16:14] henkdegroot commented on #674
[https://schema.org/SoftwareApplication](https://schema.org/SoftwareApplication)

In the description for **operatingSystem**: Operating systems supported (Windows 7, OSX 10.6, Android 1.6).

[2022-01-02 16:25] ann0see commented on #674
In my opinion that’s not really an useful example. Would you interpret we should add other OS?

[2022-01-02 17:44] henkdegroot commented on #674
Initially I read it as the OS the application is working on. But can't really find other use cases/scenario's for this.
I also cannot find a reference to where/who this is used. I know it is used for rankings, but don't know if adding more will improve or make things worse. Personally I would say if the application is not specific "limited" to an OS version, then the OS should not include the "ver

[2022-01-02 18:22] ann0see commented on #674
Hmm. Maybe @gilgongo knows more? I initially added it in hope of Google showing it as search result for questions like "Which OS does Jamulus supprt". Google seems to get all the data from Wikipedia though. I'm not sure if we need to update it.

[2022-01-02 19:27] gilgongo commented on #674
I think Google's use of schema markup is mainly so that they can do things like format rich snippets on search listings, and of course to help people find the site. Doesn't do any harm to check what we have (Google have a tool I'll see if I can find it), but I don't think we need to go into much detail on the operating system versions. I would think just "Windows, macOS, Linux" would be enough?

E

[2022-01-02 19:41] gilgongo commented on #673
Yes, I thought maybe the smaller images didn't need borders perhaps. But maybe a thinner one would be nicer? BTW the purpose of the border is mainly so that white edges on screen crops don't blend in too much with the page (which come to think of it probably means those images need borders more than the full screen ones!)

[2022-01-05 17:50] #554 closed, assigned to gilgongo

[2022-01-10 20:44] ann0see opened #678 "[Bug] Wiki overview page shows link to pt data files"
**URL**
https://jamulus.io/es/wiki/
https://jamulus.io/de/wiki/

etc. all have two bullet points linking to /es/wiki/pt/navigation.yml or similar. I haven't found the cause yet.

**Describe the bug**
Misleading "empty" bullet points on the overview page lead to broken links. Probably something is wrong in the compilation step.

[2022-01-11 15:56] ignotus666 commented on #678
It's happening because of the `navigation.yml` and `general.yml` files symlinked to the language folders in `/wiki`. If I revert those (i.e. replace the symlinks with the original files, moving them back from `/wiki/[LANG]/`, the problem goes away. The symlinked EN files can stay; it's the language ones that cause the problem, so maybe there's a way around this, possibly by getting the po4a script

[2022-01-11 17:14] ignotus666 commented on #678
Ok, found out how to do it. Still need to clean things up a bit and do more testing but there's a solution.

This fix could also be extended to the other files that are symlinked - it complicates the script (slightly, not much), but cleans up all those symlinks scattered around. Those files would only get created when the site is deployed, like the rest of the translated docs. On the other hand, i

[2022-01-12 22:27] #678 closed, assigned to ignotus666

[2022-01-14 13:40] gitarent opened #681 "Missing 'r' on https://jamulus.io/wiki/Getting-Started"
'The main window when you are connected to a sever'
sever -> server

[2022-01-16 12:30] gilgongo commented on #681
Thanks @gitarent !

[2022-01-16 12:30] #681 closed, assigned to nobody

[2022-01-17 19:49] gilgongo opened #682 "Documentation updates for 3.8.2"
The following updates need documenting:

- [x] Reorder of serverdlg bits https://github.com/jamulussoftware/jamulus/pull/2177
- [x] Server tray icon update https://github.com/jamulussoftware/jamulus/pull/2231 (exists as part of [server UI PR](https://github.com/jamulussoftware/jamuluswebsite/pull/677), but bring forward)
- [x] Add Meter Style Selection Option https://github.com/jamulussoftware/jam

[2022-01-17 19:52] pljones commented on #682
Apologies for editing your message to correct the links.

[2022-01-19 23:00] hoffie commented on #323
I think this was created related to the Streamer2 PR which [has been closed](https://github.com/jamulussoftware/jamulus/pull/967#issuecomment-1003752345). Therefore closing this as well.

[2022-01-19 23:00] #323 closed, assigned to nobody

[2022-01-22 11:44] gilgongo commented on #682
OK PR's there for review.

[2022-01-22 11:44] #682 closed, assigned to nobody

[2022-01-23 10:10] gilgongo commented on #672
I can't reproduce this I'm afraid (on Chrome or Edge - not tried FF). Is it something to do with the view port maybe? I've tried it on various sizes.

[2022-01-23 10:56] hoffie commented on #672
I can reproduce on both Firefox and Chrome, but only on my larger screen (1920x1080) and not on the smaller one (1280x1024).

The issue is that both the image and the caption are wrapped in a `<figure>` which takes the whole body width. The caption is centered within this range, while the image is left-aligned.. As long as the image fills the whole width, it doesn't matter.

I see the following so

[2022-01-23 11:01] henkdegroot commented on #672
@hoffie  already indicates it is "easier" to spot this on 1920x1080 (my default resolution). Another good option is to use the browser and zoom out to say 50%.

[2022-01-23 14:11] gilgongo commented on #672
Oh I see. I think centering the image is probably what we want to do or the caption may get confused with the body text.

[2022-01-26 18:09] #672 closed, assigned to hoffie

[2022-01-26 19:45] ann0see commented on #511
Not 100% related, but I just published https://jamulus.io/kb/2022/01/26/Routing-JACK-Windows.html

It's certainly not a full guide, but probably a good starting point for semi-experienced Windows users.

[2022-01-26 20:11] ann0see commented on #674
I think we could leave it like that. Therefore closing. If this needs more discussion, please re-open

[2022-01-26 20:11] #674 closed, assigned to nobody

[2022-01-26 20:14] ann0see commented on #331
@Akhilesh1204 any updates here?

[2022-01-27 23:12] hoffie opened #688 "Update de web translation for 3.8.2"
Hi @Helondeth, @ewarning,

We are getting ready for the 3.8.2 release and have created the [next-release](https://github.com/jamulussoftware/jamuluswebsite/tree/next-release) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..next-release)).

We would be happy if you updated the translations for **de** by **2022-02-13**.

Please

- Start your work in your fork o

[2022-01-27 23:12] hoffie opened #689 "Update es web translation for 3.8.2"
Hi @ignotus666,

We are getting ready for the 3.8.2 release and have created the [next-release](https://github.com/jamulussoftware/jamuluswebsite/tree/next-release) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..next-release)).

We would be happy if you updated the translations for **es** by **2022-02-13**.

Please

- Start your work in your fork on a branch

[2022-01-27 23:12] hoffie opened #690 "Update fr web translation for 3.8.2"
Hi @jujudusud, @trebmuh,

We are getting ready for the 3.8.2 release and have created the [next-release](https://github.com/jamulussoftware/jamuluswebsite/tree/next-release) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..next-release)).

We would be happy if you updated the translations for **fr** by **2022-02-13**.

Please

- Start your work in your fork on

[2022-01-27 23:12] hoffie opened #691 "Update it web translation for 3.8.2"
Hi @dzpex,

We are getting ready for the 3.8.2 release and have created the [next-release](https://github.com/jamulussoftware/jamuluswebsite/tree/next-release) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..next-release)).

We would be happy if you updated the translations for **it** by **2022-02-13**.

Please

- Start your work in your fork on a branch base

[2022-01-27 23:12] hoffie opened #692 "Update pt web translation for 3.8.2"
Hi @Snayler, @melcon, @ewarning,

We are getting ready for the 3.8.2 release and have created the [next-release](https://github.com/jamulussoftware/jamuluswebsite/tree/next-release) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..next-release)).

We would be happy if you updated the translations for **pt** by **2022-02-13**.

Please

- Start your work in your

[2022-01-28 08:43] gilgongo opened #693 "Update nl web translation for 3.8.2"
Hi @henkdegroot,

We are getting ready for the 3.8.2 release and have created the [next-release](https://github.com/jamulussoftware/jamuluswebsite/tree/next-release) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..next-release)).

We would be happy if you updated the translations for **nl** by **2022-02-13**.

Please

- Start your work in your fork on a branc

[2022-01-28 08:57] henkdegroot commented on #693
@gilgongo, thank you! Can you update the issue to the correct issue number and NL (instead of pt)?

[2022-01-28 09:05] hoffie commented on #693
Done by re-running the script with a minor modification to replace the existing number.

[2022-01-31 14:44] ignotus666 commented on #689
![Screenshot at 2022-01-31 15-41-28](https://user-images.githubusercontent.com/4263412/151814007-d1a97985-6414-499c-b6c5-fe8fa48a8141.png)

[2022-01-31 14:54] ignotus666 commented on #689
When posting new/added screenshots here, we should also specify the name of the file ("settings-advanced" in this case) - this one was easy to tell but it might not always be so clear.

Edit: Doh! as proof of how a numbskull like me can get confused I went and changed the wrong include file... it's actually "settings-profile"... Adding "settings-advanced" here so it doesn't get lost again.
![Scree

[2022-02-01 08:04] jujudusud commented on #690
The news screenshot in settings-profile.inc for fr web tanslation for 3.8.2:
![settings-profile](https://user-images.githubusercontent.com/12748768/151932522-ab5a1c93-a039-4661-910f-1083ab97022a.png)

[2022-02-03 21:02] ann0see commented on #693
Going to close this as it seems to be done.

[2022-02-03 21:02] #693 closed, assigned to nobody

[2022-02-03 21:02] ann0see commented on #689
Closing as PR was merged

[2022-02-03 21:02] #689 closed, assigned to ignotus666

[2022-02-03 21:03] ann0see commented on #690
Closing as PR was merged

[2022-02-03 21:03] #690 closed, assigned to trebmuh, jujudusud

[2022-02-03 21:04] ann0see commented on #692
@Snayler, @melcon, @ewarning, could you please give us a short update if someone works on this translation?

[2022-02-03 21:04] ann0see commented on #691
@dzpex could you please give us a short update if someone works on this translation? Since the translation is quite outdated, does it make sense to remove it?

[2022-02-03 21:05] ann0see commented on #688
@ewarning, @Helondeth could you please give us a short update if someone works on this translation?

[2022-02-14 07:20] #688 closed, assigned to ewarning

[2022-02-14 07:20] #691 closed, assigned to dzpex

[2022-02-14 07:20] #692 closed, assigned to melcon, ewarning, Snayler

[2022-02-19 21:17] hoffie opened #706 "Suggest ASIO4ALL 2.15 (final)"
https://www.asio4all.org/ now lists 2.15 final

- [ ] Check that it is working
- [x] Upload asset
- [ ] Update recommendations on the website

The changelog says (among other things):

This would be a huge improvement for new users.

(I'm not planning to work on this for now)

cc @ann0see @ignotus666

[2022-02-19 21:17] ann0see commented on #706
Finally!!!

[2022-02-20 20:40] ann0see commented on #706
Tested on Windows, but at least for me the microphone didn't work (no input). But that might also be due to some strange configuration on my end.

@gilgongo could you test the new ASIO4ALL version please?

[2022-02-20 22:33] ann0see opened #707 "Update headless installation guide"
**URL**

https://jamulus.io/wiki/Server-Linux

Needs a good review – we’re suggesting to modify the systemd files directly – that’s unneeded
The page is hidden behind a wall of text in the server admin guide (cc: @pljones who mentioned it in the chat.)

I think this file needs to be reviewed.

Please post all related issues to the Linux headless server installation here (as Checklist)

[2022-02-20 22:59] jujudusud commented on #707
Also keep in mind that some things are already written in [COMPILING.md](https://github.com/jamulussoftware/jamulus/blob/master/COMPILING.md)

[2022-02-21 07:36] ann0see commented on #707
Thanks for the pointer. Probably it needs restructuring

[2022-02-21 07:56] pianojoe opened #709 "[Bug] All binary download links are broken since release of 3.8.2"
**URL**
[Please provide the url of the page in question.](https://jamulus.io/wiki/Installation-for-Macintosh)

**Describe the bug**
On this page, the download button links to https://github.com/jamulussoftware/jamulus/releases/download/r3_8_1/jamulus_3.8.2_mac.dmg which does not exist. Please update the link to refer to the correct URL https://github.com/jamulussoftware/jamulus/releases/download/r

[2022-02-21 08:08] hoffie commented on #709
Thanks for the report! This also affects the other platforms as the root URL is wrong. Fixing in a second.

[2022-02-21 08:13] #709 closed, assigned to hoffie

[2022-02-21 08:19] hoffie opened #711 "Reduce likelihood for broken release downloads"
Follow-up to #709.

- [x] Should the checklist be modified to point out that the root URL has to be updated as well?
- [ ] Can a CI check catch this?
- [x] Why did my link checker not catch this (I might ignore non jamulus.io URLs... or it might run not frequently enough)?

[2022-02-21 08:46] hoffie opened #712 "[Bug] Release announcement template: Emojis don't work with all platforms"
**URL**
https://jamulus.io/contribute/Release-Process#release-announcement doesn't render for me on Firefox/Linux (neither do the actual announcements on Github or the .md file in vim). Might be a platform-/font-related issue.

[2022-02-21 22:00] ann0see commented on #712
Firefox-esr does show them for me; iOS not. I‘d say we should change the character then.

[2022-02-23 18:47] ann0see commented on #711
Yes, sure ;-)

If we got a working link-checker in the CI, sure (did some work here: https://github.com/jamulussoftware/jamuluswebsite/pull/698 but I thought it's not worth it). There were a few smaller problems (gilgongo updated the links by committing to release instead of next-release) which might have stopped us checking.

[2022-02-23 22:00] pljones commented on #707
Google searches that should find jamulus.io ahead of anything else, with the preview clearly showing a good - non-frightening - match:

We're third down the list, after a YouTube video and the famous Facebook idiots' Guide.

Yay!  We're first - although it's not the headless install, of course -- but that _is_ second, so not bad.

Several YouTube videos.  Desktop usage on our site.  More videos.

[2022-02-24 06:53] ann0see commented on #707
I think at the moment the site is structured to push off people running servers… that might be why our SEO isn’t that good.

[2022-02-24 07:20] pljones commented on #707
The idea is to get anyone searching onto jamulus.io, where we can get them to think
- should I run a server _at all_?  (i.e. am I asking the right question)
- will one of the public servers do for what I want? (advantages / disadvantages)
- will a hosted solution provide what I need? (advantages / disadvantages)

Only after that would we describe the options available and how to achieve them.  Cur

[2022-02-24 23:26] hoffie commented on #711
My `wget` call was missing `--span-hosts`, so it'd ignore Github URLs. It now does a single-depth check so it should catch broken downloads now.

[2022-02-26 15:18] ann0see commented on #712
Does ↓ render for you?

Alternatives: ↡ ⇟ ↓ ⇟ (maybe some are similar)

See https://www.compart.com/de/unicode/block/U+2B00 for arrows

[2022-02-26 15:51] hoffie commented on #712
Yes, all 5 which you posted do render for me.
The following also render for me and might fit?

[⬇ U+2B07](https://emojipedia.org/emoji/%E2%AC%87/)
[📥 U+1F4E5](https://emojipedia.org/emoji/%F0%9F%93%A5/)

Edit: Note though that Github seems to employ logic to replace my two examples with actual images...? Not a blocker at all for us, maybe even an advantage for compatibility.

[2022-02-26 16:48] ann0see commented on #712
Yes, both also render for me. However they look like emojis so I'm not sure if they fit the style.

[2022-03-04 20:18] ann0see opened #717 "Document JSON-RPC api"
As soon as https://github.com/jamulussoftware/jamulus/pull/1975 is merged, we need to link the JSON-RPC.md file somewhere from the website.

Where should the link be? Server admin? User manual? Tips and Tricks?

[2022-03-04 20:19] #322 closed, assigned to mulyaj

[2022-03-04 20:20] ann0see commented on #322
If any more work is planned, I think an new issue should be opened. @mulyaj @Riley-I should be aware of this.

[2022-03-04 21:54] ann0see commented on #331
@gilgongo what can we do to move this forward?

[2022-03-04 21:55] ann0see commented on #355
Closing since we have our names set officialy in the jamulussoftware organisation.

[2022-03-04 21:55] #355 closed, assigned to nobody

[2022-03-04 21:55] ann0see commented on #349
Closing since it looks stale.

[2022-03-04 21:55] #349 closed, assigned to nobody

[2022-03-04 21:55] ann0see commented on #349
If we want to update the website, I think a larger project must be opened.

[2022-03-04 21:57] ann0see commented on #489
ToDo: Document
Flatpak,
Debian Repo,
Repology,
Docker by grundic

Also a bit related:

Document more related projects like jamcaster by @dtinth

[2022-03-04 22:20] ann0see commented on #489
Ok. Created https://github.com/jamulussoftware/jamuluswebsite/commit/af4a0d6ba418909e814255eea25f46635afd307d

[2022-03-04 22:33] ann0see commented on #489
Since the KB page is now up, I'll close this. We can always update the KB page.

[2022-03-04 22:33] #489 closed, assigned to nobody

[2022-03-05 07:22] pljones commented on #717
I'd say we need
* what it is, how to use it, which links to
* what the protocol looks like

as separate pages - as the protocol could change whilst "what it is and how to use it" should be more or less static.

Then the "what it is and how to use it" would be linked from the client and server pages where it should get a simple mention.

[2022-03-05 17:48] ann0see commented on #717
The link to the actual documentation should be JSON-RPC.md in the main repo under the docs/ folder

[2022-03-05 17:49] ann0see commented on #331
I'll close this and suggest to open a discussion if we want to set up a new survey.

[2022-03-05 17:49] #331 closed, assigned to nobody

[2022-03-05 20:51] ann0see commented on #706
Ok. Could get it to work so so. But I think that's the case with Jamulus + ASIO4ALL always (the Realtek Drivers are probably not good). I'd put it instead of the beta but still link older versions (and maybe KoordASIO).

[2022-03-05 21:04] ann0see commented on #706
Ok. Updated it on the website.

[2022-03-05 21:04] #706 closed, assigned to nobody

[2022-03-06 21:56] ann0see commented on #712
Would ↓ be ok for you in the announcement?

[2022-03-06 22:23] #712 closed, assigned to nobody

[2022-03-14 21:54] gilgongo commented on #707
Please review https://github.com/jamulussoftware/jamuluswebsite/pull/715  if you want to make any more changes that myself and @pljones have not already made.

[2022-03-14 22:00] ann0see commented on #707
Done.

[2022-03-14 22:06] gilgongo commented on #707
I'm not an SEO expert by any means, but I think the prevailing wisdom is that Google will probably push YouTube videos above text results because... they own YouTube (we could change that by running ads of course). But also YouTube videos are good for us if they link to us, so having them first isn't too bad and if (as Google would tell it) people prefer watching videos to reading text.

I'm prett

[2022-03-14 22:15] gilgongo commented on #717
Do we have texts for these already in https://github.com/jamulussoftware/jamulus/pull/1975? I seem to recall we did, but where/are there two PRs?

[2022-03-14 22:18] gilgongo commented on #717
BTW I'm not qualified to write anything on this so I won't do it. But structure-wise, I agree we should just plonk in a brief "what it is, how to use it" into Software-Manual and Running-a-Server (I'd add a section after Command Line Options) and then put the hard docs into the repo .md.

[2022-03-14 22:24] gilgongo commented on #707
Now that we have https://github.com/jamulussoftware/jamuluswebsite/pull/715 and https://github.com/jamulussoftware/jamuluswebsite/pull/715 can we close this or is it now about [COMPILING.md](https://github.com/jamulussoftware/jamulus/blob/master/COMPILING.md)?

[2022-03-14 22:26] ann0see commented on #707
I don’t think it’s fixed now since the file is still a bit too big in my opinion

[2022-03-14 22:39] gilgongo commented on #707
OK sure. Feel free to do PR as I think myself and @pljones think it's OK. That's not to say it can't be improved of course.

[2022-03-15 21:11] ann0see commented on #717
Just added a link on the cli page. Client and server admin manual should also have it mentioned.

[2022-03-20 21:15] ann0see commented on #511
I assume we should close this since at least it's partly done with my and @henkdegroot 's KB-Entry (and I think it's at least giving a good hint)

[2022-03-20 21:15] #511 closed, assigned to nobody

[2022-03-21 19:16] hoffie opened #728 "Document Raspberry .debs"
With https://github.com/jamulussoftware/jamulus/pull/2526 merged, we now provide armhf (32bit) .deb packages which are Raspberry-compatible. We should probably still announce them as experimental and ask for feedback.
They've been tested on Raspberry 3 and 4 so far. We should also ask if there's demand for 64bit builds.

- [x] Docs
- [x] Release announcement platform list
- [x] Website download li

[2022-03-21 20:26] ann0see commented on #728
Docs means:
- removing all ARM related compilation instructions
- adding links (https://github.com/jamulussoftware/jamuluswebsite/blob/37fb3f136e921bd615cddd439a5081cc5fefdf74/_config.yml#L16)

[2022-03-23 22:34] pljones opened #729 ""Running a Server" sections on "Running" and "Configuration" need rewriting"
Currently the page has pieces of information that are useful when configuring a server for the first time scatter across several sections.  These need reworking so that information is more easily found.

The introductory section makes a vague reference to server performance but there was more information available somewhere (one of the multi-threading issues, if I remember correctly) that could be

[2022-03-23 22:43] pljones opened #730 ""Tips and Tricks" needs to keep "Client", "Server" and anything else separate"
The current organisation of the page makes it less useful to someone look for help.

Having a "Client" section, a "Server" section and then any other entries in another section would help people find what they're looking for and possibly other related items more easily.

[2022-03-28 07:47] gilgongo commented on #729
I agree, and add that if we feel the doc should be expanded (eg with more explanation of the examples) then we should not be afraid of length.  The attempt to shorten the guide in https://github.com/jamulussoftware/jamuluswebsite/pull/725 was fine as a bit of gardening though.

Aside from the things you mention here, you mentioned elsewhere that there is also the issue (now that we assume GUI serv

[2022-03-28 19:34] ann0see commented on #707
Going to close this as my PR got merged. Other issues have been opened by pljones.

[2022-03-28 19:34] #707 closed, assigned to nobody

[2022-04-02 21:10] ann0see opened #732 "Routing Jack on Windows Guide Fix for ASIO4ALL"
### Discussed in https://github.com/jamulussoftware/jamulus/discussions/2554

<div type='discussions-op-text'>

<sup>Originally posted by **chairbender** March 27, 2022</sup>
EDIT: Sigh, nevermind...it looks like I am still having issues again even after doing this. I swear it fixed my problems on one day, but I guess it isn't consistent...

Hi, I found this page (How to play audio from your PC to

[2022-04-09 21:54] #730 closed, assigned to nobody

[2022-04-11 19:44] #732 closed, assigned to nobody

[2022-04-17 09:26] ann0see opened #739 "Link JACK build on Windows page"
I think we should link the JACK download on the windows page too (but less prominent without a button) on the Windows install page.
Any disadvantages?

[2022-04-17 16:47] pljones commented on #739
In that case, should we link Jack for Windows, too, as it's a dependency?  (We can't do similar for the ASIO version, as it's hardware-dependent - although we probably do point to ASIO4ALL somewhere.)

[2022-04-17 16:55] ann0see commented on #739
Agree.

[2022-04-19 07:26] jujudusud commented on #739
I can't see any disadvantages. It is always nice to Say "Hey, there is another possibilité here!".

[2022-04-20 17:47] ann0see opened #740 "[Bug] Remove occurances of sourceforge (sf) from the website"
**URL**
https://jamulus.io has occurances of source forge like the download_from_sf css class. This should be removed from the CSS and HTML files. I think a simple grep could find all occurrences of "sf".

[2022-04-22 17:36] #740 closed, assigned to nobody

[2022-04-23 18:12] ann0see commented on #728
Just marked the "docs" as finished

[2022-04-23 18:41] ann0see commented on #728
Is this also done?

[2022-05-01 07:58] #739 closed, assigned to nobody

[2022-05-21 20:46] #728 closed, assigned to nobody

[2022-05-21 20:47] ann0see commented on #728
Closed since I've now also updated the release announcement

[2022-05-22 16:52] pljones commented on #711
Any status update, @hoffie?  This is in backlog - is it likely to be ready for 3.9.0?

[2022-05-22 19:04] hoffie commented on #711
Well, the live URL checker I'm running has been updated. The checklist update should be a small change. If/when and by whom the other part (CI) is done, is questionable.
As this is mainly a process task, it doesn't have to be tied to the release, IMO.

[2022-06-10 20:27] ghost opened #748 "Making the QoS section a bit less technical"
Re: [jamulussoftware/jamuluswebsite] Reinhardwh de v4 (PR #747)
@ann0see

Hi, I received an email from GitHub on this topic and can't find where to reply so I opened an Issue.
I modified two files to address this issue: (.diff provided for quick inspection, or cut and paste, or patch)

../wiki/en/Include-QOS-Windows.md.diff
[code]

../wiki/en/Include-Shared-Commands.md.diff
[code]
[Include-QOS-Win

[2022-06-13 05:53] ann0see commented on #748
Thanks!

[2022-06-14 10:10] ann0see commented on #748
I think the "however most people will not need..." section should still remain.
Can you open a pull request with these changes?

[2022-06-15 19:00] ghost commented on #748
PR #749 is ready for review.

[2022-06-18 11:19] pljones commented on #717
Moving to 3.9.1 -- the API isn't finalised as of 3.9.0 so documentation isn't pressing.

[2022-06-18 11:21] pljones commented on #673
@gilgongo is there any chance of this happening?

[2022-06-19 09:55] ghost commented on #748
PR #750 supersedes the closed PR #749

[2022-06-19 16:05] #748 closed, assigned to nobody

[2022-06-19 17:05] ann0see opened #751 "Add disclaimer to Privacy statement that english version is "official""
I think we should add a disclaimer to the privacy statement that the english version should be considered the "binding" version.

Discussed in: https://github.com/jamulussoftware/jamuluswebsite/pull/747#discussion_r901069594

[2022-06-22 18:50] ann0see opened #752 "Link "Jitter" on Client troubleshooting page"
See below

_Originally posted by @ann0see in https://github.com/jamulussoftware/jamuluswebsite/pull/747#discussion_r878755011_

[2022-06-22 18:51] ann0see opened #753 "Use backtick in english version"
See

_Originally posted by @ann0see in https://github.com/jamulussoftware/jamuluswebsite/pull/747#discussion_r878756064_

[2022-06-22 19:01] ann0see opened #754 "Add (invisible) link to Android and iOS page on Getting started page"
It might be good to add a link to the iOS and Android pages which are hidden at the moment. They should not be too prominent but a link somewhere below Win/mac/linux would be good

[2022-06-22 19:04] ann0see opened #755 "Improve Include-Backing up"
To find your settings file on Windows, open the file manager, access the `%APPDATA%` folder by typing `%APPDATA%` into the folder navigation box (not sure how this box is called). Afterwards, search for the folder named "Jamulus" and get the (or copy) the `.ini` files.

_Originally posted by @ann0see in https://github.com/jamulussoftware/jamuluswebsite/pull/747#discussion_r889685198_

[2022-06-22 19:04] ann0see opened #756 "Rephrase --recording on CLI Page"
@gilgongo this needs to be rephrased. I think it's not well written. What it does is basically making recording available but it needs to be enabled via JSONRPC or SIGUSR

_Originally posted by @ann0see in https://github.com/jamulussoftware/jamuluswebsite/pull/747#discussion_r883978105_

[2022-06-23 06:14] pljones commented on #756
Above is incorrect.

_By default_, recording will start whenever there's something to record, if a recording directory is given.

To prevent that behaviour, `--norecord` must be supplied on the command line.

[2022-06-23 18:44] ann0see opened #758 "[Bug] This documentation is CC BY-SA license is not translated"
**URL**
Not yet published. The new sidebar will show an untranslated license disclaimer. This should be changed

**Describe the bug**

[2022-06-23 19:04] ann0see opened #759 "[Bug] Change html ID for ASIO footer text"
Windows page will show the ASIO headline in a wrong format since the footer also uses the HTML asio id. The id of the footer must be changed, since we link the ASIO headline from the windows installer

[2022-06-23 19:07] ann0see opened #760 "[Bug] Footer is not translatable anymore"
Another issue for tracking:

The new footer will no longer be translatable (also our copyright). This should be changed.

[2022-06-23 19:11] ann0see opened #761 "[Bug] Table of contents looks too bright in dark mode"
**URL**
[See software manual(https://jamulus.io/wiki/Software-Manual)

**Describe the bug**
The table of contents background looks too bright in dark mode. Some designer should look at it.

[2022-06-23 19:30] ann0see commented on #756
As I said, it needs to be re-phrased. At least it's a bit confusing. If -R and --norecord is set, the server can record, but doesn't. If -R is set, the server records by default, I think?

[2022-06-23 20:50] pljones commented on #756
`sets directory to contain recorded jams` is insufficient.  It's never _just_ done that.  It's always also turned on the "record when a session is active" state.  The text that's there now isn't what I proposed.

`disables recording (when enabled by default by -R)` is also misleading as it doesn't _prevent_ recording (the "disabled" wording may also be in the GUI with this wrong meaning).  What it

[2022-06-24 10:48] ann0see commented on #756
Yes. I'd stress the fact that by default recording is enabled a bit more (not in parentheses)

Maybe -R could in future take two parameters: -R (recording directory, default recording state[on,off]). Probably requires the CLI parsing to be adapted

[2022-06-24 11:02] ignotus666 opened #762 "Use Weblate for translations"
@jamulussoftware/translators @ann0see @gilgongo

Though the po4a setup made things a bit simpler, I think there are still big barriers when it comes to translating the documentation. A big one is having to navigate all the GitHub stuff (forking, branches, PRs, conflicts, etc.). Further problems arise with local translating due to different OS's, editors/versions, incorrect settings, etc. A case in

[2022-06-24 11:06] ignotus666 commented on #762
I just realised this might be better in Discussions... feel free to move it.

[2022-06-24 15:23] pljones commented on #756
We could have an optional alternative syntax of `-R [0|1];[path]`, so if it starts `0;` or `1;` it's the flag for off/on by default, otherwise it's the existing on by default behaviour.  That's backwards compatible and removes the _need_ for `--norecord` (which would still be supported as we love being backward compatible).

[2022-06-24 15:46] ann0see commented on #756
Yes. Sounds good.

[2022-06-25 20:18] ann0see commented on #762
Hmm yes after looking at the page it looks quite promising. I'd however prefer not needing to have another platform to maintain

[2022-06-25 22:17] ignotus666 commented on #762
True, but conversely it could save a lot of hand-holding and make the translation process much more accessible by removing the requirement of needing to know how to use GitHub.

[2022-06-26 04:30] BLumia commented on #762
Additionally, Weblate also send translation updates via GitHub Pull Request automatically, so if choosing Weblate, we can still accept regular GitHub Pull Request if a translator doesn't want to use the hosted Weblate instance.

One thing might be worth to mention is, if we choose to use Weblate, we'll need to pay more attention to the source strings that contains arguments (e.g. `"About %1"`) and

[2022-06-26 05:26] ann0see commented on #762
Yeah. Valid point. I'd say it's up to @jujudusud @henkdegroot too if they want to use it. I used transifex some time ago (or however it's called) and it was convenient.

[2022-06-26 05:54] henkdegroot commented on #762
The current setup works fine for me. Not against using anything else, however when I do translation(s) I usually want to be able to "see" the end result before submitting a PR. Hence I already need to install/download code etc.

Having a less github involved setup could benefit to attract new translators.

[2022-06-26 06:29] trebmuh commented on #762
Hi all. I'm using Weblate for a unch of other project I'm translating and I :+1: this proposition. Weblate is very convenient for translators as it removes all the "non-translation" barrier (code,...). One can use github to connect to it or use a login/password if he doesn't have a github account. This is a good thing and a bad thing in the same time and I recommand you to set up a "reviewer" for

[2022-06-26 08:37] pljones commented on #673
I'll move this to 3.9.1 now.

[2022-06-26 10:13] ann0see commented on #762
Ok. So I'm not going to stop you from implementing it. However no guarantee for being online there.

[2022-06-28 20:01] #753 closed, assigned to nobody

[2022-06-30 16:59] pljones commented on #754
#765 says it fixes this.  That's merged.  Is there anything else needed here?

[2022-06-30 18:59] ann0see commented on #754
Yes

[2022-06-30 18:59] #754 closed, assigned to nobody

[2022-07-02 09:07] gilgongo opened #766 "Review content in T&T and Related Projects"
See https://github.com/jamulussoftware/jamuluswebsite/pull/747#discussion_r889684590

Content currently in Tips & Tricks may be better in https://github.com/jamulussoftware/jamulus/blob/master/docs/RELATED-PROJECTS.md

[2022-07-03 06:22] #760 closed, assigned to nobody

[2022-07-03 06:22] #759 closed, assigned to nobody

[2022-07-03 06:22] #758 closed, assigned to nobody

[2022-07-04 13:30] ann0see commented on #766
Agree. But not for 3.9.0?

[2022-07-08 15:54] ann0see commented on #717
Also there are things which need to be updated in the app: https://github.com/jamulussoftware/jamulus/pull/2704#discussion_r916870904

[2022-07-08 19:55] ann0see commented on #756
@pljones since the translation hasn't started yet for the website, would you mind changing this and open a PR on the website with your proposal: https://github.com/jamulussoftware/jamuluswebsite/issues/756#issuecomment-1164861183 ?

[2022-07-08 19:56] ann0see commented on #756
Actually this is probably the text which I thought was already changed in the app.

[2022-07-09 07:28] pljones commented on #756
Mm, I don't think this has had an issue in the jamulussoftware/jamulus project raised to fix the app yet, no.

[2022-07-09 14:21] #752 closed, assigned to nobody

[2022-07-09 17:32] #751 closed, assigned to nobody

[2022-07-12 06:45] #755 closed, assigned to nobody

[2022-07-12 14:54] gilgongo opened #774 "Update de web translation for 3.9.0"
Hi @Helondeth, @ewarning,

We are getting ready for the 3.9.0 release and have created the [next-release](https://github.com/jamulussoftware/jamuluswebsite/tree/next-release) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..next-release)).

We would be happy if you updated the translations for **de** by **2022-07-22**.

Please

- Start your work in your fork o

[2022-07-12 14:58] gilgongo opened #775 "Update es web translation for 3.9.0"
Hi @ignotus666,

We are getting ready for the 3.9.0 release and have created the [next-release](https://github.com/jamulussoftware/jamuluswebsite/tree/next-release) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..next-release)).

We would be happy if you updated the translations for **es** by **2022-07-22**.

Please

- Start your work in your fork on a branch

[2022-07-12 14:58] gilgongo opened #776 "Update fr web translation for 3.9.0"
Hi @jujudusud, @trebmuh,

We are getting ready for the 3.9.0 release and have created the [next-release](https://github.com/jamulussoftware/jamuluswebsite/tree/next-release) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..next-release)).

We would be happy if you updated the translations for **fr** by **2022-07-22**.

Please

- Start your work in your fork on

[2022-07-12 14:58] gilgongo opened #777 "Update it web translation for 3.9.0"
Hi @dzpex,

We are getting ready for the 3.9.0 release and have created the [next-release](https://github.com/jamulussoftware/jamuluswebsite/tree/next-release) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..next-release)).

We would be happy if you updated the translations for **it** by **2022-07-22**.

Please

- Start your work in your fork on a branch base

[2022-07-12 14:58] gilgongo opened #778 "Update nl web translation for 3.9.0"
Hi @henkdegroot,

We are getting ready for the 3.9.0 release and have created the [next-release](https://github.com/jamulussoftware/jamuluswebsite/tree/next-release) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..next-release)).

We would be happy if you updated the translations for **nl** by **2022-07-22**.

Please

- Start your work in your fork on a branc

[2022-07-12 14:58] gilgongo opened #779 "Update pt web translation for 3.9.0"
Hi @Snayler, @melcon, @ewarning,

We are getting ready for the 3.9.0 release and have created the [next-release](https://github.com/jamulussoftware/jamuluswebsite/tree/next-release) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..next-release)).

We would be happy if you updated the translations for **pt** by **2022-07-22**.

Please

- Start your work in your

[2022-07-13 10:54] henkdegroot commented on #778
Adding Dutch screenshots to this issue, so I can link them in the website update:

![settings-profile](https://user-images.githubusercontent.com/13550012/179161661-d8ef5df9-c199-43b5-8902-1c28f46c185a.png)

![Server_Settings_nl](https://user-images.githubusercontent.com/13550012/178717359-6d949933-2d7c-4089-b487-bc1ff28ed54b.png)

![Server_Options_nl](https://user-images.githubusercontent.com/1355

[2022-07-14 11:23] ignotus666 commented on #779
Please note that the documents "Include-QOS-Windows.po" and "Server-Linux.po" do not need translating as they have been removed from the documentation (though did not get removed from the PO folders). However, some of their content has been moved to other documents so it would be good if you update your translation memory to take advantage of any strings that had already been translated.

[2022-07-14 11:24] ignotus666 commented on #778
Please note that the documents "Include-QOS-Windows.po" and "Server-Linux.po" do not need translating as they have been removed from the documentation (though did not get removed from the PO folders). However, some of their content has been moved to other documents so it would be good if you update your translation memory to take advantage of any strings that had already been translated.

[2022-07-14 11:24] ignotus666 commented on #777
Please note that the documents "Include-QOS-Windows.po" and "Server-Linux.po" do not need translating as they have been removed from the documentation (though did not get removed from the PO folders). However, some of their content has been moved to other documents so it would be good if you update your translation memory to take advantage of any strings that had already been translated.

[2022-07-14 11:24] ignotus666 commented on #776
Please note that the documents "Include-QOS-Windows.po" and "Server-Linux.po" do not need translating as they have been removed from the documentation (though did not get removed from the PO folders). However, some of their content has been moved to other documents so it would be good if you update your translation memory to take advantage of any strings that had already been translated.

[2022-07-14 11:24] ignotus666 commented on #775
Please note that the documents "Include-QOS-Windows.po" and "Server-Linux.po" do not need translating as they have been removed from the documentation (though did not get removed from the PO folders). However, some of their content has been moved to other documents so it would be good if you update your translation memory to take advantage of any strings that had already been translated.

[2022-07-14 11:25] ignotus666 commented on #774
Please note that the documents "Include-QOS-Windows.po" and "Server-Linux.po" do not need translating as they have been removed from the documentation (though did not get removed from the PO folders). However, some of their content has been moved to other documents so it would be good if you update your translation memory to take advantage of any strings that had already been translated.

[2022-07-14 13:53] jujudusud commented on #776
Good to know. Thanks.

[2022-07-14 18:00] jujudusud commented on #776
Screenshots are now ok for the next release 3.9.0.

[2022-07-14 18:18] jujudusud commented on #776
Second one:
Server setup.
![parametres-serveur](https://user-images.githubusercontent.com/12748768/179054052-da19298e-f3d5-440d-a560-4e502ada1544.png)

[2022-07-14 19:38] pljones opened #781 "Update "Installation-for-Linux" to support libqt5multimedia5 dependency"
The "[Installation for Linux](https://jamulus.io/wiki/Installation-for-Linux)" page for the Linux Client needs updating because of the additional dependency added under jamulussoftware/jamulus#2721, which fixed jamulussoftware/jamulus#2720.

For **Ubuntu only**, prior to the "Download Jamulus" step, we need to add:

(*Note:* Debian does not have "universe", only "main", "contrib" and "non-free" an

[2022-07-14 21:22] ann0see commented on #781
This needs translation, so it should be done quickly after the other PR is merged

[2022-07-15 15:53] ignotus666 commented on #775
![settings-profile](https://user-images.githubusercontent.com/4263412/179260156-71f3b144-d2fb-4a9e-a58a-985c543ea78d.png)
![server-window-setup](https://user-images.githubusercontent.com/4263412/179260333-df85d696-eede-4abd-8aa9-b042d8bf4036.png)
![server-window-options](https://user-images.githubusercontent.com/4263412/179260421-a85e25ea-34b5-4c20-9dca-ce23d3ec8a60.png)

[2022-07-16 18:24] ann0see commented on #781
The new text is a bit different on the site on next-release. I think we could add the following shorter paragraph as step 2:

2. Ubuntu only: Before installing, enable the Ubuntu "universe" repository (you can use the [GUI-based approach](https://askubuntu.com/a/148645)
 or [CLI-based approach](https://askubuntu.com/a/227788)). **Note:** Debian does *not* need this step

We could also remove the "

[2022-07-17 21:54] gilgongo commented on #781
Fixed with https://github.com/jamulussoftware/jamuluswebsite/pull/783

[2022-07-17 21:54] #781 closed, assigned to nobody

[2022-07-18 18:36] ann0see commented on #781
@ignotus666  @jujudusud Probably you need to update the installation for linux page since we added a dependency

[2022-07-21 11:08] ignotus666 commented on #774
Just realised @reinhardwh hasn't been added to the message here - he's the main contributor of the DE translation.

[2022-07-22 15:58] pljones commented on #774
Aha, thanks @ignotus666!  We'll need to get the script updated.

[2022-07-22 16:50] reinhardwh commented on #774
Hello @ann0see,
I am away from keyboard for next 2 weeks and cannot work on DE translations right now.
Could somebody else take updating the URLs?

[2022-07-22 18:24] ann0see commented on #774
No problem. Translations can also be added post release on the website.
The links will be automatically updated by us, so nobody would get the old version of the app anyway

[2022-07-22 18:41] #778 closed, assigned to henkdegroot

[2022-07-24 12:48] ann0see commented on #766
There's also an outdated information on Tips&Tricks: https://github.com/jamulussoftware/jamuluswebsite/blob/next-release/wiki/en/Tips-Tricks-More.md#converting-a-public-server-to-a-private-one-on-the-fly

You now need to select "None" and not uncheck the make my server public checkbox.

[2022-07-27 09:42] pljones commented on #774
Removing from Release 3.9.0 - this can be completed after the release.

[2022-07-27 09:42] pljones commented on #777
Removing from Release 3.9.0 - this can be completed after the release.

[2022-07-27 09:43] pljones commented on #779
Removing from Release 3.9.0 - this can be completed after the release.

[2022-07-27 18:49] #775 closed, assigned to ignotus666

[2022-07-27 18:49] ann0see commented on #775
I don't understand why the PR didn't close this issue. This happened multiple times already.

[2022-07-27 18:50] #776 closed, assigned to jujudusud

[2022-07-27 18:59] pljones commented on #775
Yeah - the jamulussoftware/jamuluswebsite translation merges have all failed to close their issues, I think.  I'm sure I've seen a couple of "misses" on jamulussoftware/jamulus, too.

[2022-08-02 20:02] jujudusud opened #793 "[Translate] Correction for FR screenshot settings-profile.inc"
# Language you want to translate to
FR French
# Description
The screenshot is not the latest translated version for the new Audio Alerts fonctionnality.

This image is ok.
https://user-images.githubusercontent.com/12748768/182461570-f34d2f54-0a85-4eac-8ffb-02417b80b4fc.png

[2022-08-03 06:11] #793 closed, assigned to jujudusud

[2022-08-03 11:54] gilgongo commented on #777
Closing as past deadline.

[2022-08-03 11:54] #777 closed, assigned to dzpex

[2022-08-03 11:55] gilgongo commented on #779
Closing as past deadline.

[2022-08-03 11:55] #779 closed, assigned to melcon, ewarning, Snayler

[2022-08-04 17:43] jujudusud opened #796 "[Translate] Some untranslatable strings."
# Language you want to translate to
All languages
# Description
"This documentation is CC BY-SA" is untranslatable. Please see the image below:
![ccby](https://user-images.githubusercontent.com/12748768/182916032-fd7fa083-6559-4d0a-be86-8fa77b52f4f9.png)

[2022-08-04 18:46] jujudusud opened #798 "[Translate] The footer is untranslatable anymore."
# Language you want to translate to
All
# Description
The footer is not translated anymore. Is it normal or a problem?
![bas-de-page](https://user-images.githubusercontent.com/12748768/182929622-36b1c870-7f32-4127-bbef-14ccf56d3058.png)
As "software by Volker Fischer and contributors - Want to get involved? " is not ASIO compliance part, it should be translated as before.

[2022-08-04 19:49] pljones commented on #796
I think this is intentional.  Creative Commons says that statement should be made in English.  None of the translations of their official licences are "official", as such, only indicative of meaning.

[2022-08-04 19:51] pljones commented on #798
Yep, that needs splitting.  It wasn't done for 3.9.0 to avoid complicating things too much but we should do it for 3.9.1, I reckon.

[2022-08-04 19:59] jujudusud commented on #796
Ok, but, is translating "This documentation is" by "cette documentation est" is a problem? I don't really understand... :-(

Also the CC BY-SA link refers to the site in English which is also translated into French here: https://creativecommons.org/licenses/by-sa/4.0/deed.fr

I think we should translate.

[2022-08-04 20:20] pljones commented on #796
@gilgongo may be able to remember...

[2022-08-05 05:50] #798 closed, assigned to nobody

[2022-08-05 05:59] ann0see commented on #798
@jujudusud should be fixed now.

[2022-08-05 08:08] gilgongo commented on #796
I think in so far as CC licences are "[ported](https://wiki.creativecommons.org/wiki/Porting_Project)" for each territory they are valid in, they do have official translations. So perhaps we can translate that notice.

[2022-08-05 16:10] pljones commented on #796
That implies we should use their official statement in the language version of our translation, right?

[2022-08-05 19:07] gilgongo commented on #796
~~Not sure. It may be that the official stuff just relates to the licence wording itself, but I can't immediately find any guidance on that.~~

Sorry, do you mean the link to the CC licence itself? I think that just auto-switches.

[2022-08-05 20:30] jujudusud commented on #796
![IMG_20220805_222846](https://user-images.githubusercontent.com/12748768/183158037-a47a5940-575b-4ddc-ad7d-8841683d81ab.jpg)

[2022-08-05 21:45] pljones commented on #796
The translations are translations of the English text but not ported to the jurisdiction laws.  Use of the translation of a CC4.0 licence _may_ lead to confusion.  In my view, we should at least always link to the original English version, to make it clear what our licence is.

Note also the paragraph about the earlier versions (including CC3.0), highlighting that the "ported" (i.e. jurisdictional

[2022-08-07 11:31] jujudusud commented on #798
Really nice. Thanks again!

[2022-08-08 20:35] jujudusud commented on #796
I have nothing to add on this issue. Shall we go further or shall we close it?

[2022-08-08 21:53] melcon opened #802 "[Translate] Add Brazilian Portuguese [pt_BR]"
Add [pt_BR] translation

[2022-08-08 22:13] ignotus666 commented on #802
I just checked and everything seems to have gone smoothly - your files are on Weblate.

(Note to self: this github-actions message also needs to be updated).

[2022-08-14 20:14] ann0see commented on #774
@ewarning @reinhardwh any updates here?

[2022-08-17 18:09] reinhardwh commented on #774
Hello,
I am currently on Business Trip in SFO
I will look into this next week
2022-08-22
Hope thats ok.

[2022-08-17 19:57] ann0see commented on #774
Yeah. No problem.

[2022-08-29 16:22] pljones commented on #766
Moved to 3.10.0 to keep application 3.9.1 "bugfix" related.

Unless there are changes close to ready, that is...

[2022-08-29 16:30] pljones commented on #711
How's progress?

[2022-08-29 16:35] pljones commented on #717
Bumping to 3.10.0.  There are a few more bits that need doing for JSON-RPC.

[2022-08-29 16:41] pljones commented on #673
Leaving this in for now as I don't expect it to require translations.  If we get close to 3.9.1 and it looks like not getting done, it get move.

[2022-08-31 09:30] ignotus666 commented on #802
Closing as pt_BR has been added successfully.

[2022-08-31 09:30] #802 closed, assigned to melcon

[2022-09-01 14:19] ann0see commented on #774
I'll close this now as probably it's worth working on 3.9.1 from now on. The translation files on weblate are synced with the next-release branch.

[2022-09-01 14:19] #774 closed, assigned to ewarning, reinhardwh

[2022-09-01 14:22] ann0see commented on #796
I'm not objected to translating the text "This documentation is" and don't think that we can't translate it. We can/should probably link the English license.

[2022-09-01 19:22] ann0see commented on #756
I've now opened two PRs on this. Once they're merged this issue can be closed

[2022-09-01 19:35] ann0see commented on #761
I've now changed the background to the same color as the code block:
![toc](https://user-images.githubusercontent.com/20726856/187997676-550ecfb8-9104-453c-859f-61c938d54771.png)

PR will follow

[2022-09-02 09:08] #756 closed, assigned to nobody

[2022-09-04 10:18] pljones commented on #711
I'll drop from the tracker as we don't need to track it.

[2022-09-04 10:21] pljones commented on #673
Moving to 3.10.0 as it's not progressing.

[2022-09-05 16:36] pljones opened #812 "Directory: Use configured Directory Public IP for Client when hole-punching"
Following up on https://github.com/jamulussoftware/jamulus/pull/2819#issuecomment-1232115690 so it doesn't get lost.

https://jamulus.io/wiki/Custom-Directories (to be renamed, IIRC) should have an additional note added under "Points to note about Directories":

* When using a client on the same LAN as a directory, the directory itself needs to be run with the correct `--serverpublicip` value, so

[2022-09-06 20:48] pljones opened #813 "Maintenance: Move main branch to "main""
*Change*

Update github and any automation, plus documentation, to show the project main branch is named "main".

*Reason*

To remove sensitive references.

[2022-09-07 17:06] pljones opened #816 "Checkbox controls should be "self-labelling""
Following up on https://github.com/jamulussoftware/jamulus/issues/2723#issuecomment-1239293096 so it doesn't get lost.

That issue has initial screenshots.  Once they're agreed, I'll post the final ones here along with any further changes needed in the "Software Manual" and "Running a Server" pages.

[2022-09-07 21:50] #812 closed, assigned to nobody

[2022-09-09 16:04] ignotus666 opened #817 "Update po4a for better markdown support"
Upstream po4a has received several updates recently that improve markdown support. Our scripts currently process .md files as asciidoc and work well enough, but this can be improved. I've been doing some tests on my repo and would like to implement these improvements in our scripts (and update the po4a .deb package in the assets repo).

These improvements are mainly about stripping out markdown fo

[2022-09-09 16:13] pljones commented on #817
Can this wait until 3.10.0?

[2022-09-09 17:14] ignotus666 commented on #817
I don't see why not. The thing is, with weblate translations are coming in constantly, not like before when there were defined pre-release periods. Is there any specific reason you'd prefer to wait?

[2022-09-09 18:48] pljones commented on #817
Stability during the release cycle, is really the only thing.  3.9.1 is intended to be out "ASAP" as we don't want anything risking that, like suddenly finding the tools don't work.  If it's something that can be done, tested and proved working without impacting what we have now, then I guess that should be fine.

[2022-09-09 21:17] ignotus666 commented on #817
Fair enough, it's not urgent so no problem to wait until after 3.9.1. I've been doing testing on my repo but there's always the chance I missed something.

[2022-09-09 21:35] pljones commented on #729
I'm tagging this for 3.10.0 as I feel it's not going to get pushed at all unless it's got a release assigned.  At least this way we keep assessing it each cycle.

[2022-09-11 11:01] pljones commented on #816
From https://github.com/jamulussoftware/jamulus/pull/2847 builds:

**Linux client screen shots** (`src/clientsettingsdlgbase.ui`)
![image](https://user-images.githubusercontent.com/1549463/189522766-34844d83-64b2-4f05-b5eb-4939b3b081a9.png)
![image](https://user-images.githubusercontent.com/1549463/189522782-db81b289-3490-4e45-b7bc-c22e2b5bcbf2.png)
![image](https://user-images.githubusercontent.c

[2022-09-11 19:30] ann0see commented on #816
@pljones I'd prefer to not have the Jamulus Private directory address in a screenshot.

[2022-09-13 16:11] ann0see opened #821 "Rename links to Getting Started page to Setup page"
I wonder why the English isn't consistent here.  In several places, the page is called "Getting Started".  The file is "Getting Started".  Yet the text here is "Jamulus setup page".  @gilgongo any ideas?

_Originally posted by @pljones in https://github.com/jamulussoftware/jamuluswebsite/pull/811#discussion_r962366493_

[2022-09-13 16:11] ann0see commented on #821
https://github.com/jamulussoftware/jamuluswebsite/pull/811#discussion_r962366645

[2022-09-13 16:32] #761 closed, assigned to nobody

[2022-09-18 17:54] hoffie opened #822 "Document --serverinfo two-letter ISO country code support"
https://github.com/jamulussoftware/jamulus/pull/2841 should be documented on the website.
We should make the ISO-code-based variant the preferred one and only keep the documentation for "Jamulus 3.9.0 or earlier".

Note: This is nice-to-have for 3.9.1, but in no way mandatory as it doesn't break existing documentation in any way.

[2022-09-20 13:41] mansil opened #824 "Portuguese language Wiki"
**PT language in the WIKI is Portuguese (Brazil)**

**It should be the Portuguese (Portugal) in there.**

**Operating system Win 11 x64**

**Version of Jamulus 3.9.0**

**Portuguese is represented by the Portuguse (Portugal) ONLY**

Thank you.

[2022-09-20 21:30] ann0see commented on #824
Hi,

Thanks for mentioning this!
Definitely there's something wrong then, since the wiki for the next release has pt and pt_Br
@melcon could you please comment on this?

[2022-09-20 21:32] ann0see commented on #824
Maintenance: Transferred to the website repo (from main repo)

[2022-09-21 09:40] ignotus666 commented on #824
Just to clarify - are you complaining that the text on the website is in pt_BR but the selector just says "pt" (implying pt_PT)?

[2022-09-27 16:29] pljones commented on #822
... or it may not.  It should have, so I'll do it manually.

[2022-09-27 16:29] #822 closed, assigned to nobody

[2022-10-06 20:14] ann0see opened #838 "Rename repository to jamulus.io or "website""
The name jamuluswebsite is long to type and redundant in our organization. I think we should think about renaming this repo to something short like jamulus.io or website.

What do you think?

[2022-10-07 05:48] jujudusud commented on #838
I do not need this name change as far as I am concerned.
But I have no objection to changing the name to a shorter and clearer one.
jamulus.io' sounds like a good idea.

[2022-10-07 18:13] ann0see opened #839 "[Bug] <details> uses invalid css. Should be font-weight: bold"
https://jamulus.io/wiki/Running-a-Server

**Describe the bug**
fw.css should contain font-weight: bold for details. Currently we use invalid css and thus the TOC doesn't show up in bold.
@gilgongo should we change it? It's an easy fix.

[2022-10-07 19:35] ann0see opened #841 "Improvements for homepage"
The following was raised by @comradekingu
That particular passage doesn't intrinsically say anything about why it is possible to help Jamulus.
It would be possible anyway, so the user is left wondering what the link between helping and the unknown concept is.

People don't know what the GPL is, and even if they did, there are three versions of that license.
There is also "Play music online. With f

[2022-10-07 19:39] comradekingu commented on #841
Weblate has some support for HTML https://docs.weblate.org/en/latest/formats.html#html-files, but I see some po4a stuff.
If the website is added to Weblate, I can fix it and the incomplete diff is maintained. (Rather than anything other than English going out of sync.)

[2022-10-07 19:45] ann0see commented on #841
It is already (but only the next release)

@ignotus666

[2022-10-07 19:59] ann0see commented on #841
There is also "Play music online. With friends. For free." which makes a bigger point out of it being gratis, which undersells freedom.

Agree. However, free as in freedom and free as in beer are both true for Jamulus.

Fair point. Feel free to change it to something else.

Totally agree.

We decided that it's easier to include it in the footer and show it on every page instead of only pages menti

[2022-10-10 19:13] hoffie commented on #838
I agree that jamulus.io would have been the more natural choice. Changing it now might need some coordination and checking though as people would have to update their Git configs, etc.

I thought the website might have been available at jamuluswebsite.github.io now, but it seems like it isn't so there is nothing to break in that place. :)

[2022-10-10 19:16] ann0see commented on #838
It was at the beginning, but it no longer is.

[2022-10-11 15:05] ignotus666 opened #845 "[Translate] Add Korean [ko_KR]"
@MarongHappy could you confirm that you would like us to add the files to translate the website into Korean?

[2022-10-11 20:28] ann0see opened #846 "Update de web translation for 3.9.1"
Hi @Helondeth, @ewarning,

We are getting ready for the 3.9.1 release and have created the [next-release](https://github.com/jamulussoftware/jamuluswebsite/tree/next-release) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..next-release)).

We would be happy if you updated the translations for **de** by **2022-10-29**.

Please either [update the translations o

[2022-10-11 20:29] ann0see opened #847 "Update es web translation for 3.9.1"
Hi @ignotus666,

We are getting ready for the 3.9.1 release and have created the [next-release](https://github.com/jamulussoftware/jamuluswebsite/tree/next-release) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..next-release)).

We would be happy if you updated the translations for **es** by **2022-10-29**.

Please either [update the translations on Hosted W

[2022-10-11 20:29] ann0see opened #848 "Update fr web translation for 3.9.1"
Hi @jujudusud, @trebmuh,

We are getting ready for the 3.9.1 release and have created the [next-release](https://github.com/jamulussoftware/jamuluswebsite/tree/next-release) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..next-release)).

We would be happy if you updated the translations for **fr** by **2022-10-29**.

Please either [update the translations on

[2022-10-11 20:29] ann0see opened #849 "Update it web translation for 3.9.1"
Hi @dzpex,

We are getting ready for the 3.9.1 release and have created the [next-release](https://github.com/jamulussoftware/jamuluswebsite/tree/next-release) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..next-release)).

We would be happy if you updated the translations for **it** by **2022-10-29**.

Please either [update the translations on Hosted Weblat

[2022-10-11 20:29] ann0see opened #850 "Update nl web translation for 3.9.1"
Hi @henkdegroot,

We are getting ready for the 3.9.1 release and have created the [next-release](https://github.com/jamulussoftware/jamuluswebsite/tree/next-release) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..next-release)).

We would be happy if you updated the translations for **nl** by **2022-10-29**.

Please either [update the translations on Hosted

[2022-10-11 20:29] ann0see opened #851 "Update pt web translation for 3.9.1"
Hi @Snayler, @melcon, @ewarning,

We are getting ready for the 3.9.1 release and have created the [next-release](https://github.com/jamulussoftware/jamuluswebsite/tree/next-release) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..next-release)).

We would be happy if you updated the translations for **pt** by **2022-10-29**.

Please either [update the transla

[2022-10-11 20:57] ann0see opened #854 "Update ko_KR web translation for 3.9.1"
We are getting ready for the 3.9.1 release and have created the [next-release](https://github.com/jamulussoftware/jamuluswebsite/tree/next-release) branch ([full diff](https://github.com/jamulussoftware/jamuluswebsite/compare/release..next-release)).

We would be happy if you updated the translations for **ko_KR** by **2022-10-29**.

Please either [update the translations on Hosted Weblate](https:

[2022-10-11 20:59] ann0see commented on #845
As soon as we have a translator, the create translation issues script needs to be updated.

[2022-10-11 20:59] ann0see commented on #845
Related to: https://github.com/jamulussoftware/jamuluswebsite/issues/854

[2022-10-11 21:00] ann0see commented on #851
pt_PT doesn't seem to have a translator? At least the script didn't find one. Feel free to translate it too.

[2022-10-11 21:15] ignotus666 commented on #851
That's because pt_PT as such doesn't exist yet (#844) - it was just "pt" until now. It's pt_BR that has to be added also.

[2022-10-11 21:18] ignotus666 commented on #845
Wow, I failed to adhere to the instructions I created myself... (adding the language code in square brackets). Thanks @ann0see : )

[2022-10-12 18:30] ignotus666 commented on #845
This person hasn't surfaced here, but they've already started ploughing through the Korean translations on Weblate, so I think it's safe to add them to the translator's list.

[2022-10-13 17:35] trebmuh opened #857 "[Bug] found and fixed a typo"
I committed to next-release: https://github.com/jamulussoftware/jamuluswebsite/commit/19f4cd5411efea92fe1ba08a6c03936f106864c3
Hope I did the right way (but I'm not sure hence, I'm opening this issue).

[2022-10-13 20:15] ann0see commented on #857
Yes. Strictly speaking that was my initial thought of how the (wiki) part is handled:
next-release is "unsupervised" and translators are allowed to work on it directly (for smaller things even without PR), while the PR to release must be verified by wikiadmins.

I think we changed to a dev workflow similar to the website with more "control" meaning PRs are preferred.

[2022-10-14 17:19] henkdegroot commented on #850
@ann0see, I believe I came across a notification which included screenshots to be updated for this release. However, I am not able to find it. Do you know if there are any screenshots to be updated for this release?

[2022-10-14 17:44] pljones commented on #850
You may be thinking of a change that got bumped to 3.10.0.

[2022-10-14 18:03] trebmuh commented on #857
@ann0see OK. I'll try to remember next time to submit a PR instead of straight-committing against next-release.
Thanks for answering me.

[2022-10-14 18:04] #857 closed, assigned to nobody

[2022-10-14 19:43] ann0see commented on #850
It was an error on my side. Sorry.

[2022-10-14 20:36] henkdegroot commented on #850
Translation updated using Weblate.

[2022-10-14 20:55] pljones commented on #850
Thanks, closing.

[2022-10-14 20:55] #850 closed, assigned to henkdegroot

[2022-10-17 19:49] ann0see commented on #846
The startpage has a missing translation. This should be fixed.

[2022-10-18 21:16] ann0see commented on #845
As Korean will go live soon, closing

[2022-10-18 21:16] #845 closed, assigned to nobody

[2022-10-22 21:20] ann0see opened #864 "[Translate] Add Norwegian translation [nb_NO]"
@comradekingu requested to add nb_NO to the website via Weblate

[2022-10-22 21:22] #864 closed, assigned to nobody

[2022-10-23 17:37] trebmuh commented on #848
@ann0see @jujudusud : should we close this issue now that 3.9.1 has been released?

[2022-10-23 18:50] jujudusud commented on #848
There are screenshots to be created before closing.

[2022-10-29 14:42] ignotus666 opened #865 "Add Chinese (simplified) [zh_CN]"
Add files for Chinese (simplified) as requested by @yangyangdaji.

[2022-10-29 15:39] ann0see commented on #865
Ok. This means we also need to update the create-translation-issues script.

[2022-10-30 06:23] yangyangdaji commented on #865
@ignotus666 Thank you

[2022-10-30 20:56] gilgongo commented on #841
I would add to this that I think we should replace the picture of the cloud with a screenshot of the app. I know the UI is a bit outdated by current "flat design" standards, but I think it might help people hook into what Jamulus actually is.

[2022-11-01 12:43] #865 closed, assigned to nobody

[2022-11-01 19:28] #846 closed, assigned to ewarning

[2022-11-01 19:28] #847 closed, assigned to ignotus666

[2022-11-01 19:28] #848 closed, assigned to trebmuh, jujudusud

[2022-11-01 19:28] #849 closed, assigned to dzpex

[2022-11-01 19:28] #851 closed, assigned to melcon, ewarning, Snayler

[2022-11-01 19:28] #854 closed, assigned to nobody

[2022-11-13 15:20] gilgongo commented on #839
Feels like it, yes.

[2022-11-13 15:22] gilgongo commented on #821
Was this a legacy from the Great Rebase Problem a few months ago? Seem to recall we had some naming issue we were fixing at the time that related to Getting Started. I suppose we settled for "Getting Started" instead of Setup though?

[2022-11-13 15:29] gilgongo commented on #729
I've not forgotten about this BTW. I just need to build up the courage to actually do it :-)

[2022-11-13 16:14] ann0see commented on #821
I don't know honestly. But I think the issue should still be open as I thought there are still inconsistencies.

[2022-11-15 21:23] ann0see commented on #817
@ignotus666 Any updates here?

[2022-11-15 21:24] ann0see commented on #824
@mansil @ignotus666 please close tho issue it it's completed.

[2022-11-16 09:46] #824 closed, assigned to ignotus666

[2022-11-16 15:36] ignotus666 commented on #817
Looking into it again. As it involves changes to po4a scripts, workflows, an updated version of po4a and .po files, it has to be done in a series of PRs and in a certain order.

[2022-11-26 11:45] gilgongo commented on #729
OK thinking about the structure of this again, I might try the following layout (these are not actual heading names - decide those later):

- Intro and Concepts (eg requirements, Registered/Unregistered etc.)
- Installation instructions
- Configuration options
- Maintenance/Misc (eg backup, logs, upgrades and links to troubleshooting, points to note about the GUI?)

The Configuration options would